<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/layout}">

<!-- page title -->
<th:block layout:fragment="title">
    <title>B.Link :: General Board</title>
</th:block>

<!-- custom top js -->
<th:block layout:fragment="topScript">
    <script th:inline="javascript">
        /*<![CDATA[*/
        let thisPage = {};
        thisPage['username'] = /*[[${session.username}]]*/'';
        thisPage['fullname'] = /*[[${session.fullname}]]*/'';
        thisPage['bbsId'] = /*[[${bbsId}]]*/'';
        thisPage['bbsAuthor'] = /*[[${bbsAuthor}]]*/'';
        thisPage['detailMode'] = /*[[${detailMode}]]*/'';
        thisPage['maxFileSize'] = /*[[${maxFileSize}]]*/'';
        thisPage['rtnMsg'] = /*[[${rtnMsg}]]*/'';
        thisPage['ctx'] = /*[[@{/}]]*/'/';
        thisPage['appMsg001'] = /*[[#{app.board.notice.m001}]]*/ '';
        thisPage['appMsg002'] = /*[[#{app.board.notice.m002}]]*/ '';
        thisPage['appMsg003'] = /*[[#{app.board.notice.m003}]]*/ '';
        thisPage['appMsg004'] = /*[[#{app.board.notice.m004}]]*/ '';
        thisPage['appMsg005'] = /*[[#{app.board.notice.m005}]]*/ '';
        thisPage['appMsg006'] = /*[[#{app.board.notice.m006}]]*/ '';
        thisPage['appMsg007'] = /*[[#{app.board.notice.m007}]]*/ '';
        thisPage['appMsg008'] = /*[[#{app.board.notice.m008}]]*/ '';
        thisPage['appMsg009'] = /*[[#{app.board.notice.m009}]]*/ '';
        thisPage['appMsg010'] = /*[[#{app.board.notice.m010}]]*/ '';
        thisPage['appMsg010'] = /*[[#{app.board.notice.m011}]]*/ '';
        /*]]>*/
    </script>
</th:block>

<!-- contents container -->
<div class="container" layout:fragment="contents">
    <form id="boardForm">
        <legend>Write General Board</legend>
        <div class="search-group">
            <div class="inr">
                <p class="title"><i class="ico search"></i>Board</p>
                <div class="location">
                    <span><i class="ico home"><em>home</em></i>Board<em>General Board</em></span>
                </div>
                <div class="outgoing-invoice-group mg-t20">
                    <div class="tab-group">
                        <div class="tab-btn rect-type">
                            <a th:href="@{/board}" title="Notice"><button type="button" th:text="#{app.board.notice.m013}" id="generalBoard" class="btn on" style="width:289px">일반 게시판</button></a>
                        </div>
                        <div class="notice tab-box on">
                            <div class="search-group">
                                <div class="inr">
                                    <div class="box">
                                        <div class="select-group">
                                            <div class="select-box fb-half" style="width:558px">
                                                <span th:text="#{app.board.notice.m016}">제목</span>
                                                <div>
                                                    <input type="text" id="bbsTitle" name="bbsTitle">
                                                    <input type="hidden" id="bbsId" name="bbsId">
                                                </div>
                                            </div>
                                            <div class="select-box fb-half" style="width:167px">
                                                <span th:text="#{app.board.notice.m018}">작성자</span>
                                                <div>
                                                    <input type="text" id="bbsAuthor" readOnly>
                                                    <input type="hidden" id="threadOwner" name="bbsAuthor">
                                                </div>
                                            </div>
                                            
                                            <!-- file -->
                                            <div class="select-box file fb-half" style="width:238px;">
                                                <span th:text="#{app.board.notice.m022}">첨부</span>
                                                <!-- //attaching file -->
                                                <div id="attachingFile" style="display:none;">
                                                   <input type="text" id="fileName" name="fileName" readonly>
                                                    <input type="file" id="attachFile" name="attachFile" class="hide">
                                                    <label for="attachFile" class="btn file">Attach</label>
                                                </div>
                                                <!-- attached file -->
                                                <div id="attachedFile" style="display:none;">
                                                    <a href="javascript:;" class="link-file">
                                                        <span class="fileName"></span>
                                                        <button type="button" id="downloadFile" class="btn add">Download</button>
                                                    </a>
                                                </div>
                                                <!-- no file -->
                                                <div id="noFile" style="display:none;">
                                                    <a href="javascript:;" class="link-file">
                                                        <span class="fileName"></span>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- //file -->
                                            
                                            <div class="select-box fb-half" style="width:167px">
                                                <span th:text="#{app.board.notice.m019}">등록일</span>
                                                <div>
                                                    <input type="text" id="createDate" readonly>
                                                </div>
                                            </div>
                                            <div class="select-box textarea" style="width:100%; height:100%">
                                                <span th:text="#{app.board.notice.m023}" style="width:6.5%">내용</span>
                                                <div>
                                                    <textarea id="bbsContent" name="bbsContent" style="height:400px;resize:none;"></textarea>
                                                </div>
                                                <div>(<span id="count">0</span>/<span id="maxCount">1000</span>)</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-group default">
                    <button type="button" id="updateBoard" th:text="#{app.board.notice.m024}" class="btn edit" style="display:none;">수정</button>
                    <button type="button" id="deleteBoard" th:text="#{app.board.notice.m025}" class="btn cancel" style="display:none;">삭제</button>
                    <button type="button" id="writeBoard" th:text="#{app.board.notice.m026}" class="btn add" style="display:none;">등록</button>
                    <button type="button" id="goToList" th:text="#{app.board.notice.m027}" class="btn add">목록</button>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- // contents container -->

<th:block layout:fragment="bottomScript">
    <script type="text/javascript" th:src="@{/js/blink/board/boardDetail.js}"></script>
</th:block>

</html>