<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/layout}">

<!-- page title -->
<th:block layout:fragment="title">
    <title>B.Link :: Notice</title>
</th:block>

<!-- custom top js -->
<th:block layout:fragment="topScript">
    <script th:inline="javascript">
        /*<![CDATA[*/
        let thisPage = {};
        thisPage['username'] = /*[[${session.username}]]*/'';
        thisPage['fullname'] = /*[[${session.fullname}]]*/'';
        thisPage['credentialReset'] = /*[[${credentialReset}]]*/'';
        thisPage['rtnMsg'] = /*[[${rtnMsg}]]*/'';
        thisPage['ctx'] = /*[[@{/}]]*/'/';
        /*]]>*/
    </script>
</th:block>

<!-- contents container -->
<div class="container" layout:fragment="contents">
    <legend>Notice</legend>
    <div class="search-group">
        <div class="inr">
            <p class="title"><i class="ico search"></i>Notice</p>
            <div class="location">
                <span><i class="ico home"><em>home</em></i>Board<em>Notice</em></span>
            </div>
            <div class="outgoing-invoice-group mg-t20">
                <div class="tab-group">
                    <div class="tab-btn rect-type">
                        <a th:href="@{/board}" title="Notice"><button type="button" th:text="#{app.board.notice.m013}" id="generalBoard" class="btn" style="width:289px">일반 게시판</button></a>
                        <button type="button" id="noticeBoard" th:text="#{app.board.notice.m014}" class="btn on" style="width:289px">공지사항</button>
                    </div>
                    <div class="search tab-box on">
                        
                        <form>
                            <legend>Search Notice</legend>
                            <div class="search-group">
                                <div class="inr">
                                    <div class="box board">
                                        <div class="select-group">
                                            <div class="select-box name">
                                                <select id="searchType">
                                                    <option th:text="#{app.board.notice.m015}" value="All">전체</option>
                                                    <option th:text="#{app.board.notice.m016}" value="Title">제목</option>
                                                    <option th:text="#{app.board.notice.m017}" value="Content">내용</option>
                                                </select>
                                            </div>
                                            <div class="select-box">
                                                <input type="text" id="searchKeyword" name="searchKeyword">
                                            </div>
                                        </div>
                                        <button type="button" id="searchBoard" class="btn search">Search</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="list-group">
        <div class="inr">
            <p class="title"><i class="ico list"></i>List</p>
            <!-- @190802 -->
            <div class="table-box">
                <table id="boardDataTables">
                    <colgroup>
                        <col style="width:80px">
                        <col>
                        <col style="width:170px">
                        <col style="width:100px">
                        <col style="width:95px">
                        <col style="width:95px">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>NO</th>
                            <th th:text="#{app.board.notice.m016}">제목</th>
                            <th th:text="#{app.board.notice.m022}">첨부</th>
                            <th th:text="#{app.board.notice.m018}">작성자</th>
                            <th th:text="#{app.board.notice.m019}">등록일</th>
                            <th th:text="#{app.board.notice.m020}">조회</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- 
                        <tr>
                            <td>1</td>
                            <td class="left"><a href="#" title="바로가기" class="color-black">환율정보 안내</a></td>
                            <td>유</td>
                            <td>관리자</td>
                            <td>2019.07.30</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td class="left"><a href="#" title="바로가기" class="color-black">운영자 교육 안내</a></td>
                            <td>유</td>
                            <td>관리자</td>
                            <td>2019.07.30</td>
                            <td>3</td>
                        </tr>
                         -->
                    </tbody>
                </table>
            </div>
            <div th:if="${session.btnRole == 1}" class="btn-group pagination">
                <div class="inr">
                    <a href="javascript:;"><button type="button" th:text="#{app.board.notice.m021}" id="writeBoard" class="btn add">글쓰기</button></a>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- // contents container -->

<th:block layout:fragment="bottomScript">
    <script type="text/javascript" th:src="@{/js/blink/board/notice.js}"></script>
</th:block>

</html>