<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/login-layout}">
    
    <!-- page title -->
    <th:block layout:fragment="title">
        <title>Login</title>
    </th:block>
    
    <!-- custom css -->
    <th:block layout:fragment="css">
        <style th:inline="text">
        </style>
    </th:block>
    
    <!-- custom top js -->
    <th:block layout:fragment="topScript">
        <script type="text/javascript" th:src="@{/js/vendor/js.cookie.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/security/rsa.js}"></script>
        <script type="text/javascript" th:src="@{/js/security/jsbn.js}"></script>
        <script type="text/javascript" th:src="@{/js/security/prng4.js}"></script>
        <script type="text/javascript" th:src="@{/js/security/rng.js}"></script>
        <script th:inline="javascript">
        /*<![CDATA[*/
            let thisPage = {};
            thisPage['username'] = /*[[${session.username}]]*/ '';
            thisPage['rtnMsg'] = /*[[${rtnMsg}]]*/ '';
            thisPage['publickeymodulus'] = /*[[${publickeymodulus}]]*/ '';
            thisPage['publickeyexponent'] = /*[[${publickeyexponent}]]*/ '';
            thisPage['ctx'] = /*[[@{/}]]*/ '/';
            
            // login error message
            thisPage['passwordChanged'] = /*[[#{app.login.m008}]]*/ '';
            thisPage['passwordChangeFailed'] = /*[[#{app.login.m009}]]*/ '';
            thisPage['badCredential'] = /*[[#{app.login.m010}]]*/ '';
            thisPage['badLogin'] = /*[[#{app.login.m011}]]*/ '';
            thisPage['badLogin2'] = /*[[#{app.login.m012}]]*/ '';
            thisPage['resetCredential'] = /*[[#{app.login.m013}]]*/ '';
            thisPage['badCaptcha'] = /*[[#{app.login.m014}]]*/ '';
            thisPage['captchaCreateError'] = /*[[#{app.login.m015}]]*/ '';
            thisPage['newUserAlarm'] = /*[[#{app.login.m016}]]*/ '';
            
            thisPage['appMsg004'] = /*[[#{app.login.m004}]]*/ '';
            thisPage['appMsg017'] = /*[[#{app.login.m017}]]*/ '';
            thisPage['appMsg018'] = /*[[#{app.login.m018}]]*/ '';
            thisPage['appMsg019'] = /*[[#{app.login.m019}]]*/ '';
            thisPage['appMsg020'] = /*[[#{app.login.m020}]]*/ '';
            thisPage['appMsg021'] = /*[[#{app.login.m021}]]*/ '';
            thisPage['appMsg022'] = /*[[#{app.login.m022}]]*/ '';
            thisPage['appMsg023'] = /*[[#{app.login.m023}]]*/ '';
            thisPage['appMsg024'] = /*[[#{app.login.m024}]]*/ '';
            thisPage['appMsg025'] = /*[[#{app.login.m025}]]*/ '';
            thisPage['appMsg026'] = /*[[#{app.login.m026}]]*/ '';
            thisPage['appMsg027'] = /*[[#{app.login.m027}]]*/ '';
            thisPage['appMsg028'] = /*[[#{app.login.m028}]]*/ '';
            thisPage['appMsg029'] = /*[[#{app.login.m029}]]*/ '';
            thisPage['appMsg030'] = /*[[#{app.login.m030}]]*/ '';
            thisPage['appMsg031'] = /*[[#{app.login.m031}]]*/ '';
        /*]]>*/
        </script>
    </th:block>
    
    <!-- contents div -->
<div class="wrap login" layout:fragment="contents">
    
    <div class="login-group">
        <h1>
            <i class="ico login-logo"><em>B-Link</em></i>
        </h1>
        <div class="inr">
            <form>
            
                <div class="select-box select">
                    <div id="locale">
                        <ul>
                            <li><span id="selectedLocale"></span>
                                <div>
                                    <ul id="localeList">
                                        <li th:attr="data-locale=#{app.login.locale.english}"><span th:text="#{app.login.language.english}"></span></li>
                                        <li th:attr="data-locale=#{app.login.locale.korean}"><span th:text="#{app.login.language.korean}"></span></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="select-box">
                    <span th:text="#{app.login.m001}">사용자</span>
                    <div>
                        <input type="text" name="username" id="username" th:placeholder="#{app.login.m001}" 
                        required="required" autocomplete="off" autofocus="autofocus"/>
                    </div>
                </div>
                <div class="select-box pwd error">
                    <span th:text="#{app.login.m002}">비밀번호</span>
                    <div>
                        <input type="password" name="password" id="password"
                               th:placeholder="#{app.login.m002}" autocomplete="off" required="required"/>
                    </div>
                </div>
                <div class="captcha-group">
                    <div class="captcha-box">
                        <span><img src="" id="captchaImage" alt="captcha"></span>
                        <button type="button" id="captchaReload" class="btn captcha-refrash">
                            <i class="ico captcha-refrash"><em>Refresh</em></i>
                        </button>
                    </div>
                    <div class="select-box chptcha error">
                        <div>
                            <i class="ico robot"></i>
                            <input type="text" id="captcha" name="captcha" required="required" autocomplete="off" th:placeholder="#{app.login.m003}"/>
                        </div>
                    </div>
                </div>
                <button type="button" id="loginSubmit" class="btn login-big">Log In</button>
            </form>
            <span th:text="#{app.login.m004}">B.link 시스템은 크롬(Chrome) 브라우저에 최적화 되어있습니다.</span>
            <div class="license"><a href="#" class="license_link" onclick="window.open('/blink/licenseNotice');return false;">License Notice</a></div>
        </div>
    </div>

    <!-- password change modal -->
    <div class="layer-group login" id="pwdChgModal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="layer">
            <div class="inr">
                <form>
                    <p th:text="#{app.login.m005}">비밀번호 변경</p>
                    <div class="select-box">
                        <span th:text="#{app.login.m006}">비밀번호 입력</span>
                        <div>
                            <input type="password" name="password" id="changePassword"
                                   th:placeholder="#{app.login.m006}" autocomplete="off" required="required"/>
                        </div>
                    </div>
                    <div class="select-box">
                        <span th:text="#{app.login.m007}">비밀번호 재입력</span>
                        <div>
                            <input type="password" name="passwordConfirm" id="changePasswordConfirm" class="form-control input-lg"
                                   th:placeholder="#{app.login.m007}" autocomplete="off" required="required"/>
                        </div>
                    </div>
                    <div class="btn-group">
                        <button type="button" id="changePwd" class="btn add" data-dismiss="modal">Change</button>
                        <button type="button" class="btn cancel" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="dim"></div>
    </div>
    <!-- // password change modal -->
    
</div>
    
<!-- bottom js -->
<th:block layout:fragment="bottomScript">
    <script type="text/javascript" th:src="@{/js/common/ajaxCommon.js}"></script>
    <script type="text/javascript" th:src="@{/js/blink/user/login.js}"></script>
</th:block>

</html>