<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    @SQL File Name : DashboardMapper.xml
    @Description : dashboard queries
-->
<mapper namespace="com.kt.blink.biz.dashboard.mapper.DashboardMapper"> 
    
    <!-- find common codes list by cd_grp_id -->
    <select id="findCompList" resultType="CodeInfo">
        /*DashboardMapper.findCompList*/
        SELECT
            tci.cd_id, tci.cd_val1
        FROM tb_cd_info tci 
        INNER JOIN tb_cd_group_info tcgi ON tcgi.cd_group_id = tci.cd_group_id
        WHERE tci.cd_group_id = 'CompanyGroup'
        AND tci.cd_val1 IN (
				            SELECT cd_group_id 
				            FROM tb_cd_info ci
				            WHERE ci.cd_val2 = 'CompanyGroup'
				            AND ci.use_yn = true
				            AND NOT EXISTS (
							           SELECT 1 FROM tb_cd_info b
							          WHERE b.cd_group_id  = 'MyNetwork' 
							           AND ci.cd_id = b.cd_val1
							           AND b.use_yn = true
				                    )
                         )
        AND tci.use_yn = true
        ORDER BY tci.otput_prirt, tci.cd_id        
    </select>
    
    <!-- retrieve getInOutboundAmt -->
    <select id="getInOutboundAmt" parameterType="DashDomain" resultType="DashDomain">
        /*DashboardMapper.getInOutboundAmt*/    
        SELECT
            max_setl_day,
            min_setl_day,
            data_amt,
            voice_amt,
            sms_amt,
            data_amt + voice_amt + sms_amt AS revenue_amt,
            CASE WHEN ROUND((data_amt * 100)/(data_amt + voice_amt + sms_amt),2) > 0 AND ROUND((data_amt * 100)/(data_amt + voice_amt + sms_amt),2) &lt; 1 THEN 1
                  ELSE FLOOR((data_amt * 100)/(data_amt + voice_amt + sms_amt)) END AS data_percnt,
            CASE WHEN ROUND((voice_amt * 100)/(data_amt + voice_amt + sms_amt),2) > 0 AND ROUND((voice_amt * 100)/(data_amt + voice_amt + sms_amt),2) &lt; 1 then 1 
                 ELSE FLOOR((voice_amt * 100)/(data_amt + voice_amt + sms_amt)) END AS voice_percnt,
            CASE WHEN ROUND((sms_amt * 100)/(data_amt + voice_amt + sms_amt),2) > 0 AND ROUND((sms_amt * 100)/(data_amt + voice_amt + sms_amt),2) &lt; 1 then 1
                 ELSE FLOOR((sms_amt * 100)/(data_amt + voice_amt + sms_amt)) END AS sms_percnt,
            cur_cd
        FROM (                 
	        SELECT 
	             TO_CHAR(NOW(),'YYYY-MM-DD') AS max_setl_day,
	             TO_CHAR(DATE_TRUNC('year', now()), 'YYYY-MM-DD') AS min_setl_day,
	             ROUND(SUM(COALESCE(data_setl_amt,0) + 
	                 COALESCE(data_tax_setl_amt,0)), #{precision}::integer) AS data_amt,
	             ROUND(SUM(COALESCE(moc_vo_lo_setl_amt,0) +
	                 COALESCE(moc_vo_home_setl_amt,0) +
	                 COALESCE(moc_vo_intl_setl_amt,0) + 
	                 COALESCE(mtc_vo_setl_amt,0) +
	                 COALESCE(moc_vo_lo_tax_setl_amt,0) +
	                 COALESCE(moc_vo_home_tax_setl_amt,0) +
	                 COALESCE(moc_vo_intl_tax_setl_amt,0) + 
	                 COALESCE(mtc_vo_tax_setl_amt,0)),#{precision}::integer) AS voice_amt,
	             ROUND(SUM(COALESCE(moc_sms_setl_amt,0) +
	                 COALESCE(mtc_sms_setl_amt,0) +
	                 COALESCE(moc_sms_tax_setl_amt,0) +
	                 COALESCE(mtc_sms_tax_setl_amt,0)),#{precision}::integer) AS sms_amt,    
	             MIN(cur_cd) AS cur_cd                      
	        FROM tb_tap_file_sum
	        WHERE setl_month >= TO_CHAR(date_trunc('year', now()),'YYYYMM')
	         AND setl_month &lt;= TO_CHAR(NOW(),'YYYYMM')
	         <choose>
	            <when test='invocDirectCd != null and invocDirectCd == "IN"'>  <!-- inbound -->
	                AND trm_plmn_id IN (SELECT
				                             tci.cd_val1
				                         FROM tb_cd_info tci 
				                         INNER JOIN tb_cd_group_info tcgi
				                         ON tcgi.cd_group_id = tci.cd_group_id
				                         WHERE tci.cd_group_id = 'MyNetwork'
				                         AND tci.use_yn = true)      
	                AND rcv_plmn_id IN (SELECT
				                            tci.cd_val1
				                        FROM tb_cd_info tci INNER JOIN tb_cd_group_info tcgi
				                        ON tcgi.cd_group_id = tci.cd_group_id
				                        WHERE tci.cd_group_id = #{rcvPlmnId}
				                        AND tci.use_yn = true)
	            </when>
	            <otherwise>
		         AND rcv_plmn_id IN (SELECT
			                             tci.cd_val1
			                         FROM tb_cd_info tci 
			                         INNER JOIN tb_cd_group_info tcgi
			                         ON tcgi.cd_group_id = tci.cd_group_id
			                         WHERE tci.cd_group_id = 'MyNetwork'
			                         AND tci.use_yn = true)        
		          AND trm_plmn_id IN (SELECT
			                            tci.cd_val1
			                        FROM tb_cd_info tci INNER JOIN tb_cd_group_info tcgi
			                        ON tcgi.cd_group_id = tci.cd_group_id
			                        WHERE tci.cd_group_id = #{rcvPlmnId}
			                        AND tci.use_yn = true)
	            </otherwise>
	         </choose>
	    ) AS J
    </select>
    
    <!-- retrieve getInOutboundCompAmt -->
    <select id="getInOutboundCompAmt" parameterType="DashDomain" resultType="DashDomain">
        /*DashboardMapper.getInOutboundCompAmt*/
        WITH  eratev AS (SELECT erate_val, tgt_mon FROM tb_erate_info 
                                             WHERE base_isocu_cd = 'SDR' 
                                               AND tgt_isocu_cd = #{curCd})
        SELECT
            COALESCE(#{revenueAmt}, '0')::numeric - ROUND(SUM((SELECT erate_val FROM eratev 
                       WHERE tgt_mon = j.setl_month) * COALESCE(j.sum_amt/j.erate_val,0)),COALESCE(#{precision},'0')::integer) AS comp_amt
        FROM (    
            SELECT
                sum_amt,
                setl_month,
                erate_val
            FROM (         
	            SELECT 
	                 ROUND(SUM(COALESCE(data_setl_amt,0) + 
	                     COALESCE(data_tax_setl_amt,0)), 1) +
	                 ROUND(SUM(COALESCE(moc_vo_lo_setl_amt,0) +
	                     COALESCE(moc_vo_home_setl_amt,0) +
	                     COALESCE(moc_vo_intl_setl_amt,0) + 
	                     COALESCE(mtc_vo_setl_amt,0) +
	                     COALESCE(moc_vo_lo_tax_setl_amt,0) +
	                     COALESCE(moc_vo_home_tax_setl_amt,0) +
	                     COALESCE(moc_vo_intl_tax_setl_amt,0) + 
	                     COALESCE(mtc_vo_tax_setl_amt,0)),1) +
	                 ROUND(SUM(COALESCE(moc_sms_setl_amt,0) +
	                     COALESCE(mtc_sms_setl_amt,0) +
	                     COALESCE(moc_sms_tax_setl_amt,0) +
	                     COALESCE(mtc_sms_tax_setl_amt,0)),1) AS sum_amt,
	                 setl_month,
	                 MAX(cur_cd) AS cur_cd
	            FROM tb_tap_file_sum tfs
	            WHERE setl_month >= TO_CHAR(date_trunc('year', now()),'YYYYMM')
	             AND setl_month &lt;= TO_CHAR(NOW(),'YYYYMM')
	             <choose>
	                <when test='invocDirectCd != null and invocDirectCd == "IN"'>  <!-- inbound -->
	                    AND rcv_plmn_id IN (SELECT
					                             tci.cd_val1
					                         FROM tb_cd_info tci 
					                         INNER JOIN tb_cd_group_info tcgi
					                         ON tcgi.cd_group_id = tci.cd_group_id
					                         WHERE tci.cd_group_id = 'MyNetwork'
					                         AND tci.use_yn = true)      
	                    AND trm_plmn_id IN (SELECT
		                                        tci.cd_val1
		                                    FROM tb_cd_info tci INNER JOIN tb_cd_group_info tcgi
		                                    ON tcgi.cd_group_id = tci.cd_group_id
		                                    WHERE tci.cd_group_id = #{rcvPlmnId}
		                                    AND tci.use_yn = true)
	                </when>
	                <otherwise>
	                 AND trm_plmn_id IN (SELECT
				                             tci.cd_val1
				                         FROM tb_cd_info tci 
				                         INNER JOIN tb_cd_group_info tcgi
				                         ON tcgi.cd_group_id = tci.cd_group_id
				                         WHERE tci.cd_group_id = 'MyNetwork'
				                         AND tci.use_yn = true)        
	                 AND rcv_plmn_id IN (SELECT
	                                        tci.cd_val1
	                                    FROM tb_cd_info tci INNER JOIN tb_cd_group_info tcgi
	                                    ON tcgi.cd_group_id = tci.cd_group_id
	                                    WHERE tci.cd_group_id = #{rcvPlmnId}
	                                    AND tci.use_yn = true)
	                </otherwise>
	             </choose>
	            GROUP BY setl_month
	         ) AS m
            INNER JOIN tb_erate_info rate ON rate.base_isocu_cd = 'SDR' 
                                 AND rate.tgt_mon = m.setl_month
                                 AND rate.tgt_isocu_cd = m.cur_cd   
        ) AS j
    </select>
    
    <!-- retrieve getInOutProcessed -->
    <select id="getInOutProcessed" parameterType="DashDomain" resultType="DashDomain">
        /*DashboardMapper.getInOutProcessed*/
        SELECT 
             TO_CHAR(date_trunc('month', now()),'YYYY-MM-DD') AS min_setl_day,
             TO_CHAR(MAX(sys_recd_cret_dt),'YYYY-MM-DD HH24:MI') AS last_tap_hhmm,  
             ROUND(SUM(COALESCE(data_use_qnt::numeric,0)/(CASE WHEN data_calc_unit = 'KB' THEN 1024*1024
                                                      WHEN data_calc_unit = 'MB' THEN 1024
                                                    ELSE 1 END)
                      ), 2) AS data_qnt,  <!-- KB, MB data_calc_unit GB-->
             ROUND(SUM(
                    (COALESCE(moc_vo_lo_use_qnt,0)::numeric / (CASE WHEN moc_vo_lo_calc_unit = 'SEC' THEN 60*60
                                                          WHEN moc_vo_lo_calc_unit = 'MIN' THEN 60
                                                        ELSE 1 END)) +  
                   (COALESCE(moc_vo_home_use_qnt,0)::numeric / (CASE WHEN moc_vo_home_calc_unit = 'SEC' THEN 60*60
                                                          WHEN moc_vo_home_calc_unit = 'MIN' THEN 60
                                                        ELSE 1 END)) +  
                   (COALESCE(moc_vo_intl_use_qnt,0)::numeric / (CASE WHEN moc_vo_intl_calc_unit = 'SEC' THEN 60*60
                                                          WHEN moc_vo_intl_calc_unit = 'MIN' THEN 60
                                                        ELSE 1 END)) +   
                   (COALESCE(mtc_vo_use_qnt,0)::numeric / (CASE WHEN mtc_vo_calc_unit = 'SEC' THEN 60*60
                                                      WHEN mtc_vo_calc_unit = 'MIN' THEN 60
                                                    ELSE 1 END)) 
                   ), 2) AS voice_qnt,  <!-- SEC MIN --> 
             SUM(COALESCE(moc_sms_recd_cnt,0) +
                   COALESCE(mtc_sms_recd_cnt,0)) AS sms_qnt,    
             MIN(cur_cd) AS cur_cd                      
        FROM tb_tap_file_sum
        WHERE setl_month = TO_CHAR(NOW(),'YYYYMM')
         <choose>
            <when test='invocDirectCd != null and invocDirectCd == "IN"'>  <!-- inbound -->
                AND trm_plmn_id IN (SELECT
		                             tci.cd_val1
		                         FROM tb_cd_info tci 
		                         INNER JOIN tb_cd_group_info tcgi
		                         ON tcgi.cd_group_id = tci.cd_group_id
		                         WHERE tci.cd_group_id = 'MyNetwork'
		                         AND tci.use_yn = true)      
                AND rcv_plmn_id IN (SELECT
                                        tci.cd_val1
                                    FROM tb_cd_info tci INNER JOIN tb_cd_group_info tcgi
                                    ON tcgi.cd_group_id = tci.cd_group_id
                                    WHERE tci.cd_group_id = #{rcvPlmnId}
                                    AND tci.use_yn = true)
            </when>
            <otherwise>
             AND rcv_plmn_id IN (SELECT
		                             tci.cd_val1
		                         FROM tb_cd_info tci 
		                         INNER JOIN tb_cd_group_info tcgi
		                         ON tcgi.cd_group_id = tci.cd_group_id
		                         WHERE tci.cd_group_id = 'MyNetwork'
		                         AND tci.use_yn = true)        
              AND trm_plmn_id IN (SELECT
                                      tci.cd_val1
                                  FROM tb_cd_info tci INNER JOIN tb_cd_group_info tcgi
                                  ON tcgi.cd_group_id = tci.cd_group_id
                                  WHERE tci.cd_group_id = #{rcvPlmnId}
                                  AND tci.use_yn = true)
            </otherwise>
         </choose>
    </select>
    
    <!--  RecvOrPay -->
    <select id="getRecvOrPay" parameterType="DashDomain" resultType="DashDomain">
        /*DashboardMapper.getRecvOrPay*/
        SELECT 
             MAX(payot_cur_cd) AS cur_cd,
             ROUND(SUM(COALESCE(invoc_amt,0)),COALESCE(#{precision},'0')::integer) AS sum_amt,
             TO_CHAR(NOW() - INTERVAL '3 MONTH','YYYY-MM') AS max_setl_day
        FROM tb_invoc_mstr mstr
        WHERE invoc_use_month &lt; TO_CHAR(NOW() - INTERVAL '2 MONTH', 'YYYYMM')
         AND invoc_status_cd = '10'   <!-- open -->
         <choose>
          <when test='invocDirectCd != null and invocDirectCd == "IN"'>  <!-- inbound -->
           AND trm_plmn_id IN (SELECT
                                     tci.cd_val1
                                 FROM tb_cd_info tci 
                                 INNER JOIN tb_cd_group_info tcgi
                                 ON tcgi.cd_group_id = tci.cd_group_id
                                 WHERE tci.cd_group_id = 'MyNetwork'
                                 AND tci.use_yn = true)      
           AND rcv_plmn_id IN (SELECT
                                      tci.cd_val1
                                  FROM tb_cd_info tci INNER JOIN tb_cd_group_info tcgi
                                  ON tcgi.cd_group_id = tci.cd_group_id
                                  WHERE tci.cd_group_id = #{rcvPlmnId}
                                  AND tci.use_yn = true)
          </when>
          <otherwise>
           AND trm_plmn_id IN (SELECT
                                      tci.cd_val1
                                  FROM tb_cd_info tci INNER JOIN tb_cd_group_info tcgi
                                  ON tcgi.cd_group_id = tci.cd_group_id
                                  WHERE tci.cd_group_id = #{rcvPlmnId}
                                  AND tci.use_yn = true) 
           AND rcv_plmn_id IN (SELECT
                                     tci.cd_val1
                                 FROM tb_cd_info tci 
                                 INNER JOIN tb_cd_group_info tcgi
                                 ON tcgi.cd_group_id = tci.cd_group_id
                                 WHERE tci.cd_group_id = 'MyNetwork'
                                 AND tci.use_yn = true)        
          </otherwise>
         </choose>
    </select>
    <!-- comp recv or pay amt -->
    <select id="getCompRecvOrPay" parameterType="DashDomain" resultType="DashDomain">
        /*DashboardMapper.getCompRecvOrPay*/
        WITH  eratev AS (SELECT erate_val, tgt_mon FROM tb_erate_info 
                                             WHERE base_isocu_cd = 'SDR' 
                                               AND tgt_isocu_cd = #{curCd})                            
        SELECT 
             COALESCE(#{sumAmt}, '0')::numeric - ROUND(SUM((SELECT erate_val FROM eratev 
                       WHERE tgt_mon = invoc_use_month) * COALESCE(smstr.invoc_amt/rate.erate_val,0)),COALESCE(#{precision},'0')::integer) AS comp_amt
        FROM tb_invoc_mstr smstr
        LEFT OUTER JOIN tb_erate_info rate ON rate.base_isocu_cd = 'SDR' 
                                  AND rate.tgt_mon = smstr.invoc_use_month
                                  AND rate.tgt_isocu_cd = smstr.payot_cur_cd        
        WHERE invoc_use_month &lt; TO_CHAR(NOW() - INTERVAL '2 MONTH', 'YYYYMM')
         AND invoc_status_cd = '10'   <!-- open -->
        <choose>
            <when test='invocDirectCd != null and invocDirectCd == "IN"'> <!-- outbound -->
             AND rcv_plmn_id IN (SELECT
                                     tci.cd_val1
                                 FROM tb_cd_info tci 
                                 INNER JOIN tb_cd_group_info tcgi
                                 ON tcgi.cd_group_id = tci.cd_group_id
                                 WHERE tci.cd_group_id = 'MyNetwork'
                                 AND tci.use_yn = true)      
             AND trm_plmn_id IN (SELECT
                                      tci.cd_val1
                                  FROM tb_cd_info tci INNER JOIN tb_cd_group_info tcgi
                                  ON tcgi.cd_group_id = tci.cd_group_id
                                  WHERE tci.cd_group_id = #{rcvPlmnId}
                                  AND tci.use_yn = true) 
            </when>
            <otherwise>
             AND rcv_plmn_id IN (SELECT
                                      tci.cd_val1
                                  FROM tb_cd_info tci INNER JOIN tb_cd_group_info tcgi
                                  ON tcgi.cd_group_id = tci.cd_group_id
                                  WHERE tci.cd_group_id = #{rcvPlmnId}
                                  AND tci.use_yn = true) 
             AND trm_plmn_id IN (SELECT
                                     tci.cd_val1
                                 FROM tb_cd_info tci 
                                 INNER JOIN tb_cd_group_info tcgi
                                 ON tcgi.cd_group_id = tci.cd_group_id
                                 WHERE tci.cd_group_id = 'MyNetwork'
                                 AND tci.use_yn = true)        
            </otherwise>
        </choose>
    </select>
    
    <!-- Inbound Commitment -->
    <select id="getInOutCommit" parameterType="DashDomain" resultType="DashDomain">
        /*DashboardMapper.getInOutCommit*/
        SELECT
             mstr.cont_id, 
             trm_plmn_id, 
             rcv_plmn_id, 
             dtl.cont_dtl_id,
             TO_CHAR(cont_st_date,'YYYY-MM-DD') AS min_setl_day, 
             TO_CHAR(cont_exp_date,'YYYY-MM-DD') AS max_setl_day,
             TO_CHAR(NOW(),'YYYY-MM-DD') AS cur_day,
             spcl.fix_amt AS commit_amt, 
             dtl.cont_cur_cd AS cur_cd
        FROM tb_dc_cont_mstr mstr 
        INNER JOIN tb_dc_cont_dtl dtl ON  mstr.cont_id = dtl.cont_id 
                                    AND cont_st_date &lt;= now()
                                    AND cont_exp_date >= now()
                                    AND cont_sttus_cd = 'AGR'
        INNER JOIN tb_dc_cont_spcl_tarif spcl ON dtl.cont_dtl_id =  spcl.cont_dtl_id    
                                    AND spcl.model_type_cd = 'CMIT'
                                    AND spcl.step_no = 1
                                    AND spcl.thrs_type_cd = 'FXC'
        WHERE 1=1
        <choose>
              <when test='invocDirectCd != null and invocDirectCd == "IN"'>  <!-- inbound -->
               AND (<foreach collection="myNets" item="my" index="index" separator="OR">
                        trm_plmn_id LIKE '%' || #{my} || '%'
                     </foreach>)
               AND (<foreach collection="partNets" item="part" index="index" separator="OR">
                        rcv_plmn_id LIKE '%' || #{part} || '%'
                     </foreach>) 
              </when>
              <otherwise>
               AND (<foreach collection="partNets" item="part" index="index" separator="OR">
                        trm_plmn_id LIKE '%' || #{part} || '%'
                     </foreach>)
               AND (<foreach collection="myNets" item="my" index="index" separator="OR">
                        rcv_plmn_id LIKE '%' || #{my} || '%'
                     </foreach>)
              </otherwise>
          </choose>
          ORDER BY spcl.sys_recd_cret_dt DESC
          LIMIT 1
    </select>
    <!-- inbound commitment amt -->
    <select id="getInOutCommitAmt" parameterType="DashDomain" resultType="DashDomain">
        /*DashboardMapper.getInOutCommitAmt*/
        <choose>
        <when test="contDtlId != null and contDtlId != ''">
	        SELECT
	            ROUND((sum_amt*100)/#{commitAmt}::numeric,1) AS percnt,
                'commit' AS data_title
	        FROM (
	            SELECT 
	                  SUM(COALESCE(tfs.moc_vo_lo_setl_amt,0) +
	                      COALESCE(tfs.moc_vo_home_setl_amt,0) +
	                      COALESCE(tfs.moc_vo_intl_setl_amt,0) + 
	                      COALESCE(tfs.mtc_vo_setl_amt,0) +
	                      COALESCE(tfs.moc_sms_setl_amt,0) +
	                      COALESCE(tfs.mtc_sms_setl_amt,0) +
	                      COALESCE(tfs.data_setl_amt,0) + 
	                      COALESCE(tfs.moc_vo_lo_tax_setl_amt,0) +
	                      COALESCE(tfs.moc_vo_home_tax_setl_amt,0) +
	                      COALESCE(tfs.moc_vo_intl_tax_setl_amt,0) + 
	                      COALESCE(tfs.mtc_vo_tax_setl_amt,0) +
	                      COALESCE(tfs.moc_sms_tax_setl_amt,0) +
	                      COALESCE(tfs.mtc_sms_tax_setl_amt,0) +
	                      COALESCE(tfs.data_tax_setl_amt,0)) AS sum_amt
	             FROM tb_tap_cont_sum tfs
                 WHERE cont_dtl_id = COALESCE(#{contDtlId}, '-')
	          ) AS j
	     </when>
         <otherwise>
            SELECT 
                ROUND((SUM(cur_amt) * 100 ) / SUM(bef_amt),1) AS percnt,
                'inv' AS data_title
             FROM ( <!--  current year -->
                SELECT ROUND(invoc_amt/erate_val,0) AS cur_amt, 0 AS bef_amt
                FROM tb_invoc_mstr mstr
		        LEFT OUTER JOIN tb_erate_info rate ON rate.base_isocu_cd = 'SDR' 
		                                  AND rate.tgt_mon = mstr.invoc_use_month
		                                  AND rate.tgt_isocu_cd = mstr.payot_cur_cd 
                WHERE mstr.invoc_use_month LIKE TO_CHAR(NOW(),'YYYY') || '%'
                <choose>
                     <when test='invocDirectCd != null and invocDirectCd == "IN"'>  <!-- inbound -->
                      AND trm_plmn_id IN (SELECT
				                             tci.cd_val1
				                         FROM tb_cd_info tci 
				                         INNER JOIN tb_cd_group_info tcgi
				                         ON tcgi.cd_group_id = tci.cd_group_id
				                         WHERE tci.cd_group_id = 'MyNetwork'
				                         AND tci.use_yn = true)      
                      AND rcv_plmn_id  IN (SELECT
                                               tci.cd_val1
                                           FROM tb_cd_info tci INNER JOIN tb_cd_group_info tcgi
                                           ON tcgi.cd_group_id = tci.cd_group_id
                                           WHERE tci.cd_group_id = #{rcvPlmnId}
                                           AND tci.use_yn = true) 
                     </when>
                     <otherwise>
                      AND trm_plmn_id  IN (SELECT
                                               tci.cd_val1
                                           FROM tb_cd_info tci INNER JOIN tb_cd_group_info tcgi
                                           ON tcgi.cd_group_id = tci.cd_group_id
                                           WHERE tci.cd_group_id = #{rcvPlmnId}
                                           AND tci.use_yn = true)  
                      AND rcv_plmn_id IN (SELECT
				                             tci.cd_val1
				                         FROM tb_cd_info tci 
				                         INNER JOIN tb_cd_group_info tcgi
				                         ON tcgi.cd_group_id = tci.cd_group_id
				                         WHERE tci.cd_group_id = 'MyNetwork'
				                         AND tci.use_yn = true)        
                     </otherwise>
                 </choose>
                UNION ALL  <!-- current year - 1 year -->
                SELECT 0, ROUND(invoc_amt/erate_val,0) AS bef_amt
                FROM tb_invoc_mstr mstr
                LEFT OUTER JOIN tb_erate_info rate ON rate.base_isocu_cd = 'SDR' 
                                          AND rate.tgt_mon = mstr.invoc_use_month
                                          AND rate.tgt_isocu_cd = mstr.payot_cur_cd 
                WHERE mstr.invoc_use_month LIKE TO_CHAR(NOW() - interval '1 year','YYYY') || '%'
                <choose>
                     <when test='invocDirectCd != null and invocDirectCd == "IN"'>  <!-- inbound -->
                      AND mstr.trm_plmn_id IN (SELECT
						                             tci.cd_val1
						                         FROM tb_cd_info tci 
						                         INNER JOIN tb_cd_group_info tcgi
						                         ON tcgi.cd_group_id = tci.cd_group_id
						                         WHERE tci.cd_group_id = 'MyNetwork'
						                         AND tci.use_yn = true)      
                      AND mstr.rcv_plmn_id IN (SELECT
			                                      tci.cd_val1
			                                  FROM tb_cd_info tci INNER JOIN tb_cd_group_info tcgi
			                                  ON tcgi.cd_group_id = tci.cd_group_id
			                                  WHERE tci.cd_group_id = #{rcvPlmnId}
			                                  AND tci.use_yn = true) 
                     </when>
                     <otherwise>
                      AND mstr.trm_plmn_id IN (SELECT
			                                      tci.cd_val1
			                                  FROM tb_cd_info tci INNER JOIN tb_cd_group_info tcgi
			                                  ON tcgi.cd_group_id = tci.cd_group_id
			                                  WHERE tci.cd_group_id = #{rcvPlmnId}
			                                  AND tci.use_yn = true) 
                      AND mstr.rcv_plmn_id IN (SELECT
					                             tci.cd_val1
					                         FROM tb_cd_info tci 
					                         INNER JOIN tb_cd_group_info tcgi
					                         ON tcgi.cd_group_id = tci.cd_group_id
					                         WHERE tci.cd_group_id = 'MyNetwork'
					                         AND tci.use_yn = true)        
                     </otherwise>
                 </choose>
             ) AS res
         </otherwise>        
        </choose>
    </select>
    
</mapper>
