<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
    <div class="footer" th:fragment="footerFragment">
        <script type="text/javascript" th:src="@{/js/common/ajaxCommon.js}"></script>
        <script type="text/javascript" th:src="@{/js/common/commonUI.js}"></script>
        <script type="text/javascript" th:src="@{/js/common/notification.js}"></script>
        <!-- Custom JS -->
        <th:block layout:fragment="bottomScript"></th:block>
    </div>
    
</html>