<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head th:replace="fragments/head :: headFragment"></head>

    <body>
        <!-- wrap div -->
        <div class="wrap gray-type">
        
            <!-- header -->
            <header th:replace="fragments/header :: headerFragment"></header>
            <!-- end header -->
                
            <!-- Left wrap div -->
            <!-- <div th:replace="fragments/leftAside :: leftAsideFragment"></div> -->
            <!-- end Left wrap div -->
                
            <!-- contents container -->
            <div layout:fragment="contents">
            
                <!-- cotents -->
                <!-- cotents -->
                <!-- cotents -->
                <!-- cotents -->
                <!-- cotents -->
                <!-- cotents -->
                <!-- cotents -->
                <!-- cotents -->
                <!-- cotents -->
                <!-- cotents -->
            
            </div>
            <!-- end contents container div -->
            
            <!-- footer -->
            <footer th:replace="fragments/footer :: footerFragment"></footer>
            <!-- end footer -->
            
        </div>
        <!-- end wrap div -->
        
    </body>

</html>