<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head th:replace="fragments/login-head :: headFragment"></head>

    <body>
        <!-- login container -->
        <div layout:fragment="contents">
            <!-- contents -->
            <!-- contents -->
            <!-- contents -->
            <!-- contents -->
        </div>
        <!-- //login container -->
        <th:block layout:fragment="bottomScript"></th:block>
    </body>

</html>