<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
    <head th:fragment="headFragment">
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <th:block layout:fragment="title"><title>B-LINK</title></th:block>
        <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.png}" />
        
        <!--  Vendor CSS -->
        <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/indicator.css}" />
        <!--  Blink CSS -->
        <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/reset.css}" />
        <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/common.css}">
        <!--  Custom CSS -->
        <th:block layout:fragment="css"></th:block>
        
        <!-- Vendor JS -->
        <script type="text/javascript" th:src="@{/js/vendor/jquery-3.4.1.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/vendor/popper.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/vendor/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/vendor/jquery.blockUI.js}"></script>
        <script type="text/javascript" th:src="@{/js/vendor/underscore-1.9.1.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/vendor/moment.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/vendor/currency.min.js}"></script>
        <!-- Custom JS -->
        <th:block layout:fragment="topScript"></th:block>
    </head>
    
</html>