<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/layout}">

<!-- page title -->
<th:block layout:fragment="title">
    <title>B.Link :: TAP Processing &gt; RAP Details</title>
</th:block>

<!-- datatables css area if use -->
<th:block layout:fragment="css">
    <style th:inline="text"></style>
</th:block>

<!-- custom top js -->
<th:block layout:fragment="topScript">
    <script th:inline="javascript">
        /*<![CDATA[*/
        var thisPage = {};
        thisPage['username'] = /*[[${session.username}]]*/'';
        thisPage['rtnMsg'] = /*[[${rtnMsg}]]*/'';
        thisPage['ctx'] = /*[[@{/}]]*/'/';

        thisPage['com.msg.enddaycal'] = /*[[#{com.msg.enddaycal}]]*/ '';    //검색 종료일은 검색 시작일보다 뒤에 있어야 합니다.
        thisPage['com.msg.stdaycal'] = /*[[#{com.msg.stdaycal}]]*/ '';    //검색 시작일은 검색 종료일보다 앞에 있어야 합니다.
        thisPage['com.msg.daycal'] = /*[[#{com.msg.daycal}]]*/ '';    //조회일을 입력해주세요.
        thisPage['rap.alt.day'] = /*[[#{rap.alt.day}]]*/ '';    //검색일의 범위는 60일을 넘을수 없습니다.
        
        /*]]>*/
    </script>
</th:block>

<!-- contents container -->
<div class="container" layout:fragment="contents">
    <div class="search-group">
        <div class="inr">
            <p class="title"><i class="ico search"></i><span th:text="#{rap.list.title}">RAP 내역조회</span></p>
            <div class="location">
                <span><i class="ico home"><em>home</em></i>- TAP Processing - <em th:text="#{rap.list.title}">RAP 내역조회</em></span>
            </div>
            <form>
                <input type="hidden" id="sMyNetworkSel">
                <input type="hidden" id="sPartnersSel">
                <legend>RAP 내역조회 조회</legend>
                <div class="box">
                    <div class="select-group">
	                    <div class="multi-select2 fb-quarter" id="sMyNetworkMulti">
	                        <span th:text="#{rap.search.mynet}">My Network</span>
	                    </div>
	                    <div class="select-box in-date-type fb-quarter">
	                        <span th:text="#{rap.search.stday}">시작일</span>
	                        <div>
	                            <input id="stPeriodDay" type="text" class="datepicker-here" readonly  data-language="en">
	                            <i class="ico calendar calBtnCla"></i>
	                        </div>
	                    </div>
	                    <div class="select-box in-date-type fb-quarter">
	                        <span th:text="#{rap.search.endday}">종료일</span>
	                        <div>
	                            <input id="endPeriodDay" type="text" class="datepicker-here" readonly  data-language="en">
	                            <i class="ico calendar calBtnCla"></i>
	                        </div>
	                    </div>                    
	                    <div class="multi-select fb-quarter"  id="sPartnersMulti">
	                        <span th:text="#{rap.search.partnet}">Partner Network</span>
	                    </div>
	                </div>
                    <button type="button" class="btn search" id="nameSearch1"  th:text="#{btn.search}">Search</button>
                </div>
            </form>
        </div>          
    </div>
    <div class="list-group pd0">
        <div class="inr">
            <p class="title"><i class="ico list"></i>List</p>
            <!-- <div class="search">
                <button type="button" class="btn excel" id="rapExcelDown">Excel<i class="ico excel"></i></button>
            </div> -->
            <div class="table-box scroll">
                <table id="rapList">
                    <colgroup>
                        <col style="width:206px">
                        <col style="width:170px">
                        <col style="width:100px">
                        <col style="width:100px">
                        <col style="width:90px">
                        <col style="width:150px">
                        <col style="width:125px">
                        <col style="width:110px">
                        <col style="width:100px">
                        <col style="width:100px">
                        <col style="width:100px">
                        <col style="width:100px">
                    </colgroup>
                    <thead>
                        <tr>
                            <th th:text="#{rap.list.th.filenm}">File Name</th>
                            <th th:text="#{rap.list.th.time}">Start Time</th>
                            <th th:text="#{rap.list.th.hpmn}">HPMN</th>
                            <th th:text="#{rap.list.th.vpmn}">VPMN</th>
                            <th th:text="#{rap.list.th.recno}">Rec No</th>
                            <th th:text="#{rap.list.th.imsi}">IMSI</th>
                            <th th:text="#{rap.list.th.calltype}">Call Type</th>
                            <th th:utext="#{rap.list.th.cNum}">Called<br>Number</th>
                            <th th:text="#{rap.list.th.dur}">Duration</th>
                            <th th:text="#{rap.list.th.vol}">Volume</th>
                            <th th:text="#{rap.list.th.ecd}">에러코드</th>
                            <th th:text="#{rap.list.th.emsg}">에러사유</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>
<!-- //container -->

<th:block layout:fragment="bottomScript">
    <script type="text/javascript" th:src="@{/js/blink/dch/tap/rapList.js}"></script>
</th:block>

</html>