<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/layout}">

<!-- page title -->
<th:block layout:fragment="title">
    <title>B.Link :: Admin &gt; Exchange Rate Management</title>
</th:block>

<!-- custom css -->
<th:block layout:fragment="css">
    <style th:inline="text">
    </style>
</th:block>

<!-- custom top js -->
<th:block layout:fragment="topScript">
    <!-- jquery dataTables -->
    <script th:inline="javascript">    
        /*<![CDATA[*/
        var thisPage = {};
        thisPage['username'] = /*[[${session.username}]]*/'';
        thisPage['rtnMsg'] = /*[[${rtnMsg}]]*/'';
        thisPage['ctx'] = /*[[@{/}]]*/'/';       
        thisPage['btnRole'] = /*[[${session.btnRole}]]*/''; 

        thisPage['com.save.req'] = /*[[#{com.save.req}]]*/ '';    //저장하시겠습니까?
        thisPage['com.up.req'] = /*[[#{com.up.req}]]*/ '';    //수정하시겠습니까?
        thisPage['erate.msg.decimal'] = /*[[#{erate.msg.decimal}]]*/ '';    //환율은 decimal number로 입력하세요.
        thisPage['erate.msg.dup'] = /*[[#{erate.msg.dup}]]*/ '';    //Period와 Currency가 중복된 자료가 있습니다
        thisPage['erate.msg.baseday'] = /*[[#{erate.msg.baseday}]]*/ '';    //기준일은 Period의 M-1월 일자를 입력해 주세요.
        thisPage['com.tbl.no'] = /*[[#{com.tbl.no}]]*/ '';    //반영할 내용이 없습니다.
        
        
        /*]]>*/
        
        
    </script>
</th:block>

<!-- Contents div -->
<div id="contents" layout:fragment="contents">
    <!-- container -->
        <div class="container">
            <div class="search-group">
                <div class="inr">
                    <p class="title"><i class="ico tap"></i><span th:text="#{erate.title}">환율 정보 관리</span></p>
                    <div class="location">
                        <span><i class="ico home"><em>home</em></i>- Admin - <em th:text="#{erate.title}">Exchange Rate</em></span>
                    </div>
                    <form>
                    <input type="hidden" id="sCurSel">
                        <legend>환율 정보 조회</legend>
                        <div class="box">
                            <div class="select-group">
	                            <div class="select-box in-date-type fb-quarter">
	                                <span th:utext="#{search.tit.period}">Period</span>
	                                <div>
                                        <i class="ico calendar calBtnCla"></i>
                                    <input type="text" id="sPeriod" maxlength="50"  data-min-view="months" data-view="months" data-language="en" readonly="readonly">
                                    </div>
	                            </div>
	                            <div class="multi-select fb-quarter">
	                                <span th:utext="#{search.tit.cur}">Currency</span>
	                            </div>
                                <div class="select-box fb-quarter"></div>
                                <div class="select-box fb-quarter"></div>
	                        </div>    
                            <button type="button" class="btn search" id="Search" th:utext="#{btn.search}">Search</button>
                        </div>
                    </form>
                </div>          
            </div>
            <div class="list-group">
                <div class="inr">
                    <p class="title"><i class="ico list"></i>List</p>
                    <div class="table-box padding5-type">
                        <table id="erateList">
                            <colgroup>
                                <col>
                                <col style="width:190px;">
                                <col>
                                <col>
                                <col>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th th:utext="#{erate.th.period}">Period</th>
                                    <th th:utext="#{erate.th.baseday}">기준일</th>
                                    <th th:utext="#{erate.th.cur}">Currency</th>
                                    <th th:utext="#{erate.th.persdr}">Currency Rate Per SDR</th>
                                    <th th:utext="#{erate.th.regdt}">등록/수정일</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="btn-group pagination">
                        <div class="inr" sec:authorize="hasAuthority('ROLE_ADMIN')">
                            <button type="button" class="btn save" data-toggle="modal" id="add" th:utext="#{btn.new}">추가</button>
                            <button type="button" class="btn cancel" id="update" th:utext="#{btn.up}">저장</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //container -->
        
        
        <!-- layer -->
        <div class="layer-group exchange" id="updateRowModal" style="z-index:10">
            <div class="layer" style="top:35%">
                <div class="inr" style="overflow-y: auto;height:400px;"> <!-- overflow-y: auto -->
                    <form id="erateForm">
                        <p style="margin-bottom:22px;" th:text="#{erate.title}">환율 정보 관리</p>
                        <div class="table-box exchange padding5-type  gray-type">
                            <table class="border0 w100">
                                <colgroup>
                                    <col style="width:184px">
                                    <col style="width:194px">
                                    <col style="width:154px">
                                    <col>
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th th:utext="#{erate.th.period}">Period</th>
                                        <th th:utext="#{erate.th.baseday}">기준일</th>
                                        <th th:utext="#{erate.th.cur}">Currency</th>
                                        <th th:utext="#{erate.th.persdr}">Currency Rate Per SDR</th>
                                    </tr>
                                </thead>
                                <tbody id="erateTbody">
                                    
                                </tbody>
                            </table>
                        </div>
                        <div class="btn-group" style="position: inherit;padding-top: 20px;">
                            <button type="button" class="btn save" id="updateSubmit" th:utext="#{btn.save}">저장</button>
                            <button type="button" class="btn cancel" data-dismiss="modal" >Close</button>
                        </div>
                    </form>
                </div>
                <button type="button" class="btn close" data-dismiss="modal"><i class="ico layer-close"><em>닫기</em></i></button> 
            </div>
            <div class="dim"></div>
        </div>
        <!-- //layer -->
</div>
<!-- end Contents div -->

<th:block layout:fragment="bottomScript">
    <script type="text/javascript" th:src="@{/js/vendor/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/vendor/selector.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/blink/admin/erate/erate.js}"></script>
</th:block>

</html>