@import "./partials/extensions";
@import "./partials/variables";
@import "./vuetify-overrides.scss";


.range-label {
  position: absolute;
  transform: translateY(-10px);
  font-weight: 100;
}
.range-seperator {
  padding: 0.24rem !important;
  hr {
    margin: auto;
    width: 50%;
    border: 0.12rem solid;
  }
}
.no-data {
  font: italic bold 18px Arial;
  padding-left: 18px;
}

.hide-dot {
  .v-timeline-item__dot {
    text-align: center;
    box-shadow: none;
  }
}
.opacity-0 {
  pointer-events: none;
  opacity: 0;
}
a {
  text-decoration: none;
}

a:hover {
  filter: brightness(175%);
}

.col.striped-column-container {
  padding: 0px;
}

.col.striped-column:nth-child(odd) {
  background: #f9f9f9;
}

.col.striped-column:nth-child(even) {

}