<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
     @SQL File Name : ContractMapper.xml 
     @Description : Contract Queries 
-->
<mapper namespace="com.kt.blink.biz.dch.contract.mapper.ContractMapper">

    <!-- Find Master Contracts Between Plmns -->
    <select id="findMasterContractBetweenPlmns" parameterType="ContMstrDomain" resultType="ContMstrDomain">
        /*ContractMapper.findMasterContractBetweenPlmns*/
        SELECT 
            COUNT(1) OVER() AS totalCount,
            b.trm_plmn_id,
            b.rcv_plmn_id,
            b.contr_id,
            b.cont_memo,
            b.sys_recd_cret_dt
        
        FROM 
        (   
            SELECT DISTINCT ON (trm_plmn_id, rcv_plmn_id)
                a.trm_plmn_id,
                a.rcv_plmn_id,
                a.contr_id,
                a.cont_memo,
                a.sys_recd_cret_dt
            
            FROM
            (   
                SELECT
                    cm.trm_plmn_id,
                    cm.rcv_plmn_id,
                    cm.contr_id,
                    cm.cont_memo,
                    cm.sys_recd_cret_dt
                FROM
                    tb_dc_cont_mstr cm
                INNER JOIN (SELECT cd_id FROM tb_cd_info
                    WHERE cd_group_id = 'MyNetwork' ) cd 
                    ON cm.trm_plmn_id LIKE '%' || cd.cd_id || '%'
                    
            UNION ALL
            
                SELECT
                    cm.rcv_plmn_id AS trm_plmn_id,
                    cm.trm_plmn_id AS rcv_plmn_id,
                    cm.contr_id,
                    cm.cont_memo,
                    cm.sys_recd_cret_dt
                FROM
                    tb_dc_cont_mstr cm
                INNER JOIN (SELECT cd_id FROM tb_cd_info 
                    WHERE cd_group_id = 'MyNetwork') cd 
                    ON cm.rcv_plmn_id LIKE '%' || cd.cd_id || '%' 
                    
            ) a
            
            ORDER BY a.trm_plmn_id, a.rcv_plmn_id, a.sys_recd_cret_dt DESC
            
        ) b
        
        <where>
            <if test="trmPlmnId != null and trmPlmnId != ''">
                b.trm_plmn_id LIKE '%' || #{trmPlmnId} || '%'
            </if>
            
            <if test="rcvPlmnId != null and rcvPlmnId != ''">
                AND b.rcv_plmn_id LIKE '%' || #{rcvPlmnId} || '%'
            </if>
            
            <if test="contrId != null and contrId != ''">
                AND b.contr_id = #{contrId}
            </if>
            
            <if test="contMemo != null and contMemo != ''">
                AND b.cont_memo = #{contMemo}
            </if>
        </where>
        
        <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(dataTablesRequest.orderSequel)">
            ORDER BY ${dataTablesRequest.orderSequel}
        </if>
        
        <if test="dataTablesRequest.start != -1">
            LIMIT #{dataTablesRequest.length} OFFSET #{dataTablesRequest.start}
        </if>
    
    </select>
    
    
    <!-- find Carrier Agreement By Plmns -->
    <select id="findMasterContractByPlmn" resultType="String">
        /*ContractMapper.findMasterContractByPlmn*/
        SELECT 
            cont_id
        FROM tb_dc_cont_mstr
        WHERE trm_plmn_id = #{trmPlmnId}
        AND rcv_plmn_id = #{rcvPlmnId}
    </select>
    
    
    <!-- Save Contract Master(Agreement) -->
    <insert id="saveContractMaster">
        /*ContractMapper.saveContractMaster*/
        INSERT INTO tb_dc_cont_mstr 
        (
            cont_id,
            trm_plmn_id,
            rcv_plmn_id,
            cont_type_cd,
            contr_id,
            cont_memo,
            sys_trtr_id,
            sys_svc_id,
            sys_recd_cret_dt
        ) 
        VALUES
        (
            #{contId},
            #{trmPlmnId},
            #{rcvPlmnId},
            #{contTypeCd},
            #{contrId},
            #{contMemo},
            #{sysTrtrId}, 
            #{sysSvcId}, 
            NOW() 
        )
        ON CONFLICT (cont_id)
        DO NOTHING
    </insert>
    
    
    <!-- Save Contract Detail(Contract) -->
    <insert id="saveContractDetail" parameterType="ContDtlDomain">
        /*ContractMapper.saveContractDetail*/
        INSERT INTO tb_dc_cont_dtl
        (
            cont_dtl_id,
            cont_id,
            cont_st_date,
            cont_exp_date,
            cont_exp_noti_date,
            cont_auto_upd_yn,
            cont_dtl_memo,
            cont_cur_cd,
            cont_sttus_cd,
            tax_aply_type_cd,
            tax_aply_pecnt,
            except_aply_call,
            sys_trtr_id,
            sys_svc_id,
            sys_recd_cret_dt
        )
        VALUES
        (
            #{contDtlId},
            #{contId},
            #{contStDate},
            #{contExpDate},
            #{contExpNotiDate},
            #{contAutoUpdYn},
            #{contDtlMemo},
            #{contCurCd},
            #{contSttusCd},
            #{taxAplyTypeCd},
            #{taxAplyPecnt},
            #{exceptAplyCall},
            #{sysTrtrId}, 
            #{sysSvcId}, 
            NOW() 
        )
    </insert>
    
    
    <!-- Save Contract Base Tarif -->
    <insert id="saveContDtlBasTarif" parameterType="ContSpclBasTarifDomain">
        /*ContractMapper.saveContDtlBasTarif*/
        INSERT INTO tb_dc_cont_bas_tarif
        (
            cont_bas_tarif_id,
            call_type_cd,
            stel_tarif,
            stel_vlm,
            stel_unit,
            adtn_fee_type_cd,
            adtn_fee_amt,
            cont_spcl_tarif_id,
            cont_dtl_id,
            tax_aply,
            sys_trtr_id,
            sys_svc_id,
            sys_recd_cret_dt
        )
        VALUES
        (
            #{contBasTarifId},
            #{callTypeCd},
            #{stelTarif},
            #{stelVlm},
            #{stelUnit},
            #{adtnFeeTypeCd},
            #{adtnFeeAmt},
            #{contSpclTarifId},
            #{contDtlId},
            #{taxAply},
            #{sysTrtrId},
            #{sysSvcId},
            NOW()
        )
    </insert>
    
    
    <!-- Save Contract Spcl Base Tarif -->
    <insert id="saveContSpclBasTarif" parameterType="ContSpclBasTarifDomain">
        /*ContractMapper.saveContSpclBasTarif*/
        INSERT INTO tb_dc_cont_bas_tarif
        (
            cont_bas_tarif_id,
            call_type_cd,
            stel_tarif,
            stel_vlm,
            stel_unit,
            adtn_fee_type_cd,
            adtn_fee_amt,
            cont_spcl_tarif_id,
            cont_dtl_id,
            tax_Aply,
            sys_trtr_id,
            sys_svc_id,
            sys_recd_cret_dt
        )
        VALUES
        (
            #{contBasTarifId},
            #{callTypeCd},
            #{stelTarif},
            #{stelVlm},
            #{stelUnit},
            #{adtnFeeTypeCd},
            #{adtnFeeAmt},
            #{contSpclTarifId},
            #{contDtlId},
            #{taxAply},
            #{sysTrtrId},
            #{sysSvcId},
            NOW()
        )
    </insert>
    
    
    <!-- Save Contract Special Tarif -->
    <insert id="saveContSpclTarif" parameterType="ContSpclTarifDomain">
        /*ContractMapper.saveContSpclTarif*/
        INSERT INTO tb_dc_cont_spcl_tarif
        (
            cont_spcl_tarif_id,
            model_type_cd,
            call_type_cd,
            thrs_min,
            thrs_max,
            thrs_unit,
            fix_amt,
            step_no,
            cont_dtl_id,
            fix_amt_date,
            fix_amt_cur,
            spcl_memo,
            spcl_noti_date,
            thrs_type_cd,
            sys_trtr_id,
            sys_svc_id,
            sys_recd_cret_dt
        )
        VALUES
        (
             #{contSpclTarifId},
             #{modelTypeCd},
             #{callTypeCd},
             #{thrsMin},
             #{thrsMax},
             #{thrsUnit},
             #{fixAmt},
             #{stepNo},
             #{contDtlId},
             #{fixAmtDate},
             #{fixAmtCur},
             #{spclMemo}, 
             #{spclNotiDate},
             #{thrsTypeCd},
             #{sysTrtrId},
             #{sysSvcId},
             NOW() 
        )
    </insert>
    
    
    <!-- find Inbound Agreement By Plmns -->
    <select id="findAgreementByPlmns" parameterType="ContMstrDomain" resultType="ContMstrDomain">
        /*ContractMapper.findAgreementByPlmns*/
        SELECT
            cont_id,
            trm_plmn_id,
            rcv_plmn_id,
            cont_type_cd,
            contr_id,
            cont_memo,
            sys_recd_cret_dt
        FROM
            tb_dc_cont_mstr
        WHERE
            trm_plmn_id = #{trmPlmnId}
            AND rcv_plmn_id = #{rcvPlmnId}
        ORDER BY sys_recd_cret_dt DESC, trm_plmn_id, rcv_plmn_id
    </select>
    
    
    <!-- find Inbound Agreement By Plmns 
    <select id="findInboundAgreementByPlmns" parameterType="ContMstrDomain" resultType="ContMstrDomain">
        /*ContractMapper.findInboundAgreementByPlmns*/
        SELECT
            cont_id,
            trm_plmn_id,
            rcv_plmn_id,
            cont_type_cd,
            contr_id,
            cont_memo,
            'IB' AS direction,
            sys_recd_cret_dt
        FROM
            tb_dc_cont_mstr
        WHERE trm_plmn_id = #{trmPlmnId}
        AND rcv_plmn_id = #{rcvPlmnId}
        
        UNION
        
        SELECT
            cont_id,
            trm_plmn_id,
            rcv_plmn_id,
            cont_type_cd,
            contr_id,
            cont_memo,
            'OB' AS direction,
            sys_recd_cret_dt
        FROM
            tb_dc_cont_mstr
        WHERE trm_plmn_id = #{rcvPlmnId}
        AND rcv_plmn_id = #{trmPlmnId}
        
        ORDER BY sys_recd_cret_dt DESC, trm_plmn_id, rcv_plmn_id
    </select>
    -->
    
    <!-- find Outbound Agreement By Plmns 
    <select id="findOutboundAgreementByPlmns" parameterType="ContMstrDomain" resultType="ContMstrDomain">
        /*ContractMapper.findOutboundAgreementByPlmns*/
        SELECT
            cont_id,
            trm_plmn_id,
            rcv_plmn_id,
            cont_type_cd,
            contr_id,
            cont_memo,
            'IB' AS direction,
            sys_recd_cret_dt
        FROM
            tb_dc_cont_mstr
        WHERE trm_plmn_id = #{rcvPlmnId}
        AND rcv_plmn_id = #{trmPlmnId}
        
        UNION
        
        SELECT
            cont_id,
            trm_plmn_id,
            rcv_plmn_id,
            cont_type_cd,
            contr_id,
            cont_memo,
            'OB' AS direction,
            sys_recd_cret_dt
        FROM
            tb_dc_cont_mstr
        WHERE trm_plmn_id = #{trmPlmnId}
        AND rcv_plmn_id = #{rcvPlmnId}
        
        ORDER BY sys_recd_cret_dt DESC, trm_plmn_id, rcv_plmn_id
    </select>
    -->
    
    <!-- find Contracts By Contract Id -->
    <select id="findContractByContId" resultType="ContDtlDomain">
        /*ContractMapper.findContractByContId*/
        SELECT
            cont_id,
            cont_dtl_id,
            cont_st_date,
            cont_exp_date,
            cont_exp_noti_date,
            cont_auto_upd_yn,
            cont_dtl_memo,
            cont_cur_cd,
            tax_aply_type_cd,
            tax_aply_pecnt,
            except_aply_call,
            bc_cont_id,
            cont_sttus_cd,
            sys_trtr_id,
            sys_svc_id,
            sys_recd_cret_dt,
            sys_recd_chg_dt
        FROM tb_dc_cont_dtl
        WHERE cont_id = #{contId}
        ORDER BY sys_recd_cret_dt DESC
    </select>
    
    
    <!-- find Contracts By Agreement Id and Contract Id -->
    <select id="findContDtlByContIdAndConDtlId" resultType="ContDtlDomain">
        /*ContractMapper.findContDtlByContIdAndConDtlId*/
        SELECT
            cont_id,
            cont_dtl_id,
            cont_st_date,
            cont_exp_date,
            cont_exp_noti_date,
            cont_auto_upd_yn,
            cont_dtl_memo,
            cont_cur_cd,
            tax_aply_type_cd,
            tax_aply_pecnt,
            except_aply_call,
            bc_cont_id,
            cont_sttus_cd,
            sys_trtr_id,
            sys_svc_id,
            sys_recd_cret_dt,
            sys_recd_chg_dt
        FROM tb_dc_cont_dtl
        WHERE cont_id = #{contId}
        AND cont_dtl_id = #{contDtlId}
    </select>
    
    
    <!-- find Contract Base Tarif By Contract Id -->
    <select id="findContBasTarifsByContDtlId" resultType="ContBasTarifDomain">
        /*ContractMapper.findContBasTarifsByContDtlId*/
        SELECT
            cont_bas_tarif_id,
            call_type_cd,
            stel_tarif,
            stel_vlm,
            stel_unit,
            adtn_fee_type_cd,
            adtn_fee_amt,
            cont_spcl_tarif_id,
            cont_dtl_id,
            tax_aply,
            sys_trtr_id,
            sys_svc_id,
            sys_recd_cret_dt,
            sys_recd_chg_dt
        FROM tb_dc_cont_bas_tarif
        WHERE cont_dtl_id = #{contDtlId}
        AND cont_spcl_tarif_id IS NULL
    </select>
    
    
    <!-- find Contract Special Tarif By Contract Id -->
    <select id="findContSpclTarifsByContDtlId" resultType="ContSpclTarifDomain">
        /*ContractMapper.findContSpclTarifsByContDtlId*/
        SELECT
            cont_spcl_tarif_id,
            model_type_cd,
            call_type_cd,
            thrs_min,
            thrs_max,
            thrs_unit,
            fix_amt,
            step_no,
            cont_dtl_id,
            fix_amt_date,
            fix_amt_cur,
            spcl_memo,
            spcl_noti_date,
            thrs_type_cd,
            sys_trtr_id,
            sys_svc_id,
            sys_recd_cret_dt,
            sys_recd_chg_dt
        FROM tb_dc_cont_spcl_tarif
        WHERE cont_dtl_id = #{contDtlId}
    </select>
    
    
    <!-- find Contract Special Tarif Detail By Contract Id And ContSpclTarifId-->
    <select id="findContSpclBasTarifsByContDtlIdAndContSpclTarifId" resultType="ContSpclBasTarifDomain">
        /*ContractMapper.findContSpclBasTarifsByContDtlIdAndContSpclTarifId*/
        SELECT
            cont_bas_tarif_id,
            call_type_cd,
            stel_tarif,
            stel_vlm,
            stel_unit,
            adtn_fee_type_cd,
            adtn_fee_amt,
            cont_spcl_tarif_id,
            cont_dtl_id,
            tax_aply,
            sys_trtr_id,
            sys_svc_id,
            sys_recd_cret_dt,
            sys_recd_chg_dt
        FROM tb_dc_cont_bas_tarif
        WHERE cont_dtl_id = #{contDtlId}
        AND cont_spcl_tarif_id = #{contSpclTarifId}
    </select>
    
    
    <!-- Update Contract By ContId & ContDtlId -->
    <update id="updateContractDetail">
        /*ContractMapper.updateContractDetail*/
        UPDATE tb_dc_cont_dtl 
        SET
            cont_st_date = #{contStDate},
            cont_exp_date = #{contExpDate},
            cont_exp_noti_date = #{contExpNotiDate},
            cont_auto_upd_yn = #{contAutoUpdYn},
            cont_dtl_memo = #{contDtlMemo},
            cont_cur_cd = #{contCurCd},
            cont_sttus_cd = #{contSttusCd},
            tax_aply_type_cd = #{taxAplyTypeCd},
            tax_aply_pecnt = #{taxAplyPecnt},
            except_aply_call = #{exceptAplyCall},
            sys_trtr_id = #{sysTrtrId},
            sys_svc_id = #{sysSvcId},
            sys_recd_chg_dt = NOW()
        WHERE cont_dtl_id = #{contDtlId}
        AND cont_id = #{contId}
    </update>
    
    
    <!-- Delete Contract BasTarif By ContDtlId -->
    <delete id="deleteContDtlBasTarifByContDtlId">
        /*ContractMapper.deleteContDtlBasTarifByContDtlId*/
        DELETE FROM tb_dc_cont_bas_tarif 
        WHERE cont_dtl_id = #{contDtlId}
    </delete>
    
    
    <!-- Delete Contract SpclTarif By ContDtlId -->
    <delete id="deleteContSpclTarifByContDtlId">
        /*ContractMapper.deleteContSpclTarifByContDtlId*/
        DELETE FROM tb_dc_cont_spcl_tarif 
        WHERE cont_dtl_id = #{contDtlId}
    </delete>
    
    
    <!-- Update Outbound Contract Status To Agreed or Declined By ContId & ContDtlId -->
    <update id="updateOutboundContractStatus">
        /*ContractMapper.updateOutboundContractStatus*/
        UPDATE tb_dc_cont_dtl 
        SET
            cont_sttus_cd = #{contSttusCd},
            sys_trtr_id = #{sysTrtrId},
            sys_svc_id = #{sysSvcId},
            sys_recd_chg_dt = NOW()
        WHERE cont_dtl_id = #{contDtlId}
        AND cont_id = #{contId}
    </update>
    
    
    <!-- find contract detail id by contract id -->
    <select id="findContractDtlIdById" resultType="String">
        /*ContractMapper.findContractDtlIdById*/
        SELECT
            cont_dtl_id
        FROM tb_dc_cont_dtl
        WHERE cont_id = #{contId}
    </select>
    
    
    <!-- [API] find Contract Master Info -->
    <select id="retrieveContractMasterInfo" resultType="ContractMasterDomain">
        /*ContractMapper.retrieveContractMasterInfo*/
        SELECT
            cont_id,
            trm_plmn_id,
            rcv_plmn_id,
            contr_id,
            cont_memo,
            cont_type_cd
        FROM
            tb_dc_cont_mstr
        WHERE
            cont_id = #{contId}
    </select>
    
    
    <!-- [API] find contract detail info -->
    <select id="retrieveContractDetailInfo" resultType="ContractDetailDomain">
        /*ContractMapper.retrieveContractDetailInfo*/
        SELECT 
            COALESCE(a.cont_id,'') cont_id
            ,COALESCE(a.cont_type_cd,'') cont_type_cd
            ,COALESCE(a.cont_memo,'') cont_memo
            ,COALESCE(a.trm_plmn_id,'') trm_plmn_id
            ,COALESCE(a.rcv_plmn_id,'') rcv_plmn_id
            ,COALESCE(a.contr_id,'') contr_id
            ,COALESCE(b.cont_dtl_id,'') cont_dtl_id
            ,COALESCE(b.cont_id,'') cont_id
            ,COALESCE(TO_CHAR(b.cont_st_date,'YYYYMMDD'),'') cont_st_date
            ,COALESCE(TO_CHAR(b.cont_exp_date, 'YYYYMMDD'), '') cont_exp_date
            ,COALESCE(TO_CHAR(b.cont_exp_noti_date,'YYYYMMDD'),'') cont_exp_noti_date
            ,COALESCE(b.cont_auto_upd_yn,'') cont_auto_upd_yn
            ,COALESCE(b.cont_dtl_memo,'') cont_dtl_memo
            ,COALESCE(b.cont_cur_cd,'') cont_cur_cd
            ,COALESCE(b.cont_sttus_cd,'') cont_sttus_cd
            ,COALESCE(b.except_aply_call,'') except_aply_call
            ,COALESCE(b.bc_cont_id,'') bc_cont_id
            ,COALESCE(c.tax_no,'') tax_no
            ,COALESCE(b.tax_aply_pecnt, 0) tax_aply_pecnt
            ,COALESCE(b.tax_aply_type_cd,'') tax_aply_type_cd
            ,COALESCE(c.cmpn_id, '') cmpn_id
            ,COALESCE(c.cmpn_nm,'') cmpn_nm
            ,COALESCE(c.cmpn_adr,'') cmpn_adr
        FROM tb_dc_cont_mstr a, tb_dc_cont_dtl b,
            (SELECT cmpn_id, cmpn_nm, cmpn_adr, tax_no FROM tb_cmpn_info WHERE my_cmpn_yn = 'Y') c
        WHERE b.cont_dtl_id = #{contDtlId} 
            AND a.cont_id = b.cont_id
    </select>
    
    
    <!-- [API] find contract detail base tarif info -->
    <select id="retrieveContractBaseTarif" resultType="ContractBaseTarifDomain">
        /*ContractMapper.retrieveContractBaseTarif*/
        select 
            cont_bas_tarif_id
            ,COALESCE(cont_dtl_id,'') cont_dtl_id
            ,COALESCE(cont_spcl_tarif_id,'') cont_spcl_tarif_id
            ,COALESCE(call_type_cd,'') call_type_cd
            ,COALESCE(tax_aply,'') tax_aply
            ,COALESCE(stel_tarif, 0) stel_tarif
            ,COALESCE(stel_vlm, 0) stel_vlm
            ,COALESCE(stel_unit,'') stel_unit
            ,COALESCE(adtn_fee_type_cd,'') adtn_fee_type_cd
            ,COALESCE(adtn_fee_amt, 0) adtn_fee_amt
        FROM tb_dc_cont_bas_tarif 
        WHERE cont_dtl_id = #{contDtlId}
        <if test="tarifType != null and tarifType == 'bas'">
            AND cont_spcl_tarif_id IS NULL
        </if>
        <if test="tarifType != null and tarifType == 'spcl'">
            AND cont_spcl_tarif_id = #{contSpclTarifId}
        </if>
    </select>
    
    
    <!-- [API] find contract detail special tarif info -->
    <select id="retrieveContractSpclTarif" resultType="ContractSpclTarifDomain">
        /*ContractMapper.retrieveContractSpclTarif*/
        select 
            cont_spcl_tarif_id
            ,COALESCE(cont_dtl_id,'') cont_dtl_id
            ,COALESCE(model_type_cd,'') model_type_cd
            ,COALESCE(call_type_cd,'') call_type_cd
            ,COALESCE(thrs_min, 0) thrs_min
            ,COALESCE(thrs_max, 0) thrs_max
            ,COALESCE(thrs_unit,'') thrs_unit
            ,COALESCE(thrs_type_cd,'') thrs_type_cd
            ,step_no
            ,COALESCE(TO_CHAR(fix_amt_date,'YYYYMMDD'),'') fix_amt_date
            ,COALESCE(fix_amt,0) fix_amt
            ,COALESCE(fix_amt_cur, '') fix_amt_cur
            ,COALESCE(spcl_memo,'') spcl_memo
            ,spcl_noti_date
        FROM tb_dc_cont_spcl_tarif 
        WHERE cont_dtl_id = #{contDtlId}
        order by step_no asc
    </select>
    
</mapper>
