<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">

<!-- page title -->
<th:block layout:fragment="title">
    <title>B.Link :: Board &gt; Todo List</title>
</th:block>

<!-- custom css -->
<th:block layout:fragment="css">
    <style th:inline="text">
    </style>
</th:block>

<!-- custom top js -->
<th:block layout:fragment="topScript">
    <!-- jquery dataTables -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        var thisPage = {};
        thisPage['username'] = /*[[${session.username}]]*/'';
        thisPage['rtnMsg'] = /*[[${rtnMsg}]]*/'';
        thisPage['ctx'] = /*[[@{/}]]*/'/';
        thisPage['btnRole'] = /*[[${session.btnRole}]]*/'';
        //message        
        thisPage['todo.btn.new'] = /*[[#{todo.btn.new}]]*/ '';    // 신규
        thisPage['todo.btn.cmpl'] = /*[[#{todo.btn.cmpl}]]*/ '';    //완료
        thisPage['todo.msg.cmpl'] = /*[[#{todo.msg.cmpl}]]*/ '';    //완료처리 하시겠습니까?
      
        /*]]>*/
    </script>
</th:block>

<!-- Contents div -->
<div id="contents" layout:fragment="contents">
        <!-- container -->
        <div class="container">
            <div class="search-group">
                <div class="inr">
                    <p class="title"><i class="ico list"></i><span th:text="#{todo.title}">나의 할일</span></p> 
                    <div class="location">
		                <span><i class="ico home"><em>home</em></i>- Board - <em th:text="#{todo.title}">My Todo List</em></span>
		            </div>
		            
		        </div>
		    </div>
		    
		    <div class="list-group pd0">
                <div class="inr">
                    <div class="table-box mt-2">
                        <table id="todoList">
                            <colgroup>
                                <col style="width:80px">
                                <col style="width:150px">
                                <col style="width:180px">
                                <col>
                                <col style="width:100px">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th th:utext="#{todo.list.no}">No</th>
                                    <th th:utext="#{todo.list.day}">날짜</th>
                                    <th th:utext="#{todo.list.type}">유형</th>
                                    <th th:utext="#{todo.list.content}">내용</th>
                                    <th th:utext="#{todo.list.stat}">상태</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- //container -->
</div>
<!-- end Contents div -->

<th:block layout:fragment="bottomScript">
    <script type="text/javascript" th:src="@{/js/blink/todo/todo.js}"></script>
</th:block>

</html>