<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/layout}">

<!-- page title -->
<th:block layout:fragment="title">
    <!-- <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/chartlist.min.css}"> -->
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/tui-chart.min.css}">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/jquery-ui.min.css}">
    <title>B.Link :: DashBoard</title>
</th:block>

<th:block layout:fragment="css">
    <style th:inline="text">
    </style>
</th:block>
<!-- custom top js -->
<th:block layout:fragment="topScript">
    <script th:inline="javascript">
        /*<![CDATA[*/
        let thisPage = {};
        thisPage['username'] = /*[[${session.username}]]*/'';
        thisPage['fullname'] = /*[[${session.fullname}]]*/'';
        thisPage['btnRole'] = /*[[${session.btnRole}]]*/'';
        thisPage['credentialReset'] = /*[[${credentialReset}]]*/'';
        thisPage['rtnMsg'] = /*[[${rtnMsg}]]*/'';
        thisPage['ctx'] = /*[[@{/}]]*/'/';
        
        thisPage['prediction'] = /*[[#{dash.sales.predic}]]*/ '';    //예측
        /*]]>*/
    </script>
</th:block>

<!-- contents container -->
<div class="container" layout:fragment="contents" style="padding-top:25px;">
    
    <!-- <div class="container"> -->
            <div class="dashboard-group">
                <div class="inr">
                    <div class="blink-box">
                        <div class="logo-box"><i class="ico dashboard-logo"><em>B.Link</em></i></div>
                        <div class="plmn-box">
                            <div class="plmn-company-txt">
                                <p th:text="${session.company}"></p> 
                            </div>
                            <div class="plmn-company-select">
                                <div class="single-select"></div>
                            </div>
                        </div>
                    </div>
                    <div class="line-graph-group">
                        <div class="graph-state">
                            <p th:text="#{dash.salesstat}" id="outgoingTitId"></p>
                            <p th:text="#{dash.expstat}" id="incomingTitId" style="display:none;"></p>
                            <div class="dashboard-btn">
                                <button class="btn save show-ib">Outgoing</button>
                                <button class="btn cancel show-ob">Incoming</button>
                            </div>
                        </div>
                        <div class="line-graph ib">
                            <div id="inboundLineChart"></div>  <!-- inbound line chart -->
                        </div>
                        <div class="line-graph ob">
                            <div id="outboundLineChart"></div>  <!-- outbound line chart -->
                        </div>
                    </div>
                </div>
                <div class="inr">
                    <p class="dash-info">Date Format: YYYY-MM-DD</p>
                    <div class="pie-total-group">
                        <p class="title dtooltip" id="totRevTooltip">Total Revenue</p>
                        <div class="inr">
                            <span class="dash-period" id="totRevPeriod"></span>
                            <div class="currency" id="totRevVal">
                                <span class="currency-amount"><em></em></span>
                            </div>
                            <div class="chart-list">
                                <ul>
                                    <li class="line-a"><em></em><span>Data</span><span id="totRevDataVal"></span></li>
                                    <li class="line-b"><em></em><span>Voice</span><span id="totRevVocaVal"></span></li>
                                    <li class="line-c"><em></em><span>SMS</span><span id="totRevSmsVal"></span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="inr">
                            <div id="pie-areaTotRevPieChart">  <!-- total Revenue pie chart -->
                            </div>
                        </div>
                    </div>
                    <div class="processing-group">
                        <p class="title">Processed</p>
                        <div class="inr">
                            <span class="dash-period" id="revTapLastHhmm"></span>
                            <ul>
                                <li>
                                    <span class="icon"><i class="ico voice"></i></span>
                                    <span>
                                        <em>VOICE</em>
                                        <span id="revVoiceQnt"></span>
                                        <em>Hour</em>
                                    </span>
                                </li>
                                <li>
                                    <span class="icon"><i class="ico data"></i></span>
                                    <span>
                                        <em>DATA</em>
                                        <span id="revDataQnt"></span>
                                        <em>GB</em>
                                    </span>
                                </li>
                                <li>
                                    <span class="icon"><i class="ico sms"></i></span>
                                    <span>
                                        <em>SMS</em>
                                        <span id="revSmsQnt"></span>
                                        <em>Occ</em>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="receivable-group">
                        <p class="title dtooltip" id="revReceiTooltip" data-toggle="tooltip">Outstanding Receivable</p>
                        <div class="inr">
                            <span class="dash-period" id="revReceiPeriod"></span>
                            <span class="receivable" id="revReceiAmt" style="left:140px;">
                                <em></em>
                                <em></em>
                            </span>
                        </div>
                    </div>
                    <div class="commitment-group">
                        <p class="title" id="inCommitTitId">Commitment</p>
                        <div class="inr col">
                            <span class="dash-period" id="inCommitPeriod"></span>
                            <div id="pie-areaInCommitPieChart">  <!-- revenue commitment pie chart -->
                                <div class="chart-percent" id="inCommitPercnt"><span></span></div>
                                <span id="inCommitAmt"><em></em></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inr">
                    <div class="pie-total-group">
                        <p class="title dtooltip" id="totExpTooltip">Total Expenses</p>
                        <div class="inr">
                            <span class="dash-period" id="totExpPeriod"></span>
                            <div class="currency" id="totExpVal">
                                <em></em>
                            </div>
                            <div class="chart-list">
                                <ul>
                                    <li class="line-a"><em></em><span>Data</span><span id="totExpDataVal"></span></li>
                                    <li class="line-b"><em></em><span>Voice</span><span id="totExpVocaVal"></span></li>
                                    <li class="line-c"><em></em><span>SMS</span><span id="totExpSmsVal"></span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="inr col"><!-- expense pie chart -->
                            <div id="pie-areaTotExpPieChart">  
                            </div>
                        </div>
                    </div>
                    <div class="processing-group">
                        <p class="title">Processed</p>
                        <div class="inr">
                            <span class="dash-period" id="expTapLastHhmm"></span>
                            <ul>
                                <li>
                                    <span class="icon"><i class="ico voice"></i></span>
                                    <span>
                                        <em>VOICE</em>
                                        <span id="expVoiceQnt"></span>
                                        <em>Hour</em>
                                    </span>
                                </li>
                                <li>
                                    <span class="icon"><i class="ico data"></i></span>
                                    <span>
                                        <em>DATA</em>
                                        <span id="expDataQnt"></span>
                                        <em>GB</em>
                                    </span>
                                </li>
                                <li>
                                    <span class="icon"><i class="ico sms"></i></span>
                                    <span>
                                        <em>SMS</em>
                                        <span id="expSmsQnt"></span>
                                        <em>Occ</em>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="receivable-group">
                        <p class="title dtooltip" id="expReceiTooltip">Outstanding Payable</p>
                        <div class="inr">
                            <span class="dash-period" id="expReceiPeriod"></span>
                            <span class="receivable" id="expReceiAmt" style="left:155px;">
                                <em></em>
                                <em></em>
                            </span>
                        </div>
                    </div>
                    <div class="commitment-group">
                        <p class="title" id="outCommitTitId">Commitment</p>
                        <div class="inr col">
                            <span class="dash-period" id="outCommitPeriod"></span>
                            <div id="pie-areaOutCommitPieChart">  <!-- expenseCommitment pie chart -->
                                <div class="chart-percent" id="outCommitPercnt"><span></span></div>
                                <span  id="outCommitAmt"><em></em></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    
<!-- </div> -->
<!-- // contents container -->

<th:block layout:fragment="bottomScript">
    <script type="text/javascript" th:src="@{/js/vendor/tui-code-snippet.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/vendor/raphael.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/vendor/tui-chart.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/vendor/jquery.waypoints.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/vendor/jquery.countup.js}"></script>
    <!-- <script type="text/javascript" th:src="@{/js/vendor/jquery-ui.js}"></script> -->
    <script type="text/javascript" th:src="@{/js/vendor/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/blink/dashboard/dashboard.js}"></script>
</th:block>

</html>