<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
     @SQL File Name : RapMapper.xml 
     @Description : rap Queries 
-->
<mapper namespace="com.kt.blink.biz.dch.tap.mapper.RapMapper">

    <!-- retrieve rap list -->
    <select id="retrieveRapList" parameterType="InvoiceDomain" resultType="RapDomain">
        /*RapMapper.retrieveRapList*/
        SELECT
            <choose>
                <when test="totalCount != null and totalCount > 0">
            #{totalCount}::numeric AS totalCount,                 
                </when>
                <otherwise>
            COUNT(1) OVER() AS totalCount, 
                </otherwise>
            </choose>
            roam_file_nm AS file_nm,
            local_time AS file_cret_dt_val,
            TO_CHAR(TO_TIMESTAMP(local_time,'YYYYMMDDHH24MISS'),'YYYY-MM-DD HH24:MI:SS') AS file_cret_dt_val_view,
            recd_no,
            call_type_id,
            (SELECT
                 tci.cd_val1
             FROM tb_cd_info tci 
             INNER JOIN tb_cd_group_info tcgi
             ON tcgi.cd_group_id = tci.cd_group_id
             WHERE tci.cd_group_id = 'CallType'
             AND tci.cd_id = call_type_id
             AND tci.use_yn = true ) AS call_type_id_nm,
            imsi_id,
            calld_no,
            trm_plmn_id,
            rcv_plmn_id,
            tot_call_durat AS duration,
            COALESCE(data_vlm_inpt_val,0) + COALESCE(data_vlm_otput_val,0) AS volume,
            err_cd,
            err_desc AS errCdNm
        FROM tb_tapout_recd_dtl
        WHERE trt_sttus_cd = 'E'    
          AND local_time >= #{stPeriodDay}||'000000' 
          AND local_time &lt;= #{endPeriodDay}||'595959' 
        
            <if test="trmPlmnId != null and trmPlmnId != ''">
              AND trm_plmn_id IN (
	            <foreach collection="trmPlmnIds" item="my" separator=",">
	                         #{my}
	            </foreach>
	           )
            </if>
            <if test="trmPlmnId == null or trmPlmnId == ''">
              AND trm_plmn_id IN (SELECT
	                             tci.cd_val1
	                         FROM tb_cd_info tci 
	                         INNER JOIN tb_cd_group_info tcgi
	                         ON tcgi.cd_group_id = tci.cd_group_id
	                         WHERE tci.cd_group_id = 'MyNetwork'
	                         AND tci.use_yn = true)
            </if>            
            
            <if test="rcvPlmnId != null and rcvPlmnId != ''">
            AND rcv_plmn_id IN (
                <foreach collection="rcvPlmnIds" item="partner" separator=",">
                             #{partner}
                </foreach>
               )
            </if>
            <if test="rcvPlmnId == null or rcvPlmnId == ''">
            AND rcv_plmn_id IN (
                SELECT
		          plmn.plmn_id
		        FROM tb_plmn_info plmn
		        WHERE NOT EXISTS (SELECT '1' FROM tb_cd_info tci 
		                            INNER JOIN tb_cd_group_info tcgi
		                            ON tcgi.cd_group_id = tci.cd_group_id
		                            WHERE tci.cd_group_id = 'MyNetwork'
		                            AND tci.use_yn = true 
		                            AND plmn.plmn_id = tci.cd_id)
               )
            </if>
            
        <if test="dataTablesRequest.orderSequel != null and dataTablesRequest.orderSequel != ''">
            ORDER BY ${dataTablesRequest.orderSequel}
        </if>
        <if test="dataTablesRequest.start != -1">
        LIMIT #{dataTablesRequest.length} OFFSET #{dataTablesRequest.start}  
        </if>
    </select>
    
    <!-- rap total count -->
    <select id="getRapCnt" parameterType="InvoiceDomain" resultType="long">
        /*RapMapper.getRapCnt*/
        SELECT
            COUNT(1) AS totalCount
        FROM tb_tapout_recd_dtl
        WHERE trt_sttus_cd = 'E'    
          AND local_time >= TO_CHAR(#{stPeriodDay}::timestamp,'YYYYMMDDHH24MISS')
          AND local_time &lt; TO_CHAR(#{endPeriodDay}::timestamp + INTERVAL '1 DAY','YYYYMMDDHH24MISS')
            <if test="trmPlmnId != null and trmPlmnId != ''">
              AND trm_plmn_id IN (SELECT UNNEST(STRING_TO_ARRAY(#{trmPlmnId}, ','))) 
            </if>            
            <if test="rcvPlmnId != null and rcvPlmnId != ''">
              AND rcv_plmn_id IN (SELECT UNNEST(STRING_TO_ARRAY(#{rcvPlmnId}, ','))) 
            </if>
    </select>

    <!-- retrieve rap list -->
    <select id="retrieRapList" parameterType="InvoiceDomain" resultType="RapDomain">
        /*RapMapper.retrieRapList*/
        SELECT
            roam_file_nm AS file_nm,
            local_time AS file_cret_dt_val,
            TO_CHAR(TO_TIMESTAMP(local_time,'YYYYMMDDHH24MISS'),'YYYY-MM-DD HH24:MI:SS') AS file_cret_dt_val_view,
            recd_no,
            call_type_id,
            (SELECT
                 tci.cd_val1
             FROM tb_cd_info tci 
             INNER JOIN tb_cd_group_info tcgi
             ON tcgi.cd_group_id = tci.cd_group_id
             WHERE tci.cd_group_id = 'CallType'
             AND tci.cd_id = call_type_id
             AND tci.use_yn = true ) AS call_type_id_nm,
            imsi_id,
            calld_no,
            trm_plmn_id,
            rcv_plmn_id,
            tot_call_durat AS duration,
            COALESCE(data_vlm_inpt_val,0) + COALESCE(data_vlm_otput_val,0) AS volume,
            err_cd,
            err_desc AS errCdNm
        FROM tb_tapout_recd_dtl
        WHERE trt_sttus_cd = 'E'    
          AND local_time >= TO_CHAR(#{stPeriodDay}::timestamp,'YYYYMMDDHH24MISS')
          AND local_time &lt; TO_CHAR(#{endPeriodDay}::timestamp + INTERVAL '1 DAY','YYYYMMDDHH24MISS')
            <if test="trmPlmnId != null and trmPlmnId != ''">
              AND trm_plmn_id IN (SELECT UNNEST(STRING_TO_ARRAY(#{trmPlmnId}, ','))) 
            </if>            
            <if test="rcvPlmnId != null and rcvPlmnId != ''">
              AND rcv_plmn_id IN (SELECT UNNEST(STRING_TO_ARRAY(#{rcvPlmnId}, ','))) 
            </if>   
        ORDER BY trm_plmn_id, rcv_plmn_id, local_time DESC
        <if test="dataTablesRequest.start != -1">
        LIMIT #{dataTablesRequest.length} OFFSET #{dataTablesRequest.start}  
        </if>
    </select>
</mapper>
