<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
     @SQL File Name : TapMapper.xml 
     @Description : Tap Queries 
 -->
<mapper namespace="com.kt.blink.biz.dch.tap.mapper.TapMapper">

    <!-- Find Tap List -->
    <select id="findTapList" parameterType="TapListDomain" resultType="TapListDomain">
        /*TapMapper.findTapList*/
        SELECT
            COUNT(1) OVER() AS totalCount,
            file_cret_date_val AS fileCretDateVal,
            trm_plmn_id AS trmPlmnId,
            rcv_plmn_id AS rcvPlmnId,
            tapDirection,
            tapSeq,
            
            <!--TOTAL-->
            total_recd_cnt,
            ROUND(COALESCE((SELECT erate_val FROM tb_erate_info 
                WHERE base_isocu_cd = 'SDR' 
                   AND tgt_mon = setl_month
                   AND tgt_isocu_cd = #{currency}), CASE WHEN #{currency} = 'SDR' THEN 1 ELSE 0 END) 
                   * (total_calc_amt / erate_val), 6) AS totalCalcAmt,
                   
            <!--MOC-->
            moc_vo_recd_cnt,
            moc_vo_use_qnt,
            ROUND(COALESCE((SELECT erate_val FROM tb_erate_info 
                WHERE base_isocu_cd = 'SDR' 
                   AND tgt_mon = setl_month
                   AND tgt_isocu_cd = #{currency}), CASE WHEN #{currency} = 'SDR' THEN 1 ELSE 0 END) 
                   * (moc_vo_calc_amt / erate_val), 6) AS mocVoCalcAmt,
                   
            <!--MTC-->
            mtc_vo_recd_cnt,
            mtc_vo_use_qnt,
            ROUND(COALESCE((SELECT erate_val FROM tb_erate_info 
                WHERE base_isocu_cd = 'SDR' 
                   AND tgt_mon = setl_month
                   AND tgt_isocu_cd = #{currency}), CASE WHEN #{currency} = 'SDR' THEN 1 ELSE 0 END) 
                   * (mtc_vo_calc_amt / erate_val), 6) AS mtcVoCalcAmt,
                   
            <!--DATA-->
            data_recd_cnt,
            data_use_qnt,
            ROUND(COALESCE((SELECT erate_val FROM tb_erate_info 
                WHERE base_isocu_cd = 'SDR' 
                   AND tgt_mon = setl_month
                   AND tgt_isocu_cd = #{currency}), CASE WHEN #{currency} = 'SDR' THEN 1 ELSE 0 END) 
                   * (data_calc_amt / erate_val), 6) AS dataCalcAmt,
                   
            <!--SMS-->
            sms_recd_cnt,
            ROUND(COALESCE((SELECT erate_val FROM tb_erate_info 
                WHERE base_isocu_cd = 'SDR' 
                   AND tgt_mon = setl_month
                   AND tgt_isocu_cd = #{currency}), CASE WHEN #{currency} = 'SDR' THEN 1 ELSE 0 END) 
                   * (sms_calc_amt / erate_val), 6) AS smsCalcAmt
                   
        FROM (
            SELECT
                TO_CHAR(TO_DATE(file_cret_date_val,'YYYYMMDD'),'YYYY-MM-DD') AS file_cret_date_val,
                CASE WHEN #{tapDirection} = 'TAP-Out' THEN trm_plmn_id 
                    ELSE rcv_plmn_id END AS trm_plmn_id,
                CASE WHEN #{tapDirection} = 'TAP-Out' THEN rcv_plmn_id 
                    ELSE trm_plmn_id END AS rcv_plmn_id,
                st_tap_seq::TEXT || '-' || end_tap_seq::TEXT AS tapSeq,
                
                <!--Total-->
                COALESCE(moc_vo_lo_recd_cnt, 0) + COALESCE(moc_vo_home_recd_cnt, 0) 
                    + COALESCE(moc_vo_intl_recd_cnt, 0) + COALESCE(mtc_vo_recd_cnt, 0) 
                    + COALESCE(moc_sms_recd_cnt, 0) + COALESCE(data_recd_cnt, 0) AS total_recd_cnt,
                <!--Total:AMT -->
                COALESCE(moc_vo_lo_setl_amt,0) + COALESCE(moc_vo_home_setl_amt,0) +
                COALESCE(moc_vo_intl_setl_amt,0) + COALESCE(moc_vo_lo_tax_setl_amt,0) +
                COALESCE(moc_vo_home_tax_setl_amt,0) + COALESCE(moc_vo_intl_tax_setl_amt,0) +
                COALESCE(mtc_vo_setl_amt,0) + COALESCE(mtc_vo_tax_setl_amt,0) + 
                COALESCE(moc_sms_tax_setl_amt,0) + COALESCE(moc_sms_setl_amt,0) +
                COALESCE(mtc_sms_tax_setl_amt,0) +  COALESCE(mtc_sms_setl_amt,0) +
                COALESCE(data_setl_amt,0) + COALESCE(data_tax_setl_amt,0) AS total_calc_amt,
                    
                <!--MOC-->
                COALESCE(moc_vo_lo_recd_cnt, 0) + COALESCE(moc_vo_home_recd_cnt, 0) 
                    + COALESCE(moc_vo_intl_recd_cnt, 0) AS moc_vo_recd_cnt,
                COALESCE(moc_vo_lo_use_qnt, 0) + COALESCE(moc_vo_home_use_qnt, 0) 
                    + COALESCE(moc_vo_intl_use_qnt, 0) AS moc_vo_use_qnt,
                <!--MOC:AMT-->
                COALESCE(moc_vo_lo_setl_amt,0) + COALESCE(moc_vo_home_setl_amt,0) +
                COALESCE(moc_vo_intl_setl_amt,0) + COALESCE(moc_vo_lo_tax_setl_amt,0) +
                COALESCE(moc_vo_home_tax_setl_amt,0) + COALESCE(moc_vo_intl_tax_setl_amt,0) AS moc_vo_calc_amt,
                    
                <!--MTC-->
                mtc_vo_recd_cnt,
                mtc_vo_use_qnt,
                <!--MTC:AMT-->
                COALESCE(mtc_vo_setl_amt,0) + COALESCE(mtc_vo_tax_setl_amt,0) AS mtc_vo_calc_amt,
                
                <!--SMS-->
                COALESCE(moc_sms_recd_cnt, 0) + COALESCE(mtc_sms_recd_cnt, 0) AS sms_recd_cnt,
                <!--SMS:AMT-->
                COALESCE(moc_sms_tax_setl_amt,0) + COALESCE(moc_sms_setl_amt,0) +
                COALESCE(mtc_sms_tax_setl_amt,0) +  COALESCE(mtc_sms_setl_amt,0) AS sms_calc_amt,
                
                <!--DATA-->
                data_recd_cnt,
                data_use_qnt,
                <!--DATA:AMT-->
                COALESCE(data_setl_amt,0) + COALESCE(data_tax_setl_amt,0) AS data_calc_amt,
                
                <!--TAP file direction-->
                CASE WHEN #{tapDirection} = 'TAP-In' THEN 'TAP-In' 
                    ELSE 'TAP-Out' END AS tapDirection,
                setl_month,
                cur_cd,
                (SELECT erate_val FROM tb_erate_info WHERE base_isocu_cd = 'SDR' 
                    AND tgt_mon = setl_month AND tgt_isocu_cd = cur_cd) AS erate_val
                
            FROM 
                tb_tap_date_sum
            <where>
            
                <choose>
                
                    <!--TAP-Out without partner condition-->
                    <when test="tapDirection == 'TAP-Out' and @org.apache.commons.lang3.StringUtils@isEmpty(rcvPlmnId)">
                        trm_plmn_id IN
                        <foreach collection="trmPlmnIds" item="trmPlmn" index="index" separator="," open="(" close=")">
                            #{trmPlmn}
                        </foreach>
                     </when>
                    
                    <!--TAP-Out with partner condition-->
                    <when test="tapDirection == 'TAP-Out' and @org.apache.commons.lang3.StringUtils@isNotEmpty(rcvPlmnId)">
                        trm_plmn_id IN
                        <foreach collection="trmPlmnIds" item="trmPlmn" index="index" separator="," open="(" close=")">
                            #{trmPlmn}
                        </foreach>
                        AND
                        rcv_plmn_id IN
                        <foreach collection="rcvPlmnIds" item="rcvPlmn" index="index" separator="," open="(" close=")">
                            #{rcvPlmn}
                        </foreach>
                     </when>
                    
                    <!--TAP-In without partner condition-->
                    <when test="tapDirection == 'TAP-In' and @org.apache.commons.lang3.StringUtils@isEmpty(rcvPlmnId)">
                        rcv_plmn_id IN
                        <foreach collection="trmPlmnIds" item="trmPlmn" index="index" separator="," open="(" close=")">
                            #{trmPlmn}
                        </foreach>
                    </when>
                     
                    <!--TAP-In with partner condition-->
                    <when test="tapDirection == 'TAP-In' and @org.apache.commons.lang3.StringUtils@isNotEmpty(rcvPlmnId)">
                        rcv_plmn_id IN
                        <foreach collection="trmPlmnIds" item="trmPlmn" index="index" separator="," open="(" close=")">
                            #{trmPlmn}
                        </foreach>
                        AND
                        trm_plmn_id IN
                        <foreach collection="rcvPlmnIds" item="rcvPlmn" index="index" separator="," open="(" close=")">
                            #{rcvPlmn}
                        </foreach>
                    </when>
                     
                </choose>
                
                <!-- Search Start Date && Search End Date -->
                <if test="startDateStr != null and endDateStr != null">
                    AND file_cret_date_val BETWEEN #{startDateStr} AND #{endDateStr}
                </if>
                
            </where>
        
        ) AS t
        
        <choose>
            <when test="@org.apache.commons.lang3.StringUtils@isNotEmpty(dataTablesRequest.orderSequel)">
                ORDER BY ${dataTablesRequest.orderSequel}
            </when>
            <when test="@org.apache.commons.lang3.StringUtils@isNotEmpty(orderSequel)">
                ORDER BY ${orderSequel}
            </when>
            <otherwise>
                ORDER BY fileCretDateVal DESC
            </otherwise>
        </choose>
        
        <if test="dataTablesRequest.start != -1">
            LIMIT #{dataTablesRequest.length} OFFSET #{dataTablesRequest.start}
        </if>
        
    </select>
    
    
    <!-- set work_mem -->
    <select id="setWorkMemTapDetail">
        set work_mem to '2GB'
    </select>
    
    
    <!-- reset work_mem -->
    <select id="resetWorkMemTapDetail">
        reset work_mem
    </select>
    
    
    <!-- Find Tap Detail -->
    <select id="findTapDetail" parameterType="TapDetailDomain" resultType="TapDetailDomain">
        /*TapMapper.findTapDetail*/
        SELECT
            roam_file_nm AS roamFileNm,
            TO_CHAR(TO_TIMESTAMP(local_time, 'YYYYMMDDHH24MISS'), 'YYYY-MM-DD HH:MM:SS') AS local_time,
            hpmn,
            vpmn,
            tapDirection,
            recd_no,
            -- CONCAT(SUBSTRING(imsi_id, 0, 11), '*****') AS imsiId,
            imsi_id AS imsiId,
            (SELECT cd_val1 FROM tb_cd_info WHERE cd_id = call_type_id) AS callType,
            calld_no AS calledNo,
            tot_vlm AS volumn,
            calc_unit AS unit,
            <!--Charge-->
            ROUND(COALESCE((SELECT erate_val FROM tb_erate_info 
                WHERE base_isocu_cd = 'SDR' 
                   AND tgt_mon = setl_month
                   AND tgt_isocu_cd = #{currency}), CASE WHEN #{currency} = 'SDR' THEN 1 ELSE 0 END) 
                   * (calc_amt / erate_val), 6) AS charge,
                   
            <!--SetlCharge-->
            ROUND(COALESCE((SELECT erate_val FROM tb_erate_info 
                WHERE base_isocu_cd = 'SDR' 
                   AND tgt_mon = setl_month
                   AND tgt_isocu_cd = #{currency}), CASE WHEN #{currency} = 'SDR' THEN 1 ELSE 0 END) 
                   * (setl_amt / erate_val), 6) AS setlCharge
                   
        FROM (
            SELECT
                roam_file_nm,
                local_time,
                hpmn,
                vpmn,
                tapDirection,
                recd_no,
                imsi_id,
                call_type_id,
                calld_no,
                tot_vlm,
                calc_unit,
                setl_month,
                cur_cd,
                calc_amt,
                setl_amt,
                (SELECT erate_val FROM tb_erate_info WHERE base_isocu_cd = 'SDR'
                    AND tgt_mon = setl_month AND tgt_isocu_cd = cur_cd) AS erate_val
            FROM (
                SELECT
                    roam_file_nm,
                    local_time,
                    CASE WHEN #{tapDirection} = 'TAP-Out' THEN trm_plmn_id 
                        ELSE rcv_plmn_id END AS hpmn,
                    CASE WHEN #{tapDirection} = 'TAP-Out' THEN rcv_plmn_id 
                        ELSE trm_plmn_id END AS vpmn,
                    CASE WHEN #{tapDirection} = 'TAP-In' THEN 'TAP-In' 
                        ELSE 'TAP-Out' END AS tapDirection,
                    recd_no,
                    imsi_id,
                    call_type_id,
                    calld_no,
                    tot_vlm,
                    calc_unit,
                    setl_month,
                    cur_cd,
                    calc_amt,
                    setl_amt
                FROM
                    tb_tap_recd_reslt
                <where>
                    
                    <!--Search Date by Criteria-->
                    <choose>
                        <when test="dateSearchCond != null and dateSearchCond == 'CRTDT'">
                            partn_date BETWEEN to_date_for_partition(#{startDateStr}) AND to_date_for_partition(#{endDateStr}) AND
                        </when>
                        <when test="dateSearchCond != null and dateSearchCond == 'CSTDT'">
                            local_time BETWEEN #{startDateStr2} AND #{endDateStr2} AND
                        </when>
                    </choose>
                    
                    <choose>
                    
                        <!--TAP-Out without partner condition-->
                        <when test="tapDirection == 'TAP-Out' and @org.apache.commons.lang3.StringUtils@isEmpty(rcvPlmnId)">
                            trm_plmn_id IN
                            <foreach collection="trmPlmnIds" item="trmPlmn" index="index" separator="," open="(" close=")">
                                #{trmPlmn}
                            </foreach>
                         </when>
                        
                        <!--TAP-Out with partner condition-->
                        <when test="tapDirection == 'TAP-Out' and @org.apache.commons.lang3.StringUtils@isNotEmpty(rcvPlmnId)">
                            trm_plmn_id IN
                            <foreach collection="trmPlmnIds" item="trmPlmn" index="index" separator="," open="(" close=")">
                                #{trmPlmn}
                            </foreach>
                            AND
                            rcv_plmn_id IN
                            <foreach collection="rcvPlmnIds" item="rcvPlmn" index="index" separator="," open="(" close=")">
                                #{rcvPlmn}
                            </foreach>
                         </when>
                        
                        <!--TAP-In without partner condition-->
                        <when test="tapDirection == 'TAP-In' and @org.apache.commons.lang3.StringUtils@isEmpty(rcvPlmnId)">
                            rcv_plmn_id IN
                            <foreach collection="trmPlmnIds" item="trmPlmn" index="index" separator="," open="(" close=")">
                                #{trmPlmn}
                            </foreach>
                        </when>
                         
                        <!--TAP-In with partner condition-->
                        <when test="tapDirection == 'TAP-In' and @org.apache.commons.lang3.StringUtils@isNotEmpty(rcvPlmnId)">
                            rcv_plmn_id IN
                            <foreach collection="trmPlmnIds" item="trmPlmn" index="index" separator="," open="(" close=")">
                                #{trmPlmn}
                            </foreach>
                            AND
                            trm_plmn_id IN
                            <foreach collection="rcvPlmnIds" item="rcvPlmn" index="index" separator="," open="(" close=")">
                                #{rcvPlmn}
                            </foreach>
                        </when>
                         
                    </choose>
                    
                    <!--CallType-->
                     <choose>
                        <when test="@org.apache.commons.lang3.ArrayUtils@contains(callTypes, 'ASVC')">
                        </when>
                        <otherwise>
                           AND call_type_id IN
                           <foreach collection="callTypes" item="callType" index="index" separator="," open="(" close=")">
                                #{callType}
                            </foreach>
                        </otherwise>
                     </choose>
                    
                    <!--IMSI-->
                    <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(imsiId)">
                        AND imsi_id = #{imsiId}
                    </if>
                    
                     <!--TapFileName-->
                    <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(roamFileNm)">
                        AND roam_file_nm LIKE #{roamFileNm} || '%'
                    </if>
                    
                </where>
                
                <choose>
                    <when test="@org.apache.commons.lang3.StringUtils@isNotEmpty(dataTablesRequest.orderSequel)">
                        ORDER BY ${dataTablesRequest.orderSequel}
                    </when>
                    <otherwise>
                        ORDER BY local_time DESC
                    </otherwise>
                </choose>
                
                <if test="dataTablesRequest.start != -1">
                    LIMIT #{dataTablesRequest.length} OFFSET #{dataTablesRequest.start}
                </if>
        
        ) AS t
        
    ) AS t2
    </select>
    
    
    <!-- Find Tap Detail Charge Sum -->
    <select id="findTapDetailChargeSum" parameterType="TapDetailDomain" resultType="TapDetailDomain">
        /*TapMapper.findTapDetailChargeSum*/
        SELECT
        
            SUM(ROUND(COALESCE((SELECT erate_val FROM tb_erate_info WHERE base_isocu_cd = 'SDR' 
                AND tgt_mon = setl_month AND tgt_isocu_cd = #{currency}), CASE WHEN #{currency} = 'SDR' THEN 1 ELSE 0 END)
                 * (t.charge / (SELECT erate_val FROM tb_erate_info WHERE base_isocu_cd = 'SDR' 
                    AND tgt_mon = setl_month AND tgt_isocu_cd = cur_cd)), 6)) AS sumCharge,
            
            SUM(ROUND(COALESCE((SELECT erate_val FROM tb_erate_info WHERE base_isocu_cd = 'SDR' 
                AND tgt_mon = setl_month AND tgt_isocu_cd = #{currency}), CASE WHEN #{currency} = 'SDR' THEN 1 ELSE 0 END) 
                 * (t.setl_charge / (SELECT erate_val FROM tb_erate_info WHERE base_isocu_cd = 'SDR' 
                   AND tgt_mon = setl_month AND tgt_isocu_cd = cur_cd)), 6)) AS sumSetlCharge
               
       FROM (
       
            SELECT
                setl_month,
                cur_cd,
                SUM(calc_amt) charge,
                SUM(setl_amt) setl_charge
            FROM 
                tb_tap_recd_reslt
                
            <where>
            
                <!--Search Date by Criteria-->
                <choose>
                    <when test="dateSearchCond != null and dateSearchCond == 'CRTDT'">
                        partn_date BETWEEN to_date_for_partition(#{startDateStr}) AND to_date_for_partition(#{endDateStr}) AND
                    </when>
                    <when test="dateSearchCond != null and dateSearchCond == 'CSTDT'">
                        local_time BETWEEN #{startDateStr2} AND #{endDateStr2} AND
                    </when>
                </choose>
            
                <choose>
                
                    <!--TAP-Out without partner condition-->
                    <when test="tapDirection == 'TAP-Out' and @org.apache.commons.lang3.StringUtils@isEmpty(rcvPlmnId)">
                        trm_plmn_id IN
                        <foreach collection="trmPlmnIds" item="trmPlmn" index="index" separator="," open="(" close=")">
                            #{trmPlmn}
                        </foreach>
                     </when>
                    
                    <!--TAP-Out with partner condition-->
                    <when test="tapDirection == 'TAP-Out' and @org.apache.commons.lang3.StringUtils@isNotEmpty(rcvPlmnId)">
                        trm_plmn_id IN
                        <foreach collection="trmPlmnIds" item="trmPlmn" index="index" separator="," open="(" close=")">
                            #{trmPlmn}
                        </foreach>
                        AND
                        rcv_plmn_id IN
                        <foreach collection="rcvPlmnIds" item="rcvPlmn" index="index" separator="," open="(" close=")">
                            #{rcvPlmn}
                        </foreach>
                    </when>
                    
                    <!--TAP-In without partner condition-->
                    <when test="tapDirection == 'TAP-In' and @org.apache.commons.lang3.StringUtils@isEmpty(rcvPlmnId)">
                        rcv_plmn_id IN
                        <foreach collection="trmPlmnIds" item="trmPlmn" index="index" separator="," open="(" close=")">
                            #{trmPlmn}
                        </foreach>
                    </when>
                     
                    <!--TAP-In with partner condition-->
                    <when test="tapDirection == 'TAP-In' and @org.apache.commons.lang3.StringUtils@isNotEmpty(rcvPlmnId)">
                        rcv_plmn_id IN
                        <foreach collection="trmPlmnIds" item="trmPlmn" index="index" separator="," open="(" close=")">
                            #{trmPlmn}
                        </foreach>
                        AND
                        trm_plmn_id IN
                        <foreach collection="rcvPlmnIds" item="rcvPlmn" index="index" separator="," open="(" close=")">
                            #{rcvPlmn}
                        </foreach>
                    </when>
                     
                </choose>
                
                <!--CallType-->
                 <choose>
                    <when test="@org.apache.commons.lang3.ArrayUtils@contains(callTypes, 'ASVC')">
                    </when>
                    <otherwise>
                       AND call_type_id IN
                       <foreach collection="callTypes" item="callType" index="index" separator="," open="(" close=")">
                            #{callType}
                        </foreach>
                    </otherwise>
                 </choose>
                
                <!--IMSI-->
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(imsiId)">
                    AND imsi_id = #{imsiId}
                </if>
                
                 <!--TapFileName-->
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(roamFileNm)">
                    AND roam_file_nm LIKE #{roamFileNm} || '%'
                </if>
                
            </where>
            
            GROUP BY setl_month, cur_cd
            
         ) t
        
    </select>
    
    
    <!-- Find Tap Detail Total -->
    <select id="findTapDetailTotal" parameterType="TapDetailDomain" resultType="Long">
        /*TapMapper.findTapDetailTotal*/
        SELECT
            COUNT(1) totalCount
            
        FROM 
            tb_tap_recd_reslt
            
        <where>
        
            <!--Search Date by Criteria-->
            <choose>
                <when test="dateSearchCond != null and dateSearchCond == 'CRTDT'">
                    partn_date BETWEEN to_date_for_partition(#{startDateStr}) AND to_date_for_partition(#{endDateStr}) AND
                </when>
                <when test="dateSearchCond != null and dateSearchCond == 'CSTDT'">
                    local_time BETWEEN #{startDateStr2} AND #{endDateStr2} AND
                </when>
            </choose>
            
            <choose>
            
                <!--TAP-Out without partner condition-->
                <when test="tapDirection == 'TAP-Out' and @org.apache.commons.lang3.StringUtils@isEmpty(rcvPlmnId)">
                    trm_plmn_id IN
                    <foreach collection="trmPlmnIds" item="trmPlmn" index="index" separator="," open="(" close=")">
                        #{trmPlmn}
                    </foreach>
                 </when>
                
                <!--TAP-Out with partner condition-->
                <when test="tapDirection == 'TAP-Out' and @org.apache.commons.lang3.StringUtils@isNotEmpty(rcvPlmnId)">
                    trm_plmn_id IN
                    <foreach collection="trmPlmnIds" item="trmPlmn" index="index" separator="," open="(" close=")">
                        #{trmPlmn}
                    </foreach>
                    AND
                    rcv_plmn_id IN
                    <foreach collection="rcvPlmnIds" item="rcvPlmn" index="index" separator="," open="(" close=")">
                        #{rcvPlmn}
                    </foreach>
                 </when>
                
                <!--TAP-In without partner condition-->
                <when test="tapDirection == 'TAP-In' and @org.apache.commons.lang3.StringUtils@isEmpty(rcvPlmnId)">
                    rcv_plmn_id IN
                    <foreach collection="trmPlmnIds" item="trmPlmn" index="index" separator="," open="(" close=")">
                        #{trmPlmn}
                    </foreach>
                </when>
                 
                <!--TAP-In with partner condition-->
                <when test="tapDirection == 'TAP-In' and @org.apache.commons.lang3.StringUtils@isNotEmpty(rcvPlmnId)">
                    rcv_plmn_id IN
                    <foreach collection="trmPlmnIds" item="trmPlmn" index="index" separator="," open="(" close=")">
                        #{trmPlmn}
                    </foreach>
                    AND
                    trm_plmn_id IN
                    <foreach collection="rcvPlmnIds" item="rcvPlmn" index="index" separator="," open="(" close=")">
                        #{rcvPlmn}
                    </foreach>
                </when>
                 
            </choose>
            
            <!--CallType-->
             <choose>
                <when test="@org.apache.commons.lang3.ArrayUtils@contains(callTypes, 'ASVC')">
                </when>
                <otherwise>
                   AND call_type_id IN
                   <foreach collection="callTypes" item="callType" index="index" separator="," open="(" close=")">
                        #{callType}
                    </foreach>
                </otherwise>
             </choose>
             
            <!--IMSI-->
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(imsiId)">
                AND imsi_id = #{imsiId}
            </if>
            
             <!--TapFileName-->
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(roamFileNm)">
                AND roam_file_nm LIKE #{roamFileNm} || '%'
            </if>
            
        </where>
        
    </select>
    
    
    <!-- Find Tap File Process List -->
    <select id="findTapFile" parameterType="TapFileDomain" resultType="TapFileDomain">
        /*TapMapper.findTapFile*/
        SELECT 
            COUNT(1) OVER() AS totalCount,
            inpt_file_nm AS inptFileNm,
            CASE WHEN #{tapDirection} = 'TAP-Out' 
                THEN trm_plmn_id ELSE rcv_plmn_id
            END AS trmPlmnId,
            CASE WHEN #{tapDirection} = 'TAP-Out'
                THEN rcv_plmn_id ELSE trm_plmn_id 
            END AS rcvPlmnId,
            TO_TIMESTAMP(file_cret_dt_val, 'YYYYMMDDHH24MISS') AS fileCretDtVal,
            CASE WHEN #{tapDirection} = 'TAP-In' 
                THEN 'TAP-In' ELSE 'TAP-Out' 
            END AS tapDirection,
            trt_fns_dt,
            setl_month,
            trt_sttus_cd,
            (cdr_cnt + err_cnt) AS tot_cdr_cnt,
            cdr_cnt,
            err_cnt
        FROM (  
            
                SELECT
                    inpt_file_nm,
                    trm_plmn_id,
                    rcv_plmn_id,
                    trt_fns_dt,
                    trt_sttus_cd,
                    cdr_cnt,
                    err_cnt,
                    setl_month,
                    file_cret_dt_val
                FROM
                    (
                        SELECT
                            inpt_file_nm,
                            trm_plmn_id,
                            rcv_plmn_id,
                            trt_fns_dt,
                            ( 
                                SELECT cd_val1 
                                FROM tb_cd_info 
                                WHERE cd_id = hst.trt_sttus_cd
                            ) AS trt_sttus_cd,
                            cdr_cnt,
                            err_cnt,
                            file_cret_dt_val,
                            (
                                SELECT setl_month 
                                FROM tb_tap_file_sum
                                WHERE roam_file_nm = hst.inpt_file_nm LIMIT 1
                            ) setl_month 
                        FROM
                            tb_tap_trt_hst AS hst
                        WHERE
                            trt_div_id = 'to-db-store'
                    )  AS t1
             
             ) AS t2
             
        <where>
        
            <choose>
            
                <!--TAP-Out without partner condition-->
                <when test="tapDirection == 'TAP-Out' and @org.apache.commons.lang3.StringUtils@isEmpty(rcvPlmnId)">
                    trm_plmn_id IN
                    <foreach collection="trmPlmnIds" item="trmPlmn" index="index" separator="," open="(" close=")">
                        #{trmPlmn}
                    </foreach>
                 </when>
                
                <!--TAP-Out with partner condition-->
                <when test="tapDirection == 'TAP-Out' and @org.apache.commons.lang3.StringUtils@isNotEmpty(rcvPlmnId)">
                    trm_plmn_id IN
                    <foreach collection="trmPlmnIds" item="trmPlmn" index="index" separator="," open="(" close=")">
                        #{trmPlmn}
                    </foreach>
                    AND
                    rcv_plmn_id IN
                    <foreach collection="rcvPlmnIds" item="rcvPlmn" index="index" separator="," open="(" close=")">
                        #{rcvPlmn}
                    </foreach>
                 </when>
                
                <!--TAP-In without partner condition-->
                <when test="tapDirection == 'TAP-In' and @org.apache.commons.lang3.StringUtils@isEmpty(rcvPlmnId)">
                    rcv_plmn_id IN
                    <foreach collection="trmPlmnIds" item="trmPlmn" index="index" separator="," open="(" close=")">
                        #{trmPlmn}
                    </foreach>
                </when>
                 
                <!--TAP-In with partner condition-->
                <when test="tapDirection == 'TAP-In' and @org.apache.commons.lang3.StringUtils@isNotEmpty(rcvPlmnId)">
                    rcv_plmn_id IN
                    <foreach collection="trmPlmnIds" item="trmPlmn" index="index" separator="," open="(" close=")">
                        #{trmPlmn}
                    </foreach>
                    AND
                    trm_plmn_id IN
                    <foreach collection="rcvPlmnIds" item="rcvPlmn" index="index" separator="," open="(" close=")">
                        #{rcvPlmn}
                    </foreach>
                </when>
                 
            </choose>
            
            <!--Search Date-->
            <choose>
               <when test="dateSearchCond != null and dateSearchCond == 'CRTDT'">
                    AND file_cret_dt_val BETWEEN #{startDateStr} AND #{endDateStr}
               </when>
               <when test="dateSearchCond != null and dateSearchCond == 'TRTDT'">
                   AND (trt_fns_dt <![CDATA[ >= ]]> #{startDate}
                       AND trt_fns_dt <![CDATA[ < ]]> #{endDate})
               </when>
            </choose>
            
            <!--SettleMonth-->
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(setlMonth)">
                 AND setl_month = #{setlMonth}
            </if>
            
            <!--FileProcessStatus-->
            <choose>
               <when test='trtSttusCd != null and (trtSttusCd == "C" or trtSttusCd == "S")'>
                    AND trt_sttus_cd = 'Success'
               </when>
               <when test='trtSttusCd != null and trtSttusCd == "W"'>
                    AND trt_sttus_cd = 'Waiting'
               </when>
               <when test='trtSttusCd != null and trtSttusCd == "E"'>
                    AND trt_sttus_cd = 'Error'
               </when>
            </choose>
            
        </where>
        
        <choose>
            <when test="@org.apache.commons.lang3.StringUtils@isNotEmpty(dataTablesRequest.orderSequel)">
                ORDER BY ${dataTablesRequest.orderSequel}
            </when>
            <when test="@org.apache.commons.lang3.StringUtils@isNotEmpty(orderSequel)">
                ORDER BY ${orderSequel}
            </when>
            <otherwise>
                ORDER BY fileCretDtVal DESC
            </otherwise>
        </choose>
        
        <if test="dataTablesRequest.start != -1">
            LIMIT #{dataTablesRequest.length} OFFSET #{dataTablesRequest.start}
        </if>
        
    </select>
    
    
    <!-- Find Tap File Status Sum -->
    <select id="findTapFileStatusTotal" parameterType="TapFileDomain" resultType="TapFileDomain">
        /*TapMapper.findTapFileStatusTotal*/
        SELECT
            SUM(cdr_cnt) AS sumCdrCnt,
            SUM(err_cnt) AS sumErrCnt,
            SUM(cdr_cnt + err_cnt) AS sumTotCdrCnt
        FROM
            (
                SELECT
                    trm_plmn_id,
                    rcv_plmn_id,
                    trt_fns_dt,
                    ( 
                        SELECT cd_val1 
                        FROM tb_cd_info 
                        WHERE cd_id = hst.trt_sttus_cd
                    ) AS trt_sttus_cd,
                    cdr_cnt,
                    err_cnt,
                    file_cret_dt_val,
                    (
                        SELECT setl_month 
                        FROM tb_tap_file_sum
                        WHERE roam_file_nm = hst.inpt_file_nm LIMIT 1
                    ) setl_month 
                FROM
                    tb_tap_trt_hst AS hst
                WHERE
                    trt_div_id = 'to-db-store'
            )  AS t1
                    
        <where>
        
            <choose>
            
                <!--TAP-Out without partner condition-->
                <when test="tapDirection == 'TAP-Out' and @org.apache.commons.lang3.StringUtils@isEmpty(rcvPlmnId)">
                    trm_plmn_id IN
                    <foreach collection="trmPlmnIds" item="trmPlmn" index="index" separator="," open="(" close=")">
                        #{trmPlmn}
                    </foreach>
                 </when>
                
                <!--TAP-Out with partner condition-->
                <when test="tapDirection == 'TAP-Out' and @org.apache.commons.lang3.StringUtils@isNotEmpty(rcvPlmnId)">
                    trm_plmn_id IN
                    <foreach collection="trmPlmnIds" item="trmPlmn" index="index" separator="," open="(" close=")">
                        #{trmPlmn}
                    </foreach>
                    AND
                    rcv_plmn_id IN
                    <foreach collection="rcvPlmnIds" item="rcvPlmn" index="index" separator="," open="(" close=")">
                        #{rcvPlmn}
                    </foreach>
                 </when>
                
                <!--TAP-In without partner condition-->
                <when test="tapDirection == 'TAP-In' and @org.apache.commons.lang3.StringUtils@isEmpty(rcvPlmnId)">
                    rcv_plmn_id IN
                    <foreach collection="trmPlmnIds" item="trmPlmn" index="index" separator="," open="(" close=")">
                        #{trmPlmn}
                    </foreach>
                </when>
                 
                <!--TAP-In with partner condition-->
                <when test="tapDirection == 'TAP-In' and @org.apache.commons.lang3.StringUtils@isNotEmpty(rcvPlmnId)">
                    rcv_plmn_id IN
                    <foreach collection="trmPlmnIds" item="trmPlmn" index="index" separator="," open="(" close=")">
                        #{trmPlmn}
                    </foreach>
                    AND
                    trm_plmn_id IN
                    <foreach collection="rcvPlmnIds" item="rcvPlmn" index="index" separator="," open="(" close=")">
                        #{rcvPlmn}
                    </foreach>
                </when>
                 
            </choose>
            
            <!--Search Date-->
            <choose>
               <when test="dateSearchCond != null and dateSearchCond == 'CRTDT'">
                    AND file_cret_dt_val BETWEEN #{startDateStr} AND #{endDateStr}
               </when>
               <when test="dateSearchCond != null and dateSearchCond == 'TRTDT'">
                   AND (trt_fns_dt <![CDATA[ >= ]]> #{startDate}
                       AND trt_fns_dt <![CDATA[ < ]]> #{endDate})
               </when>
            </choose>
            
            <!--SettleMonth-->
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(setlMonth)">
                 AND setl_month = #{setlMonth}
            </if>
            
            <!--FileProcessStatus-->
            <choose>
               <when test='trtSttusCd != null and (trtSttusCd == "C" or trtSttusCd == "S")'>
                    AND trt_sttus_cd = 'Success'
               </when>
               <when test='trtSttusCd != null and trtSttusCd == "W"'>
                    AND trt_sttus_cd = 'Waiting'
               </when>
               <when test='trtSttusCd != null and trtSttusCd == "E"'>
                    AND trt_sttus_cd = 'Error'
               </when>
            </choose>
            
        </where>
        
    </select>

</mapper>
