<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorate="~{fragments/layout}">

<!-- page title -->
<th:block layout:fragment="title">
    <title>B.Link :: Admin &gt; Country Management</title>
</th:block>

<!-- custom css -->
<th:block layout:fragment="css">
    <style th:inline="text">
    </style>
</th:block>

<!-- custom top js -->
<th:block layout:fragment="topScript">
    <!-- jquery dataTables -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        var thisPage = {};
        thisPage['username'] = /*[[${session.username}]]*/'';
        thisPage['rtnMsg'] = /*[[${rtnMsg}]]*/'';
        thisPage['ctx'] = /*[[@{/}]]*/'/';
        thisPage['btnRole'] = /*[[${session.btnRole}]]*/''; 

        //message        
        thisPage['cntryDup'] = /*[[#{cntry.dup}]]*/ '';
        thisPage['cntryCd'] = /*[[#{cntry.cd}]]*/ '';
        thisPage['cntryCdAbbr'] = /*[[#{cntry.cd.abbr}]]*/ '';
        thisPage['mccId'] = /*[[#{cntry.mccid}]]*/ '';
        thisPage['cntryNm'] = /*[[#{cntry.nm}]]*/ '';
            
        thisPage['com.save.req'] = /*[[#{com.save.req}]]*/ '';    //저장하시겠습니까?
        thisPage['com.tbl.search'] = /*[[#{com.tbl.search}]]*/ '';  //검색된 목록이 없습니다.
        thisPage['com.tbl.select'] = /*[[#{com.tbl.select}]]*/ '';  //목록에서 변경할 열을 선택해주세요.
        thisPage['com.del.req'] = /*[[#{com.del.req}]]*/ '';  //삭제하시겠습니까?

        thisPage['com.msg.engnumspec'] = /*[[#{com.msg.engnumspec}]]*/ ''; //숫자와 공백, -만 입력가능합니다.
        thisPage['com.msg.num13'] = /*[[#{com.msg.num13}]]*/ ''; //숫자 1~3자리를 입력하세요.
        thisPage['com.msg.num3'] = /*[[#{com.msg.num3}]]*/ ''; //숫자 3자리를 입력하세요.
        thisPage['com.msg.engc2'] = /*[[#{com.msg.engc2}]]*/ ''; //영문자(대) 2자리를 입력하세요.
               
        
        /*]]>*/
    </script>
</th:block>

<!-- Contents div -->
<div id="contents" layout:fragment="contents">

<!-- container -->
        <div class="container">
            <div class="search-group">
                <div class="inr">
                    <p class="title"><i class="ico search"></i><span th:text="#{cntry.title}">국가코드 관리</span></p>
                    <div class="location">
                        <span><i class="ico home"><em>home</em></i>- Admin - <em  th:text="#{cntry.title}">Country</em></span>
                    </div>
                    <form>
                        <legend>국가코드 조회</legend>
                        <div class="box">
                            <div class="select-group">
	                            <div class="select-box fb-quarter">
	                                <span th:utext="#{cntry.nm}">Country Name</span>
	                                <div>
	                                <input type="text" id="sCntryNm" maxlength="50">
	                                </div>
	                            </div>
	                            <div class="select-box fb-quarter"></div>
                                <div class="select-box fb-quarter"></div>
                                <div class="select-box fb-quarter"></div>
	                        </div>
                            <button type="button" class="btn search" id="nameSearch1" th:text="#{btn.search}">Search</button>
                        </div>
                    </form>
                </div>          
            </div>
            <div class="list-group pd0">
                <div class="inr">
                    <p class="title"><i class="ico list"></i>List</p>
                    <div class="table-box">
                        <table id="cntryList">
                            <colgroup>
                                <col>
                                <col>
                                <col>
                                <col>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th th:utext="#{cntry.nm}">국가명</th>
                                    <th th:utext="#{cntry.cd}">국가코드</th>
                                    <th th:utext="#{cntry.cd.abbr}">국가코드 약어</th>
                                    <th th:utext="#{cntry.mccid}">MCC ID</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="btn-group">
                        <div class="inr" sec:authorize="hasAuthority('ROLE_ADMIN')">
                                <button type="button" class="btn apply" data-toggle="modal" id="add" th:utext="#{btn.new}">등록</button>
                                <button type="button" class="btn edit" data-toggle="modal" id="update" th:utext="#{btn.up}">수정</button>
                            <button type="button" class="btn cancel" id="delete" th:text="#{btn.del}">삭제</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //container -->
	
	
	   <!-- layer -->
        <div class="layer-group code edit" id="updateRowModal">
            <div class="layer" style="height: 336px;width:600px">
                <div class="inr">
                    <form id="cntryForm">
                        <input type="hidden" id="orgMccId">
                        <input type="hidden" id="cntryStat"/>
                        <p th:text="#{cntry.title}" style="margin-bottom:22px;">국가코드 생성</p>
                        <div class="table-box profile-type no-border">
                            <table class="w100">
                                <colgroup>
                                    <col style="width:187px">
                                    <col>
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th th:utext="#{cntry.nm}">국가명</th>
                                        <td style="padding-top:5px; padding-bottom:5px">
                                            <div class="select-box">
                                        <input type="text" id="cntryNm" maxlength="190">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th th:utext="#{cntry.cd}">국가코드</th>
                                        <td style="padding-top:5px; padding-bottom:5px">
                                            <div class="select-box">
                                        <input type="text" id="cntryCd" maxlength="3">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th th:utext="#{cntry.cd.abbr}">국가코드 약어</th>
                                        <td style="padding-top:5px; padding-bottom:5px">
                                            <div class="select-box">
                                        <input type="text" id="isoCntryDgt2" maxlength="2">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th th:utext="#{cntry.mccid}">MCC ID</th>
                                        <td style="padding-top:5px; padding-bottom:5px">
                                            <div class="select-box">
                                        <input type="text" id="mccId" maxlength="3">
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                        <div class="btn-group default">
                            <button type="button" class="btn save"  id="updateSubmit" th:utext="#{btn.save}">저장</button>
                        </div>
                    </form>
                </div>
                <button type="button" class="btn close" data-dismiss="modal"><i class="ico layer-close"><em th:text="#{btn.close}">닫기</em></i></button>
            </div>
            <div class="dim"></div>
        </div>
        <!-- //layer -->
</div>
<!-- end Contents div -->

<th:block layout:fragment="bottomScript">
    <script type="text/javascript" th:src="@{/js/blink/admin/cntry/cntry.js}"></script>
</th:block>

</html>