@charset "UTF-8";
/* error */
.error {position:fixed; height:100%; width:100%; background:#fff;}
.error .error-cont {display:table; height:100%; width:100%;}
.error .error-conts {display:table-cell; vertical-align:middle;}
.error-area {margin:0 auto; width:580px; background:#fff; font-family:MG;}
.error-txt {position:relative; margin-top:20px; padding-top:290px; background:url(../images/error.png) no-repeat center 0;  text-align:center; letter-spacing:-2px;}
.error-txt::after {content:'404'; position:absolute; top:43px; left:209px; font-size:20px; color:#fff; letter-spacing:0;}
.error-txt.error403::after {content:'403';}
.error-txt.error500::after {content:'500';}
.error-txt h1.error500, .error-txt h1.error403 {display:none;}
.error-txt.error500 h1 {display:none;}
.error-txt.error500 h1.error500 {display:block;}
.error-txt.error403 h1 {display:none;}
.error-txt.error403 h1.error403 {display:block;}
.error-txt strong {display:none;}
.copyright {margin-top:100px; border-top:1px solid #e0e0e0; padding:15px 0 0 0; font-size:15px; color:#666; text-align:center;}