<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    
<!-- layer -->
            <div class="layer-group apply invoice" id="invNoteRegPop">
                <div class="layer big">
                    <div class="inr">
                        <form id="invCnaRegForm">
                        
                             <input type="hidden" id="trmPlmnId" name="trmPlmnId" th:value="${invoc.trmPlmnId}">
                             <input type="hidden" id="trmCmpnNm" name="trmCmpnNm" th:value="${invoc.trmCmpnNm}">
                             <input type="hidden" id="trmCmpnAdr" name="trmCmpnAdr" th:value="${invoc.trmCmpnAdr}">
                             <input type="hidden" id="rcvPlmnId" name="rcvPlmnId" th:value="${invoc.rcvPlmnId}">
                             <input type="hidden" id="rcvCmpnNm" name="rcvCmpnNm" th:value="${invoc.rcvCmpnNm}">
                             <input type="hidden" id="rcvCmpnAdr" name="rcvCmpnAdr" th:value="${invoc.rcvCmpnAdr}">
                             
                             <input type="hidden" id="noteRefNum" name="noteRefNum" th:value="${invoc.cnNoteRefNum}" th:if="${invoc.noteKindCd !='CNA' or invoc.invocDirectCd == 'OUT'}">
                             <input type="hidden" id="noteRefNum" name="noteRefNum" th:value="${invoc.cnaNoteRefNum}" th:if="${invoc.noteKindCd =='CNA' and invoc.invocDirectCd == 'IN'}">
                             
                             <input type="hidden" id="noteKindCd" name="noteKindCd" th:value="${invoc.noteKindCd}">
                             <input type="hidden" id="invocNm" name="invocNm" th:value="${invoc.invocNm}">
                             <input type="hidden" id="invocId" name="invocId" th:value="${invoc.invocId}">
                             <input type="hidden" id="creDateVal" name="creDateVal" th:value="${invoc.creDateVal}">
                             <input type="hidden" id="trafcDay" name="trafcDay" th:value="${invoc.trafcDay}">
                             <input type="hidden" id="contCurCd" name="contCurCd" th:value="${invoc.contCurCd}">
                             <input type="hidden" id="contDtlId" name="contDtlId" th:value="${invoc.contDtlId}">
                             <input type="hidden" id="taxAmt" name="taxAmt" value="0">
                             <input type="hidden" id="noteStatusCd" name="noteStatusCd" th:value="${invoc.noteStatusCd}">
                             <input type="hidden" id="orgNoteRefNum" name="orgNoteRefNum" th:value="${invoc.orgNoteRefNum}">
                                                          
                            <div class="tab-group">
                                <div class="tab-btn">
                                    <button type="button" class="btn on tabCla" data-id="cnNoteRefNum" data-text="CN" th:if="${invoc.noteKindCd !='CNA' or invoc.invocDirectCd == 'OUT'}">Credit Note</button>
                                    <button type="button" class="btn tabCla" data-id="dnNoteRefNum" data-text="DN" th:if="${invoc.noteKindCd !='CNA' and invoc.invocDirectCd == 'OUT'}">Debit Note</button>
                                    <button type="button" class="btn on tabCla" data-id="cnaNoteRefNum" data-text="CNA" th:if="${invoc.noteKindCd =='CNA' and invoc.invocDirectCd == 'IN'}">Credit Note Application</button>
                                </div>
                                
                                <div class="tab-box on" id="RegDiv">
                                    <div class="table-group" style="height:580px">
                                        <div class="table-box gray-type thead" style="height:580px">
                                            <table>
	                                            <colgroup>
	                                                <col style="width:284px">
	                                                <col style="width:576px">
	                                            </colgroup>
	                                            <thead>
	                                                <tr>
	                                                    <th th:utext="#{note.tit.gubun}">구분</th>
	                                                    <th th:utext="#{note.tit.cont}">내용</th>
	                                                </tr>
	                                            </thead>
                                            </table>
                                        </div>
	                                    <div class="table-box gray-type" style="height:580px">
	                                        <table>
	                                            <colgroup>
	                                                <col style="width:284px">
	                                                <col>
	                                            </colgroup>
	                                            <tbody>
	                                                <tr>
	                                                    <td>Requestee Details</td>
	                                                    <td th:text="|${invoc.trmCmpnNm} ( ${invoc.trmPlmnId} ) |">
	                                                    </td>
	                                                </tr>
	                                                <tr>
	                                                    <td>Requestor Details</td>
	                                                    <td th:text="|${invoc.rcvCmpnNm} ( ${invoc.rcvPlmnId} ) |">
	                                                    </td>
	                                                </tr>
	                                                <tr>
	                                                    <td>Date</td>
	                                                    <td th:text="${invoc.creDateVal}">
	                                                    </td>
	                                                </tr>
	                                                <tr>
	                                                    <td>Reference Number</td>
	                                                    <td>
	                                                        <span th:text="${invoc.cnNoteRefNum}" id="cnNoteRefNum" class="noteRefNumCla" th:if="${invoc.noteKindCd !='CNA' or invoc.invocDirectCd == 'OUT'}"></span>
	                                                        <span th:text="${invoc.dnNoteRefNum}" id="dnNoteRefNum" style="display:none;" class="noteRefNumCla" th:if="${invoc.noteKindCd !='CNA' and invoc.invocDirectCd == 'OUT'}"></span>
	                                                        <span th:text="${invoc.cnaNoteRefNum}" id="cnaNoteRefNum" class="noteRefNumCla" th:if="${invoc.noteKindCd =='CNA' and invoc.invocDirectCd == 'IN'}"></span>
	                                                    </td>
	                                                </tr>
	                                                <tr>
	                                                    <td>Invoice Number</td>
	                                                    <td th:text="${invoc.invocNm}">
	                                                    </td>
	                                                </tr>
	                                                <tr>
	                                                    <td>Traffic Period</td>
	                                                    <td th:text="${invoc.trafcDay}">
	                                                    </td>
	                                                </tr>
	                                                <tr>
	                                                    <td>Credit/Debit Amounts</td>
	                                                    <td class="has-input">
	                                                        <div class="input-group">
	                                                           <span>Currency :</span>
	                                                           <p>[[${invoc.contCurCd}]]</p>
	                                                        </div>
	                                                        <div class="input-group">
	                                                            <span>Amount :</span>
		                                                        <div class="select-box" style="width:105px;vertical-align:middle">
		                                                            <input type="text" id="noteAmt" name="noteAmt" class="right" th:value="${invoc.noteAmt}" style="width:100%;height:26px" maxlength="17">
		                                                        </div>
	                                                        </div>
	                                                        <div class="input-group inline">
		                                                        <span>Tax Application :</span>
		                                                        <div class="select-box" style="width:105px;vertical-align:middle">
		                                                            <select id="taxInclYn" name="taxInclYn" style="height:26px;background-position:calc(100% - 10px) 9px">
		                                                                <option th:each="item:${taxList}" th:value="${item.cdId}" th:selected="${item.cdId == invoc.taxInclYn}">[[${item.cdVal1}]]</option>
		                                                            </select> 
		                                                        </div>
		                                                     </div>
		                                                     <div class="input-group inline">
		                                                        <span>Tax Amount :</span>
                                                                <div class="select-box" style="width:105px;vertical-align:bottom">
                                                                    <input type="text" id="taxAplyPecnt" style="width:90%" name="taxAplyPecnt" maxlength="2" class="right" th:value="${invoc.taxAplyPecnt}" th:readonly="${invoc.taxInclYn} == 'Y' ? 'false' :'true'">%
                                                                </div>
                                                            </div>
	                                                    </td>
	                                                </tr>
	                                                <tr>
	                                                    <td>Exchange Rate Information</td>
	                                                    <td>
	                                                        <div>
			                                                    <ul>
			                                                        <li th:each="item:${erateList}">
			                                                            [[${item.invocBasCur}]] - [[${item.invocChangeCur}]] 
			                                                            [[${item.erateBaseDay}]] [[${item.erateVal}]]
			                                                        </li>
			                                                    </ul>
			                                                </div>
	                                                    </td>
	                                                </tr>
	                                                <tr>
	                                                    <td>Reason for Request</td>
	                                                    <td>
	                                                        <div class="text-contents">
	                                                            <textarea id="reqReason" name="reqReason" th:utext="${invoc.reqReason}"></textarea>
	                                                        </div>
	                                                    </td>
	                                                </tr>
	                                                <tr>
	                                                    <td>Enquiry Contact</td>
	                                                    <td class="has-input">
	                                                        <div class="select-box">
	                                                            <div class="input-group">
		                                                            <span>Contact US</span>
		                                                            <input type="text" id="contNm" name="contNm" th:value="${invoc.contNm}">
	                                                            </div>
	                                                            <div class="input-group">
		                                                            <span>Tel</span>
		                                                            <input type="text" id="contTelNo" name="contTelNo" th:value="${invoc.contTelNo}">
		                                                        </div>
	                                                            <div class="input-group">
		                                                            <span>E-Mail</span>
		                                                            <input type="text" id="contEmail" name="contEmail" th:value="${invoc.contEmail}">
	                                                            </div>
	                                                            <div class="input-group">
		                                                            <span>Fax</span>
		                                                            <input type="text" id="contFaxNo" name="contFaxNo" th:value="${invoc.contFaxNo}">
		                                                        </div>
	                                                        </div>
	                                                    </td>
	                                                </tr>
	                                            </tbody>
	                                        </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-group mt-4">
                            <!-- cna or cn/dn -->
                                <button type="button" class="btn save" id="cnaSaveId" th:if="${invoc.noteKindCd !='CNA' or invoc.invocDirectCd == 'OUT'}">CN [[#{inv.btn.issue}]]</button>
                                <button type="button" class="btn save" id="cnaSaveId" th:if="${invoc.noteKindCd =='CNA' and invoc.invocDirectCd == 'IN'}">CNA [[#{inv.btn.issue}]]</button>
                            <!-- tap in or out -->
                                <button type="button" class="btn cancel" th:if="${invoc.invocDirectCd == 'IN'}" id="tabInOutId">TAP IN [[#{inv.btn.conf}]]</button>
                                <button type="button" class="btn cancel" th:if="${invoc.invocDirectCd == 'OUT'}" id="tabInOutId">TAP OUT [[#{inv.btn.conf}]]</button>
                                
                                <button type="button" class="btn cancel" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                    <!-- <button type="button" class="btn close" data-dismiss="modal"><i class="ico layer-close"><em>닫기</em></i></button> -->
                </div>
                <div class="dim"></div>
            </div>
            <!-- //layer -->
</html>            