<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    
		<!-- layer -->
<div class="layer-group invoice-publish" id="invoicePop">
                <div class="layer">
                    <div class="inr">
                        <div class="pdf-down-group">
                            <p class="pdf-title">GSM INVOICE FOR ROAMING TRAFFIC FROM <span th:text="${invoc.trmCmpnNm}"></span></p>
                            <p class="pdf-subtitle">Address</p>
                            <div class="table-box">
                                <table>
                                    <colgroup>
                                        <col style="width:20.6666%">
                                        <col>
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th>To. <span th:text="${invoc.rcvPlmnId}"></span></th>
                                            <td>
                                                <span th:text="${invoc.rcvCmpnNm}"></span><br>
                                                <span th:text="${invoc.rcvCmpnAdr}"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>From. <span th:text="${invoc.trmPlmnId}"></span></th>
                                            <td>
                                                <span th:text="${invoc.trmCmpnNm}"></span><br>
                                                <span th:text="${invoc.trmCmpnAdr}"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <p class="pdf-subtitle">Contents<span th:if="${invoc.taxNo !=null and invoc.taxNo != ''}"><em>*</em>Tax Registration Number: <span th:text="${invoc.taxNo}"></span></span></p>
                            <div class="table-box">
                                <table>
                                    <colgroup>
                                        <col style="width:20.6666%">
                                        <col>
                                        <col style="width:20.6666%">
                                        <col>
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th>Invoice Number</th>
                                            <td th:text="${invoc.invocNm}"></td>
                                            <th>Invoice Date:</th>
                                            <td th:text="${invoc.invocPblsDt}"></td>
                                        </tr>
                                        <tr>
                                            <th>Sequence Number</th>
                                            <td th:text="|${invoc.minTapSeq} ~ ${invoc.maxTapSeq}|"></td>
                                            <th>Traffic Period:</th>
                                            <td th:text="|${invoc.trafcStDay} ~ ${invoc.trafcEndDay}|"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="table-box horizontal">
                                <table>
                                    <colgroup>
                                        <col style="width:20.6666%">
                                        <col th:each="item:${amtList}">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>Invoiced Amounts</th>
                                            <th th:each="item:${amtList}">Value in [[${item.invocCur}]]</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Pre-Tax Amount</td>
                                            <td th:each="item:${amtList}" class="right">[[${item.invocAmt}]]</td>
                                        </tr>
                                        <tr th:if="${amtList != null and amtList.size()>0 and amtList.get(0).sendOrPay != null and amtList.get(0).sendOrPay > 0}">
                                            <td>Send or Pay</td>
                                            <td th:each="item:${amtList}" class="right">[[${item.sendOrPay}]]</td>
                                        </tr>
                                        <tr>
                                            <td>Tax</td>
                                            <td th:each="item:${amtList}" class="right">[[${item.taxAmt}]]</td>
                                        </tr>
                                        <tr>
                                            <td>Post-Tax Amount</td>
                                            <td th:each="item:${amtList}" class="right">[[${item.postInvocAmt}]]</td>
                                        </tr>
                                        <tr>
                                            <td>Discount</td>
                                            <td th:each="item:${amtList}" class="right">[[${item.dcAmt}]]</td>
                                        </tr>
                                        <tr class="total">
                                            <td>Invoice Total</td>
                                            <td th:each="item:${amtList}" class="right">[[${item.totAmt}]]</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <p class="pdf-subtitle">Information</p>
                            <div class="table-box horizontal">
                                <table>
                                    <colgroup>
                                        <col style="width:22.8333%">
                                        <col style="width:30%">
                                        <col>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>Exchange Rate</th>
                                            <th>Settlement Infomation</th>
                                            <th>Payment Infomation</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div>
                                                    <ul>
                                                        <li th:each="item:${erateList}">
                                                            <div style="clear: both;">[[${item.invocBasCur}]] - [[${item.invocChangeCur}]]</div>
                                                            <div style="float:left;width:72px;">[[${item.erateBaseDay}]]</div> 
                                                            <div style="float:left;width:72px;text-align:right;">[[${item.erateVal}]]</div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <ul>
                                                        <li>Type of Settlement : <span th:text="${invoc.setlDrectCdNm}"></span></li>
                                                        <li>Payment Currency : <span th:text="${invoc.payotCurCd}"></span></li>
                                                        <li>Payment Due In Days : <span th:text="${invoc.payotDueDay}"></span></li>
                                                        <li>Payment Due Date : <span th:text="${invoc.payotDueDate}"></span></li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <ul>
                                                        <li>Bank Name : <span th:text="${invoc.bankNm}"></span></li>
                                                        <li>SWIFT Code : <span th:text="${invoc.swiftCd}"></span></li>
                                                        <li>Account Name : <span th:text="${invoc.accNm}"></span></li>
                                                        <li>Account No : <span th:text="${invoc.accNo}"></span></li>
                                                        <li>IBAN No : <span th:text="${invoc.ibanNo}"></span></li>
                                                        <li>Correspondent Bank : <span th:text="${invoc.correspBankNm}"></span></li>
                                                        <li>SWIFT Code : <span th:text="${invoc.correspSwiftCd}"></span></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <span>Primary Contact for Enquiries : <span th:text="${invoc.contNm}"></span> 
                                <span th:if="${invoc.contEmail != null}" th:text="| E-mail : ${invoc.contEmail}|"></span>
                                    <span th:if="${invoc.contTelNo != null}"  th:text="| Tel Number : ${invoc.contTelNo}|"></span> <span th:if="${invoc.contFaxNo != null}"  th:text="| Fax Number : ${invoc.contFaxNo}|"></span> 
                                </span>
                            </div>
                            
                            <!-- next invoice page -->
                            <div th:if="${tapList != null and tapList.size()>0}">
                                <p class="pdf-subtitle">Detail</p>
	                            <div class="table-box">
	                                <table>
	                                    <colgroup>
	                                        <col style="width:20.6666%">
	                                        <col>
	                                        <col style="width:20.6666%">
	                                        <col>
	                                    </colgroup>
	                                    <tbody>
	                                        <tr>
	                                            <th>Invoice From</th>
	                                            <td th:text="${invoc.trmPlmnId}"></td>
	                                            <th>Invoice To</th>
	                                            <td th:text="${invoc.rcvPlmnId}"></td>
	                                        </tr>
	                                        <tr>
	                                            <th>Invoice Number</th>
	                                            <td th:text="${invoc.invocNm}"></td>
	                                            <th>Invoice Date</th>
	                                            <td th:text="${invoc.invocPblsDt}"></td>
	                                        </tr>
	                                        <tr>
	                                            <th>Sequence Number</th>
	                                            <td th:text="|${invoc.minTapSeq} ~ ${invoc.maxTapSeq}|"></td>
	                                            <th>Traffic Period</th>
	                                            <td th:text="|${invoc.trafcStDay} ~ ${invoc.trafcEndDay}|"></td>
	                                        </tr>
	                                    </tbody>
	                                </table>
	                            </div>
	                            <div class="table-box horizontal">
	                                <table>
	                                    <colgroup>
	                                        <col>
	                                        <col>
	                                        <col>
	                                        <col>
	                                    </colgroup>
	                                    <thead>
	                                        <tr>
	                                            <th>Date</th>
	                                            <th>Sequence Nuber</th>
	                                            <th>Pre-Tax Value in SDR</th>
	                                            <th>Tax Value in SDR</th>
	                                            <th>Post-Tax Value in SDR</th>
	                                        </tr>
	                                    </thead>
	                                    <tbody>
	                                        <tr th:each="item:${tapList}">
	                                            <td class="center">[[${item.fileCretDateVal}]]</td>
	                                            <td class="right">[[${item.stTapSeq}]] ~ [[${item.endTapSeq}]]</td>
	                                            <td class="right">[[${item.sdrSumAmt}]]</td>
	                                            <td class="right">[[${item.sdrTaxAmt}]]</td>
	                                            <td class="right">[[${item.sdrResltAmt}]]</td>
	                                        </tr>
	                                        
	                                        <tr class="total">
	                                            <td colspan="2" class="center">Total</td>
	                                            <td class="right" th:text="${tapSum.sdrTotSumAmt}"></td>
	                                            <td class="right" th:text="${tapSum.sdrTotTaxAmt}"></td>
	                                            <td class="right" th:text="${tapSum.sdrTotResltAmt}"></td>
	                                        </tr> 
	                                    </tbody>
	                                </table>
	                            </div>
                            
                            </div>
                            <div class="btn-group default">
                                <button type="button" class="btn cancel" data-dismiss="modal" >Close</button>
                                <button type="button" class="btn save pdfCla" id="invPdfDownId">PDF</button>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn close" data-dismiss="modal"><i class="ico layer-close"><em>닫기</em></i></button>
                
                </div>
                <div class="dim"></div>
            </div>
                    
            <!-- //layer -->
</html>            