<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">

<!-- page title -->
<th:block layout:fragment="title">
    <title>B.Link :: Finances Overview  &gt; Invoice Detail</title>
</th:block>

<!-- custom css -->
<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/tui-chart.min.css}">
    <style th:inline="text">
    </style>
</th:block>

<!-- custom top js -->
<th:block layout:fragment="topScript">
    <!-- jquery dataTables -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        var thisPage = {};
        thisPage['username'] = /*[[${session.username}]]*/'';
        thisPage['rtnMsg'] = /*[[${rtnMsg}]]*/'';
        thisPage['ctx'] = /*[[@{/}]]*/'/';
        //message        
        thisPage['invocId'] = /*[[${invoc.invocId}]]*/'';
        thisPage['invocDirectCd'] = /*[[${invoc.invocDirectCd}]]*/'';
        thisPage['setlMonth'] = /*[[${invoc.invocUseMonth}]]*/'';
        thisPage['trmPlmnId'] = /*[[${invoc.trmPlmnId}]]*/'';
        thisPage['rcvPlmnId'] = /*[[${invoc.rcvPlmnId}]]*/'';
        
        thisPage['inv.msg.004'] = /*[[#{inv.msg.004}]]*/ '';    //지급처리를 하시겠습니까?
        thisPage['inv.msg.005'] = /*[[#{inv.msg.005}]]*/ '';    //입금확인처리를 하시겠습니까?
        thisPage['inv.msg.007'] = /*[[#{inv.msg.007}]]*/ '';    //Invoice의 상태가 Open, Overdue가 아닙니다.
        thisPage['inv.msg.008'] = /*[[#{inv.msg.008}]]*/ '';    //Invoice의 상태가 입금확인필요가 아닙니다.
        thisPage['inv.msg.009'] = /*[[#{inv.msg.009}]]*/ '';    //CNA를 발행 하시겠습니까?
        thisPage['inv.msg.010'] = /*[[#{inv.msg.010}]]*/ '';    //CN을 발행 하시겠습니까?
        thisPage['inv.msg.011'] = /*[[#{inv.msg.011}]]*/ '';    //DN을 발행 하시겠습니까?
        		
        /*]]>*/
    </script>
</th:block>

<!-- Contents div -->
<div id="contents" layout:fragment="contents">
        <!-- container -->
        <div class="container">

                <legend>Invoice 확정 여부</legend>
                <div class="search-group">
                    <div class="inr">
                        <p class="title"><i class="ico tap"></i><span th:text="#{invd.title}">Invoice 상세</span></p>
                        <div class="location">
                            <span><i class="ico home"><em>home</em></i>- Finances Overview - <em><span th:text="#{invd.title}">Invoice 상세</span></em></span>
                        </div>
                        <div class="box">
                            <div class="select-group">
                                <div class="select-box text-type fb-0">
                                    <span th:utext="#{invd.th.mynet}">My Network</span>
                                    <div class="dis-ib" th:if="${paramInv.invocDirectCd} == 'OUT'" th:text="${invoc.trmPlmnId}"></div>
                                    <div class="dis-ib" th:if="${paramInv.invocDirectCd} == 'IN'" th:text="${invoc.rcvPlmnId}"></div>
                                </div>
                                <div class="select-box text-type fb-0">
                                    <span th:utext="#{invd.th.issuemon}">발행 월</span>
                                    <div class="dis-ib" th:text="${invoc.invocPblsDt}">
                                    </div>
                                </div>
                                <div class="select-box text-type fb-0">
                                    <span th:utext="#{invd.th.usemon}">사용 월</span>
                                    <div class="dis-ib" th:text="${invoc.setlMonth}">
                                    </div>
                                </div>
                                <div class="select-box text-type fb-0">
                                    <span th:utext="#{invd.th.partnet}">Partner Network</span>
                                    <div class="dis-ib" th:if="${paramInv.invocDirectCd} == 'IN'" th:text="${invoc.trmPlmnId}"></div>
                                    <div class="dis-ib" th:if="${paramInv.invocDirectCd} == 'OUT'" th:text="${invoc.rcvPlmnId}"></div>
                                </div>
                                
                                <div class="select-box text-type fb-0">
                                    <span th:utext="#{invd.th.stat}">Status</span>
                                    <div class="dis-ib" th:text="${invoc.statusCdNm}" id="statusNm" style="width:68%">
                                        Open
                                    </div>
                                </div>
                            </div>
                        </div>
                
                        <div class="tab-group invoice-details-tap">
                            <div class="tab-btn rect-type">
                                <button type="button" class="btn on" style="width:302px"><span th:text="${paramInv.invocDirectCd} == 'IN' ? 'Incoming' : 'Outgoing'">Incoming</span> Invoice</button>
                            </div>
                            
                            <div class="btn-group">
                                        <button type="button" class="btn border invocPopCla" data-toggle="modal" th:utext="#{invd.btn.preview}">미리보기</button>
                                </div>
                            <div class="invoice-group tab-box on">
                                <span>Traffic Period : <span th:text="|${invoc.trafcStDay} ~ ${invoc.trafcEndDay}|"></span></span>
                                <div class="invoice-top">
                                <div class="table-box">
                                    <table class="w100 has-total pad-big">
                                        <colgroup>
                                            <col>
                                            <col th:each="item:${amtList}">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>Invoiced Amounts</th>
                                                <th th:each="item:${amtList}">Value in [[${item.invocCur}]]</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                           <tr>
                                                <td class="left">Pre-Tax Amount</td>
                                                <td th:each="item:${amtList}" class="right">[[${item.invocAmt}]]</td> <!--  -->
                                            </tr>
                                            
                                            <tr th:if="${amtList != null and amtList.size()>0 and amtList.get(0).sendOrPay != null and amtList.get(0).sendOrPay > 0}">
                                                <td class="left">Send or Pay</td>
                                                <td th:each="item:${amtList}" class="right">[[${item.sendOrPay}]]</td> <!--  -->
                                            </tr>
                                            
                                            <tr>
                                                <td class="left">Tax</td>
                                                <td th:each="item:${amtList}" class="right">[[${item.taxAmt}]]</td>
                                            </tr>
                                            <tr>
                                                <td class="left">Post-Tax Amount</td>
                                                <td th:each="item:${amtList}" class="right">[[${item.postInvocAmt}]]</td>
                                            </tr>
                                            <tr>
                                                <td class="left">Discount</td>
                                                <td th:each="item:${amtList}" class="right">[[${item.dcAmt}]]</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr class="totalTit">
                                                <th>Invoice Total</th>
                                                <td th:each="item:${amtList}" class="right">[[${item.totAmt}]]</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                    
                                    
                                </div>
                                
                                <div class="commitment-group dis-ib">
                                        <div class="inr">
                                            <!-- pie: left -->
                                            <div id="pie-area1">
                                                <span th:utext="#{invd.comit.periodrate}">기간별 Commitment 도달율</span>
                                                <div class="chart-percent" id="leftCommitPercnt"><span></span></div>
                                            </div>
                                            <!-- //pie: left -->

                                            <!-- pie: right -->
                                            <div id="pie-area2">
                                                <span th:utext="#{invd.comit.totalrate}">누적 Commitment 도달율</span>
                                                <div class="chart-percent" id="rightCommitPercnt"><span></span></div>
                                            </div>
                                            <!-- //pie: right -->
                                        </div>
                                    </div>
                                
                                </div>  <!-- invoice-top -->
                            </div>
                        </div>
                        
                    </div>          
                </div>
                <div class="list-group">
                    <div class="inr">
                        <p class="title"><i class="ico list"></i>List</p>
                        <div class="search">
                            <div class="select-box currency-type">
	                            <span>Currency</span>
	                            <div class="single-select" id="sCurrencyMulti">
	                            </div>
	                        </div>
                                <input type="hidden" id="sCurrencySel">
                            <button type="button" class="btn excel" id="excelTapDown">Excel<i class="ico excel"></i></button>
                        </div>
                        <div class="table-box scroll dataColor">
                            <table id="tapList">
                               <!--  <colgroup>
                                    <col style="width:120px">
                                    <col style="width:103px">
                                    <col style="width:103px">
                                    <col style="width:97px">
                                    <col style="width:113px">
                                    
                                    <col style="width:100px">
                                    <col style="width:120px">
                                    
                                    <col style="width:100px">
                                    <col style="width:100px">
                                    <col style="width:120px">
                                    
                                    <col style="width:100px">
                                    <col style="width:100px">
                                    <col style="width:120px">
                                    
                                    <col style="width:100px">
                                    <col style="width:100px">
                                    <col style="width:120px">
                                    
                                    <col style="width:100px">
                                    <col style="width:120px">
                                </colgroup> -->
                                <thead>
                                    <tr>
                                        <th rowspan="2" th:utext="#{invd.list.th.issuemon}" style="width:120px">Date</th>
                                        <th rowspan="2" th:utext="#{invd.list.th.mynet}" style="width:90px">MY<br>Network</th>
                                        <th rowspan="2" th:utext="#{invd.list.th.partnet}" style="width:90px">Partner<br>Network</th>
                                        <th rowspan="2" th:utext="#{invd.list.th.direct}" style="width:97px">방향</th>
                                        <th rowspan="2" th:utext="#{invd.list.th.seq}" style="width:113px">Sequence</th>
                                        <th colspan="2" th:utext="#{invd.list.th.tot}" style="width:250px">Total</th>
                                        <th colspan="3" th:utext="#{invd.list.th.moc}" style="width:320px">MOC</th>
                                        <th colspan="3" th:utext="#{invd.list.th.mtc}" style="width:320px">MTC</th>
                                        <th colspan="3" th:utext="#{invd.list.th.data}" style="width:370px">Data</th>
                                        <th colspan="2" th:utext="#{invd.list.th.sms}" style="width:220px">SMS</th>
                                    </tr>
                                    <tr>
                                        <th th:utext="#{invd.list.th.rcd}" style="width:100px">Records</th>
                                        <th th:utext="#{invd.list.th.grs}" style="width:150px">Gross</th>
                                        <th th:utext="#{invd.list.th.rcd}" style="width:100px">Records</th>
                                        <th th:utext="#{invd.list.th.dur}" style="width:100px">Duration</th>
                                        <th th:utext="#{invd.list.th.grs}" style="width:120px">Gross</th>
                                        <th th:utext="#{invd.list.th.rcd}" style="width:100px">Records</th>
                                        <th th:utext="#{invd.list.th.dur}" style="width:100px">Duration</th>
                                        <th th:utext="#{invd.list.th.grs}" style="width:120px">Gross</th>
                                        <th th:utext="#{invd.list.th.rcd}" style="width:100px">Records</th>
                                        <th th:utext="#{invd.list.th.vol}" style="width:100px">Volume</th>
                                        <th th:utext="#{invd.list.th.grs}" style="width:170px">Gross</th>
                                        <th th:utext="#{invd.list.th.rcd}" style="width:100px">Records</th>
                                        <th th:utext="#{invd.list.th.grs}" style="width:120px">Gross</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="5" class="totalTit" th:utext="#{invd.list.th.tot}">Total</td>
                                        <td class="right"></td>
                                        <td class="right ellipsis"></td>
                                        <td class="right"></td>
                                        <td class="right"></td>
                                        <td class="right ellipsis"></td>
                                        <td class="right"></td>
                                        <td class="right"></td>
                                        <td class="right ellipsis"></td>
                                        <td class="right"></td>
                                        <td class="right"></td>
                                        <td class="right ellipsis"></td>
                                        <td class="right"></td>
                                        <td class="right ellipsis"></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="btn-group default" th:if="${btnRole == 1 or btnRole == 3 or btnRole == 4}">
                            <button type="button" class="btn reject" th:if="${invoc.invocDirectCd == 'IN' and ( invoc.invocStatusCd == '10' or invoc.invocStatusCd == '20' )}" id="rejectId"  th:utext="#{inv.btn.rej}">거부</button>
                            <button type="button" class="btn pay"  th:if="${invoc.invocDirectCd == 'IN' and ( invoc.invocStatusCd == '10' or invoc.invocStatusCd == '20' )}" id="payouId"  th:utext="#{inv.btn.pay}">지급</button>
                            <button type="button" class="btn deposit-confirm" th:if="${invoc.invocDirectCd == 'OUT' and invoc.invocStatusCd == '40'}" id="confId"  th:utext="#{inv.btn.confpay}">입금확인</button>
                        </div>
                    </div>
                </div>
            
        </div>
        <!-- //container -->
	
	
	   <!-- layer -->
        <div id="invoicePopDiv"></div>        
        <div id="invNoteRegPopDiv"></div>
        <!-- //layer -->
    

</div>
<!-- end Contents div -->

<th:block layout:fragment="bottomScript">
    <script type="text/javascript" th:src="@{/js/vendor/tui-code-snippet.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/vendor/raphael.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/vendor/tui-chart.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/vendor/pdfmake.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/vendor/vfs_fonts.js}"></script>
    
    <script type="text/javascript" th:src="@{/js/blink/fch/invoice/invoiceDetail.js}"></script>
    <script type="text/javascript" th:src="@{/js/blink/fch/invoice/invoicePop.js}"></script>
    <script type="text/javascript" th:src="@{/js/blink/fch/invoice/invNotePop.js}"></script>
    
</th:block>

</html>