<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/reset.css}" />
<link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/common.css}" />
<link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/error.css}" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>B.Link :: 404</title>
</head>
<body>
    <div class="wrap">
        <div class="error">
            <div class="error-cont">
                <div class="error-conts">
                    <!-- cont -->
                    <div class="error-area">
                        <div class="error-txt">
                            <h1>
                                <strong>404</strong>
                                <p>Sorry! We couldn't find that page</p>
                            </h1>
                        </div>
                        <div class="btn-wrap mt-5">
                            <a href="javascript:;">
                                <button type="button" id="back" class="btn round big navy">Go Home</button>
                            </a>
                        </div>
                        <div class="copyright">
                            <!-- <span>COPYRIGHTⓒ 2097 KT CORP. ALL RIGHTS RESERVED. </span> -->
                        </div>
                    </div>
                    <!-- //cont -->
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript"
        th:src="@{/js/vendor/jquery-3.4.1.min.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(function() {
            var _CTX = /*[[@{/}]]*/'/';
            let backUrl = _CTX + 'dashboard';
            console.log("backUrl========>", backUrl);
            $("#back").on("click", function(e) {
                location.replace(backUrl);
            });
        });
        /*]]>*/
    </script>
</body>
</html>