<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/layout}">

<!-- page title -->
<th:block layout:fragment="title">
    <title>B.Link :: DCH &gt; 계약생성</title>
</th:block>

<th:block layout:fragment="css">
    <style th:inline="text">
    </style>
</th:block>

<!-- custom top js -->
<th:block layout:fragment="topScript">
    <script th:inline="javascript">
        /*<![CDATA[*/
        let thisPage = {};
        thisPage['pageUrl'] = /*[[${#httpServletRequest.requestURI}]]*/'';
        thisPage['username'] = /*[[${session.username}]]*/'';
        thisPage['fullname'] = /*[[${session.fullname}]]*/'';
        thisPage['btnRole'] = /*[[${session.btnRole}]]*/'';
        thisPage['rtnMsg'] = /*[[${rtnMsg}]]*/'';
        thisPage['ctx'] = /*[[@{/}]]*/'/'; 
        thisPage['appMsg001'] = /*[[#{app.new.contract.m001}]]*/ '';
        thisPage['appMsg002'] = /*[[#{app.new.contract.m002}]]*/ '';
        thisPage['appMsg003'] = /*[[#{app.new.contract.m003}]]*/ '';
        thisPage['appMsg004'] = /*[[#{app.new.contract.m004}]]*/ '';
        thisPage['appMsg005'] = /*[[#{app.new.contract.m005}]]*/ '';
        thisPage['appMsg006'] = /*[[#{app.new.contract.m006}]]*/ '';
        thisPage['appMsg007'] = /*[[#{app.new.contract.m007}]]*/ '';
        thisPage['appMsg008'] = /*[[#{app.new.contract.m008}]]*/ '';
        thisPage['appMsg009'] = /*[[#{app.new.contract.m009}]]*/ '';
        thisPage['appMsg010'] = /*[[#{app.new.contract.m010}]]*/ '';
        thisPage['appMsg011'] = /*[[#{app.new.contract.m011}]]*/ '';
        thisPage['appMsg012'] = /*[[#{app.new.contract.m012}]]*/ '';
        thisPage['appMsg013'] = /*[[#{app.new.contract.m013}]]*/ '';
        thisPage['appMsg014'] = /*[[#{app.new.contract.m014}]]*/ '';
        thisPage['appMsg015'] = /*[[#{app.new.contract.m015}]]*/ '';
        thisPage['appMsg016'] = /*[[#{app.new.contract.m016}]]*/ '';
        thisPage['appMsg017'] = /*[[#{app.new.contract.m017}]]*/ '';
        thisPage['appMsg018'] = /*[[#{app.new.contract.m018}]]*/ '';
        thisPage['appMsg019'] = /*[[#{app.new.contract.m019}]]*/ '';
        thisPage['appMsg020'] = /*[[#{app.new.contract.m020}]]*/ '';
        thisPage['appMsg021'] = /*[[#{app.new.contract.m021}]]*/ '';
        thisPage['appMsg022'] = /*[[#{app.new.contract.m022}]]*/ '';
        thisPage['appMsg023'] = /*[[#{app.new.contract.m023}]]*/ '';
        thisPage['appMsg024'] = /*[[#{app.new.contract.m024}]]*/ '';
        thisPage['appMsg025'] = /*[[#{app.new.contract.m025}]]*/ '';
        thisPage['appMsg026'] = /*[[#{app.new.contract.m026}]]*/ '';
        thisPage['appMsg027'] = /*[[#{app.new.contract.m027}]]*/ '';
        thisPage['appMsg028'] = /*[[#{app.new.contract.m028}]]*/ '';
        thisPage['appMsg029'] = /*[[#{app.new.contract.m029}]]*/ '';
        thisPage['appMsg030'] = /*[[#{app.new.contract.m030}]]*/ '';
        thisPage['appMsg031'] = /*[[#{app.new.contract.m031}]]*/ '';
        thisPage['appMsg032'] = /*[[#{app.new.contract.m032}]]*/ '';
        thisPage['appMsg033'] = /*[[#{app.new.contract.m033}]]*/ '';
        thisPage['appMsg034'] = /*[[#{app.new.contract.m034}]]*/ '';
        thisPage['appMsg035'] = /*[[#{app.new.contract.m035}]]*/ '';
        thisPage['appMsg036'] = /*[[#{app.new.contract.m036}]]*/ '';
        thisPage['appMsg037'] = /*[[#{app.new.contract.m037}]]*/ '';
        /*]]>*/
    </script>
</th:block>

<!-- contents container -->
<div class="container" layout:fragment="contents">
    
    <!-- @Agreement Properties -->
    <div class="search-group">
        <div class="inr">
                
            <legend>New Agreement</legend>
            <p class="title"><i class="ico circle"></i>New Agreement</p>
            <div class="location">
                <span><i class="ico home"><em>home</em></i> Agreement Management <em>New Agreement</em></span>
            </div>
            
            <!-- I. Master Contract Info -->
            <div class="box">
            <!-- Agreement Properties -->
            
                <!-- My Network -->
                <div class="multi-select2" id="myNetwork" >
                    <span>My Network</span>
                </div>
                <!-- //My Network -->
                
                <!-- Partner Network -->
                <div class="multi-select" id="partnerNetwork">
                    <span>Partner Network</span>
                </div>
                <!-- //Partner Network -->
                
                <!-- Contract Type -->
                <div class="select-box" id="contType">
                    <span>Contract Type</span>
                </div>
                <!-- //Contract Type -->
                
                <div class="select-box fb-1">
                    <span>Responsible</span>
                    <div>
                        <input type="text" id="contrId" th:value="${session.fullname}" name="contrId">
                    </div>
                </div>
                
                <div class="select-box fb-2">
                    <span th:text="#{app.new.contract.m038}">Memo(상위)</span>
                    <div>
                        <input type="text" id="contMemo" name="contMemo">
                    </div>
                </div>
                
            </div>
            <!-- //I. Master Contract Info -->
            
            <!-- II. Sub Contract Info -->
            <div class="box">
                <div class="select-box date-type">
                    <span th:text="#{app.new.contract.m039}">시작일</span>
                    <div>
                        <input type="text" id="contStDate" name="contStDate" class="datepicker-here" data-language='en' data-date-format="yyyy-mm-dd" readonly >
                        <i class="ico calendar startDate"></i>
                    </div>
                </div>
                <div class="select-box date-type">
                    <span th:text="#{app.new.contract.m040}">종료일</span>
                    <div>
                        <input type="text" id="contExpDate" name="contExpDate" class="datepicker-here" data-language='en' data-date-format="yyyy-mm-dd" readonly >
                        <i class="ico calendar endDate"></i>
                    </div>
                </div>
                
                <!-- AutoUpdYn -->
                <div class="select-box" id="contAutoUpdYn">
                    <span th:text="#{app.new.contract.m041}">자동갱신</span>
                </div>
                <!-- //AutoUpdYn -->
                
                <div class="select-box date-type fb-1">
                    <span th:text="#{app.new.contract.m042}">종료 전 알림일</span>
                    <div>
                        <input type="text" id="contExpNotiDate" name="contExpNotiDate" class="datepicker-here" data-language='en' data-date-format="yyyy-mm-dd" readonly >
                        <i class="ico calendar"></i>
                    </div>
                </div>
                <div class="select-box fb-2">
                    <span th:text="#{app.new.contract.m043}">Memo(세부)</span>
                    <div>
                        <input type="text" id="contDtlMemo" name="contDtlMemo">
                    </div>
                </div>
            </div>
            <!-- //Agreement Properties -->
            
            
            <!-- IB 게산정보 -->
            <p class="title" th:text="#{app.new.contract.m044}"><i class="ico ib"></i>IB 계산정보</p>
            <div class="box">
            
                <!-- Currency -->
                <div class="single-select" id="currency" style="z-index: 9;">
                    <span>Currency</span>
                </div>
                <!-- //Currency -->
                 
                <!-- Tax Application -->
                <div class="select-box" id="taxAplyType">
                    <span>Tax application</span>
                </div>
                <!-- //Tax Application -->
                
                <!-- Tax Amount -->
                <div class="select-box date-type">
                    <span>Tax Amount</span>
                    <div>
                        <input type="text" id="taxAplyPecnt" name="taxAplyPecnt" maxlength="10" value="0" class="right decimal" >
                        <span>%</span>
                    </div>
                </div>
                <!-- //Tax Amount -->
                
                <!-- Excluded calls -->
                <div class="multi-select" id="excludeCalls">
                    <span>Excluded Calls</span>
                </div>
                <!-- //Excluded calls -->
                
            </div>
             <!-- IB 게산정보 -->
            <!-- //II. Sub Contract Info -->
                
        </div>
    </div>
    <!-- // @Agreement Properties -->
    
    
    <!-- @Bas Tarif On Contract -->
    <div id="contBastDtlTarifDiv" class="list-group">
        <div class="inr">
            <p class="title"><i class="ico rate"></i>Rate Regist</p>
            <div class="table-box padding5-type add-type add-table">
                <table class="w100">
                    <colgroup>
                        <col>
                        <col>
                        <col>
                        <col style="width:100px">
                        <col>
                        <col style="width:235px">
                        <col style="width:80px">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Call Type</th>
                            <th>IOT</th>
                            <th>Volume</th>
                            <th>Unit</th>
                            <th>Additional Fee Type</th>
                            <th>Additional Fee</th>
                            <th th:text="#{app.new.contract.m045}">Tax 적용</th>
                        </tr>
                    </thead>
                    
                    <tbody id="contBasTarifs">
                    
                        <tr class="border0">
                            
                            <!-- Call Type -->
                            <td>
                                <div id="callType" class="select-box">
                                </div>
                            </td>
                            <!-- //Call Type -->
                            
                            <!-- IOT (정산요율:stelTarif) -->
                            <td>
                                <div class="select-box">
                                    <div>
                                        <input type="text" id="stelTarif" name="stelTarif" maxlength="10" class="right decimal">
                                    </div>
                                </div>
                            </td>
                            <!-- //IOT -->
                            
                            <!-- Volume (정산볼륨:stelVolume) -->
                            <td>
                                <div class="select-box">
                                    <div>
                                        <input type="text" id="stelVolume" name="stelVolume" maxlength="10" class="right numberOnly">
                                    </div>
                                </div>
                            </td>
                            <!-- //Volume -->
                            
                            <!-- Unit (정산단위:stelUnit) -->
                            <td>
                                <div id="unit" class="select-box">
                                </div>
                            </td>
                            <!-- //Unit -->
                            
                            <!-- Additional Fee type (부가 수수료 금액: adtnFeeTypeCd) -->
                            <td>
                                <div id="addFeeType" class="select-box">
                                </div>
                            </td>
                            <!-- //Additional Fee type -->
                            
                            <!-- Additional Fee Amount (세금적용: adtnFeeAmt) -->
                            <td>
                                <div class="select-box">
                                    <div>
                                        <input type="text" id="adtnFeeAmt" name="adtnFeeAmt" maxlength="10" class="right adtnFeeAmt numberOnly" readonly >
                                    </div>
                                </div>
                            </td>
                            <!-- //Additional Fee Amount -->
                            
                            <!-- Tax Aply (세금적용 : taxAply) -->
                            <td>
                                <input type="checkbox" id="taxAply" name="taxAply" class="hide">
                                <label for="taxAply"><i class="ico checkbox"><em>선택</em></i></label>
                                
                                <!-- Add Buttion -->
                                <button type="button" id="addContBasDtlTarif" class="add-type-button">
                                    <i class="ico add"><em>추가하기</em></i>
                                </button>
                                <!-- //Add Buttion -->
                            </td>
                             <!-- // Tax Aply -->
                            
                        </tr>
                        
                    </tbody>
                    
                </table>
                
            </div>
            
            <!-- New ContBasTarif Dynamic Adding Area -->
            <div id="newContBasTarifDiv" class="table-box padding5-type gray-type">
                <table>
                    <colgroup>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col style="width:235px">
                        <col style="width:80px">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Call Type</th>
                            <th>IOT</th>
                            <th>Volume</th>
                            <th>Unit</th>
                            <th>Additional Fee Type</th>
                            <th>Additional Fee</th>
                            <th th:text="#{app.new.contract.m045}">Tax 적용</th>
                        </tr>
                    </thead>
                    <tbody id="newContBasTarifs">
                        <!-- [D] 추가행 삽입되는 부분 -->
                        <!-- [D] 추가행 삽입되는 부분 -->
                        <!-- [D] 추가행 삽입되는 부분 -->
                        <!-- [D] 추가행 삽입되는 부분 -->
                    </tbody>
                </table>
            </div>
            <!-- //ContDtlBasTarif Adding Area -->
            
        </div>
    </div>
    <!-- //@Bas Condition -->
    
    
    <!-- @Special Condition -->
    <div id= "specialModelDiv" class="list-group bg-white">
        <div class="inr">
            <p class="title"><i class="ico star"></i>Special Condition</p>
            <div class="search-group special-condition pd0">
                <div class="inr">
                    <div class="box d-inline w100">
                        
                        <!-- special mode -->
                        <div id="specialModel" class="select-box horizontal selected">
                             <span>Special Model</span>
                         </div>
                        <!-- //special mode -->
                        
                        <!-- Add Special Model Panel -->
                        <button type="button" id="addSpecialModel" class="btn search ml-2">Add</button>
                        <!-- // Add Special Model Panel -->
                        
                        <!-- special mode 
                        <div id="specialModel" class="select-box horizontal selected">
                             <span>Special Model</span>
                         </div>
                         -->
                         <!-- Call Type: 추후 삭제가능
                        <div class="multi-select" id="callType2">
                            <span>Call Type</span>
                        </div>
                         -->
                        <!-- Add Special Model Panel 
                        <button type="button" id="addSpecialModel" class="btn search ml-2">Add</button>
                        -->
                        
                    </div>
                </div>  
                <hr class="section-line">
                <div class="btn-group">
                    <button th:if="${session.btnRole == 1 or session.btnRole == 2 or session.btnRole == 4}" th:text="#{app.new.contract.m046}" type="button" id="saveNewAgreement" class="btn temp">임시저장</button>
                    <button th:if="${session.btnRole == 1 or session.btnRole == 2 or session.btnRole == 4}" th:text="#{app.new.contract.m047}" type="button" id="requestConsent" class="btn agree-request">동의요청</button>
                </div>
            </div>
        </div>
    </div>
    <!-- //@Special Condition -->
    
    
    <!-- [D] 190726 팝업 추가-->
    <!-- @@@@@@ Model layer @@@@@@ -->
    <div id="spclCondEditModal" class="layer-group apply">
        <div id="spclActiveTab" class="layer">
            <div class="inr">
                    
                    <div class="tab-group">
                    
                        <!-- Tap Header -->
                        <div class="tab-btn">
                            <button type="button" id="changeRate" class="spclTab btn on">Change Rate</button>
                            <button type="button" id="fixedCharge" class="spclTab btn">Fixed Charge</button>
                            <button type="button" id="specialRule" class="spclTab btn">Special Rule</button>
                        </div>
                        <!-- //Tap Header -->
                        
                        <!-- Rage Change Tap -->
                        <div id="changeRateTab" class="tab-box on">
                            <div class="table-box padding5-type gray-type">
                                <table>
                                    <colgroup>
                                        <col>
                                        <col>
                                        <col>
                                        <col style="width:100px">
                                        <col>
                                        <col>
                                        <col style="width:80px">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>Call Type</th>
                                            <th>IOT</th>
                                            <th>Volume</th>
                                            <th>Unit</th>
                                            <th>Additional Fee type</th>
                                            <th>Additional Fee</th>
                                            <th th:text="#{app.new.contract.m045}">Tax 적용</th>
                                        </tr>
                                    </thead>
                                    <tbody id="contSpclBasTarif">
                                    
                                    <!-- 
                                        <tr>
                                            <td>
                                                <div class="select-box">
                                                    <select>
                                                        <option value="">-</option>
                                                        <option value="">Voice-Local</option>
                                                        <option value="">Voice-Home</option>
                                                        <option value="">Voice-Int.</option>
                                                        <option value="">Voice-MTC.</option>
                                                        <option value="">SMS-MO</option>
                                                        <option value="">SMS-MT</option>
                                                        <option value="">Data</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="select-box">
                                                    <div>
                                                        <input type="text" id="" name="" value="" class="right">
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="select-box">
                                                    <div>
                                                        <input type="text" id="" name="" value="" class="right">
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="select-box">
                                                    <select>
                                                        <option value="">-</option>
                                                        <option value="">Sec</option>
                                                        <option value="">Min</option>
                                                        <option value="">Occ</option>
                                                        <option value="">KB</option>
                                                        <option value="">MB</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="select-box">
                                                    <select>
                                                        <option value="">-</option>
                                                        <option value="">Call Setup Fee</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="select-box">
                                                    <div>
                                                        <input type="text" id="" name="" value="" class="right">
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <input type="checkbox" id="chk1-1" name="" value="" class="hide">
                                                <label for="chk1-1"><i class="ico checkbox"><em>선택</em></i></label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="select-box">
                                                    <select>
                                                        <option value="">-</option>
                                                        <option value="">Voice-Local</option>
                                                        <option value="">Voice-Home</option>
                                                        <option value="">Voice-Int.</option>
                                                        <option value="">Voice-MTC.</option>
                                                        <option value="">SMS-MO</option>
                                                        <option value="">SMS-MT</option>
                                                        <option value="">Data</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="select-box">
                                                    <div>
                                                        <input type="text" id="" name="" value="" class="right">
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="select-box">
                                                    <div>
                                                        <input type="text" id="" name="" value="" class="right">
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="select-box">
                                                    <select>
                                                        <option value="">-</option>
                                                        <option value="">Sec</option>
                                                        <option value="">Min</option>
                                                        <option value="">Occ</option>
                                                        <option value="">KB</option>
                                                        <option value="">MB</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="select-box">
                                                    <select>
                                                        <option value="">-</option>
                                                        <option value="">Call Setup Fee</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="select-box">
                                                    <div>
                                                        <input type="text" id="" name="" value="" class="right">
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <input type="checkbox" id="chk1-1" name="" value="" class="hide">
                                                <label for="chk1-1"><i class="ico checkbox"><em>선택</em></i></label>
                                            </td>
                                        </tr>
                                        
                                         -->
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- //Rage Change Tab-->
                        
                        <!-- Fixed Charge Tab -->
                        <div id="fixedChargeTab" class="tab-box">
                            <div class="search-group">
                                <div class="inr">
                                    <div class="box">
                                    
                                        <!-- fixed rate calendar -->
                                        <div class="select-box date-type">
                                            <span th:text="#{app.new.contract.m048}">정산주기</span>
                                            <div>
                                                <input type="text" id="fixAmtDate" name="fixAmtDate" class="datepicker-here" data-language='en' readonly >
                                                <i class="ico calendar fixAmtDate"></i>
                                            </div>
                                        </div>
                                        <!-- //fixed rate calendar -->
                                        
                                        <div class="select-box" style="width:299px">
                                            <span th:text="#{app.new.contract.m049}">금액</span>
                                            <div>
                                                <input type="text" id="fixAmt" name="fixAmt" maxlength="10" class="right decimal">
                                            </div>
                                        </div>
                                        
                                        <!-- Fix Amt Currency -->
                                        <div class="single-select" id="fixAmtCur">
                                            <span>Currency</span>
                                        </div>
                                        <!-- // Fix Amt Currency -->
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- //Fixed Charge Tab -->
                        
                        <!-- Special Rule Tab -->
                        <div id="specialRuleTab" class="tab-box">
                            <div class="search-group">
                                <div class="inr">
                                    <div class="box">
                                        
                                        <!-- special rule calendar -->
                                        <div class="select-box date-type">
                                            <span th:text="#{app.new.contract.m050}">종료 전 알림일</span>
                                            <div>
                                                <input type="text" id="spclNotiDate" name="spclNotiDate" class="datepicker-here" data-language='en' readonly >
                                                <i class="ico calendar spclNotiDate"></i>
                                            </div>
                                        </div>
                                        <!-- //special rule calendar -->
                                        
                                        <div class="select-box" style="width:684px">
                                            <span>Memo</span>
                                            <div>
                                                <input type="text" id="spclMemo" name="spclMemo">
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //Special Rule Tab -->
                    
                    <!-- Tab Button -->
                    <div class="btn-group">
                        <button type="button" id="saveSpclModal" class="btn add">Save</button>
                        <button type="button" id="closeSpclModal" class="btn cancel">Cancel</button>
                    </div>
                    <!-- Tab Button -->
                    
            </div>
        </div>
        <div class="dim"></div>
    </div>
    <!-- //@@@@@@ Model layer @@@@@@ -->
    
    
</div>
<!-- // contents container -->

<th:block layout:fragment="bottomScript">
    <script type="text/javascript" th:src="@{/js/blink/dch/contract/contractCommon.js}"></script>
    <script type="text/javascript" th:src="@{/js/blink/dch/contract/createContract.js}"></script>
</th:block>

</html>