<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
     @SQL File Name : CodeInfoMapper.xml 
     @Description : Common Code Queries 
     @Author : 91230678 
-->
<mapper namespace="com.kt.blink.biz.common.mapper.CodeInfoMapper">

    <!-- find common codes list by cd_grp_id -->
    <select id="findCodesByCdGrpId" resultType="CodeInfo">
        /*CodeInfoMapper.findCodesByCdGrpId*/
        SELECT
            tcgi.cd_group_id,
            tcgi.cd_group_nm,
            tci.cd_id,
            tci.cd_desc,
            tci.cd_val1,
            tci.cd_val2,
            tci.cd_val3,
            tci.otput_prirt,
            tci.use_yn,
            tci.sys_trtr_id,
            tci.sys_svc_id,
            tci.sys_recd_cret_dt,
            tci.sys_recd_chg_dt
        FROM tb_cd_info tci INNER JOIN tb_cd_group_info tcgi
        ON tcgi.cd_group_id = tci.cd_group_id
        WHERE tci.cd_group_id = #{cdGroupId}
        AND tci.use_yn = true
        ORDER BY tci.otput_prirt, tci.cd_id
    </select>
    

    <!-- find common specific code by cd_id and cd_group_id -->
    <select id="findCodeByCdIdAndCdGrpId" resultType="CodeInfo">
        /*CodeInfoMapper.findCodeByCdIdAndCdGrpId*/
        SELECT
            tcgi.cd_group_id,
            tcgi.cd_group_nm,
            tci.cd_id,
            tci.cd_desc,
            tci.cd_val1,
            tci.cd_val2,
            tci.cd_val3,
            tci.otput_prirt,
            tci.use_yn,
            tci.sys_trtr_id,
            tci.sys_svc_id,
            tci.sys_recd_cret_dt,
            tci.sys_recd_chg_dt
        FROM tb_cd_info tci INNER JOIN tb_cd_group_info tcgi
        ON tcgi.cd_group_id = tci.cd_group_id
        WHERE tci.cd_id = #{cdId}
        AND tci.cd_group_id = #{cdGroupId}
        AND tci.use_yn = true
        ORDER BY tci.cd_id
    </select>
    
    
    <!-- find Receiver Plmn List -->
    <select id="findPartnerPlmns" resultType="CodeInfo">
        /*CodeInfoMapper.findPartnerPlmns*/
        SELECT 
            plmn_id AS cdId,
            plmn_id AS cdVal1
        FROM tb_plmn_info
        WHERE plmn_id NOT IN (SELECT cd_id FROM tb_cd_info WHERE cd_group_id = 'MyNetwork')
        GROUP BY plmn_id
    </select>
    
    
    <!-- save common code group -->
    <insert id="saveCodeGroup">
        /*CodeInfoMapper.saveCodeGroup*/
        INSERT INTO tb_cd_group_info 
        (
          cd_group_id,
          cd_group_nm,
          sys_trtr_id,
          sys_svc_id
        )
        VALUES 
        (
          #{cdGroupId},
          #{cdGroupNm},
          #{sysTrtrId},
          #{sysSvcId}
        )
    </insert>
    
    
    <!-- save common code -->
    <insert id="saveCode">
        /*CodeInfoMapper.saveCode*/
        INSERT INTO tb_cd_info (
          cd_id, 
          cd_group_id, 
          cd_desc, 
          cd_val1, 
          cd_val2, 
          cd_val3, 
          otput_prirt, 
          use_yn, 
          sys_trtr_id, 
          sys_svc_id 
        )
        VALUES 
        (
          #{cdId},
          #{cdGroupId},
          #{cdDesc},
          #{cdVal1},
          #{cdVal2},
          #{cdVal3},
          #{otputPrirt},
          #{useYn},
          #{sysTrtrId},
          #{sysSvcId}
        )
    </insert>

</mapper>
