<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorate="~{fragments/layout}">

<!-- page title -->
<th:block layout:fragment="title">
    <title>B.Link :: Admin &gt; 기업정보관리</title>
</th:block>

<!-- custom css -->
<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/dataTables/datatables.min.css}" />
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/dataTables/ColReorder-1.5.0/css/colReorder.dataTables.min.css}" />
    <style th:inline="text">
    </style>
</th:block>

<!-- custom top js -->
<th:block layout:fragment="topScript">
    <!-- jquery dataTables -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        var thisPage = {};
        thisPage['username'] = /*[[${session.username}]]*/'';
        thisPage['rtnMsg'] = /*[[${rtnMsg}]]*/'';
        thisPage['ctx'] = /*[[@{/}]]*/'/';
        thisPage['btnRole'] = /*[[${session.btnRole}]]*/''; 
        
        //message        
        thisPage['com.save.req'] = /*[[#{com.save.req}]]*/ '';
        thisPage['com.msg.engnumspec'] = /*[[#{com.msg.engnumspec}]]*/ ''; //숫자와 공백, -만 입력가능합니다.
        thisPage['user.msg.email'] = /*[[#{user.msg.email}]]*/ '';  //Email 형식이 틀립니다.
        thisPage['com.msg.numdash'] = /*[[#{com.msg.numdash}]]*/ '';  //숫자와 -만 입력하세요.
        
        /*]]>*/
    </script>
</th:block>

<!-- Contents div -->
<div id="contents" layout:fragment="contents">
        <!-- container -->
        <div class="container">
            <form id="cmpnForm">  
                <input type="hidden" name="myCmpnYn" value="Y"/>  
                <legend>기업정보 및 입출금계좌 입력</legend>
                <div class="company-info-group">
                    <p class="title"><i class="ico search"></i><span th:text="#{cmpn.title}">기업정보</span></p>
                    <div class="location">
                        <span><i class="ico home"><em>home</em></i>- Admin - <em th:text="#{cmpn.title}">Company</em></span>
                    </div>
                    <div class="inr">
                        <div class="table-box profile-type">
                            <table class="w100">
                                <colgroup>
                                    <col style="width:187px">
                                    <col>
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th th:utext="#{cmpn.company.nm}">회사명</th>
                                        <td style="padding-top:5px; padding-bottom:5px">
                                            <div class="select-box">
                                    <input type="text" id="cmpnNm" maxlength="100" th:placeholder="#{cmpn.company.nm}">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th th:utext="#{cmpn.company.addr}">회사주소</th>
                                        <td style="padding-top:5px; padding-bottom:5px">
                                            <div class="select-box">
                                    <input type="text" id="cmpnAdr" th:placeholder="#{cmpn.company.addr}" maxlength="230">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th th:utext="#{cmpn.company.tax}">Tax Registration Number</th>
                                        <td style="padding-top:5px; padding-bottom:5px">
                                        <div class="select-box fb-0">
                                            <input type="text" id="taxNo" th:placeholder="#{cmpn.company.tax}" maxlength="30" style="width:100%;">
                                        </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th th:utext="#{cmpn.company.email}">E-Mail</th>
                                        <td style="padding-top:5px; padding-bottom:5px">
                                            <div class="select-box">
                                    <input type="text" id="emailId" th:placeholder="#{cmpn.company.email}" maxlength="230">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th th:utext="#{cmpn.company.telno}">Mobile Number</th>
                                        <td style="padding-top:5px; padding-bottom:5px">
                                            <div class="select-box">
                                    <input type="text" id="telNo" th:placeholder="#{cmpn.company.telno}" maxlength="100">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th th:utext="#{cmpn.company.faxno}">Fax Number</th>
                                        <td style="padding-top:5px; padding-bottom:5px">
                                            <div class="select-box">
                                    <input type="text" id="faxNo" th:placeholder="#{cmpn.company.faxno}" maxlength="100">
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="account-info-group">
                    <p class="title"><i class="ico search"></i><span th:text="#{cmpn.bank.info}">계좌정보</span></p>
                    <div class="tab-group">
                        <div class="tab-btn rect-type">
                            <!-- [D] 현재 탭내용에 on클래스를 추가해주세요. -->
                            <button type="button" class="btn on tab1Cla" style="width:302px" th:utext="#{cmpn.tab.in}">입금계좌정보</button>
                            <button type="button" class="btn tab2Cla" style="width:302px" th:utext="#{cmpn.tab.out}">출금계좌정보</button>
                        </div>
                        <div class="account-info tab-box on tab1SubCla"> <!-- tab1SubCla -->
                            <div class="search-group">
                                <div class="inr">
                                    <div class="box">
                                        <div class="select-group">
                                            <div class="select-box">
                                                <span th:utext="#{cmpn.bank.nm}">은행명</span>
                                                <div>
                                                <input type="hidden" id="bankTypeIn" value="I"/>
                                                <input type="hidden" id="isBankStatIn" value="I"/>
                                                <input type="text" class="bankNmCla" id="bankNmIn" maxlength="100" placeholder="Bank Name">
                                                </div>
                                            </div>
                                            <div class="select-box">
                                                <span th:utext="#{cmpn.swift}">SWIFT code</span>
                                                <div>
                                                <input type="text" class="swiftCdCla" id="swiftCdIn" maxlength="50" placeholder="SWIFT Code">
                                                </div>
                                            </div>
                                            <div class="select-box">
                                                <span th:utext="#{cmpn.acc.nm}">입금계좌</span>
                                                <div>
                                                <input type="text" class="accNmCla" id="accNmIn" maxlength="100" placeholder="Account Name">
                                                </div>
                                            </div>
                                            <div class="select-box">
                                                <span th:utext="#{cmpn.acc.no}">입금계좌 번호</span>
                                                <div>
                                                <input type="text" class="accNoCla" id="accNoIn" maxlength="50" placeholder="Account No">
                                                </div>
                                            </div>
                                            <div class="select-box">
                                                <span th:utext="#{cmpn.iban.no}">IBAN No</span>
                                                <div>
                                                <input type="text" class="ibanNoCla" id="ibanNoIn" maxlength="50" placeholder="IBAN No">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p>Correspondent</p>
                            <div class="search-group">
                                <div class="inr">
                                    <div class="box">
                                        <div class="select-box">
                                            <span th:utext="#{cmpn.bank.nm}">Bank name</span>
                                            <div>
                                                <input type="text" class="correspBankNmCla" id="correspBankNmIn" maxlength="100" placeholder="Bank Name">
                                            </div>
                                        </div>
                                        <div class="select-box">
                                            <span th:utext="#{cmpn.swift}">SWIFT Code</span>
                                            <div>
                                                <input type="text" class="correspSwiftCdCla" id="correspSwiftCdIn" maxlength="50" placeholder="SWIFT Code">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="account-info tab-box tab2SubCla">  <!-- tab2SubCla -->
                            <div class="search-group">
                                <div class="inr">
                                    <div class="box">
                                        <div class="select-group">
	                                        <div class="select-box" >
	                                            <span th:utext="#{cmpn.bank.nm}">은행명</span>
	                                            <div>
	                                                <input type="hidden" id="bankTypeOut" value="O"/>
                                                    <input type="hidden" id="isBankStatOut" value="I"/>
	                                                <input type="text" class="bankNmCla" id="bankNmOut" maxlength="100" placeholder="Bank Name">
	                                            </div>
	                                        </div>
	                                        <div class="select-box">
	                                            <span th:utext="#{cmpn.swift}">SWIFT code</span>
	                                            <div>
	                                                <input type="text" class="swiftCdCla" id="swiftCdOut" maxlength="50" placeholder="SWIFT Code">
	                                            </div>
	                                        </div>
	                                        <div class="select-box">
	                                            <span th:utext="#{cmpn.acc.nm}">입금계좌</span>
	                                            <div>
	                                                <input type="text" class="accNmCla" id="accNmOut" maxlength="100" placeholder="Account Name">
	                                            </div>
	                                        </div>
                                            <div class="select-box">
                                                <span th:utext="#{cmpn.acc.no}">입금계좌 번호</span>
                                                <div>
                                                    <input type="text" class="accNoCla" id="accNoOut" maxlength="50" placeholder="Account No">
                                                </div>
                                            </div>
                                            <div class="select-box">
                                                <span th:utext="#{cmpn.iban.no}">IBAN No</span>
                                                <div>
                                                    <input type="text" class="ibanNoCla" id="ibanNoOut" maxlength="50" placeholder="IBAN No">
                                                </div>
                                            </div>
                                         </div>
                                    </div>
                                </div>
                            </div>
                            <p>Correspondent</p>
                            <div class="search-group">
                                <div class="inr">
                                    <div class="box">
                                        <div class="select-box">
                                            <span th:utext="#{cmpn.bank.nm}">Bank Name</span>
                                            <div>
                                                <input type="text" class="correspBankNmCla" id="correspBankNmOut" maxlength="100" placeholder="Bank Name">
                                            </div>
                                        </div>
                                        <div class="select-box">
                                            <span th:utext="#{cmpn.swift}">SWIFT Code</span>
                                            <div>
                                                <input type="text" class="correspSwiftCdCla" id="correspSwiftCdOut" maxlength="50" placeholder="SWIFT Code">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-group" sec:authorize="hasAuthority('ROLE_ADMIN')">
                            <!-- <button type="button" class="btn gray-d7d7d7" >수정</button> -->
                            <button type="button" class="btn save" id="cmpnSubmit" th:utext="#{btn.save}">저장</button>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="cmpnId"/>
            </form>
        </div>
        <!-- //container -->
	

</div>
<!-- end Contents div -->

<th:block layout:fragment="bottomScript">
    <script type="text/javascript" th:src="@{/dataTables/datatables.min.js}"></script>
    <script type="text/javascript" th:src="@{/dataTables/ColReorder-1.5.0/js/colReorder.dataTables.js}"></script>
    <script type="text/javascript" th:src="@{/js/blink/admin/cmpn/cmpn.js}"></script>
</th:block>

</html>